﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BrigthcoveVideoPlayer.ascx.cs" 
    Inherits="Bridgeline.iAPPS.Admin.CMS.Web.Controls.BrigthcoveVideoPlayer" %>

<asp:PlaceHolder runat="server" ID="phVideo" >

</asp:PlaceHolder>
