<%@ Master Language="C#" AutoEventWireup="true" Inherits="Bridgeline.iAPPS.Admin.Angular.Web.AngularMasterPage"
    CodeBehind="AngularMasterPage.master.cs" ClientIDMode="Static" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <title></title>
    <link rel="manifest" href="~/common/favicon/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="~/common/favicon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <asp:PlaceHolder ID="phScriptTags" runat="server"></asp:PlaceHolder>
    <asp:ContentPlaceHolder ID="cphHeader" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <div style="position: relative; min-height: 100%;">
        <asp:ContentPlaceHolder ID="cphContent" runat="server" />
    </div>
    <form runat="server"></form>
</body>
</html>
