﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EmailHeader.ascx.cs" Inherits="Bridgeline.iAPPS.Pro.UI.PageParts.Email.EmailHeader" %>

<FWControls:FWTextContainer runat="server" ID="fwtxtPreHeader"></FWControls:FWTextContainer>

<table cellspacing="0" cellpadding="0" border="0" width="100%" class="header">
  <tr>
    <td class="header-content">
        
      <img src="/image%20library/content-images/logo.png" width="196" height="40" alt="alt_text" border="0" id="imglogo" runat="server">
    </td>
  </tr>
</table>
