<%@ Master Language="C#" AutoEventWireup="true" Inherits="WatchedEventsMaster"
    MasterPageFile="~/Administration/AdministrationMaster.master" Codebehind="WatchedEventsMaster.master.cs" %>
<%@ MasterType TypeName="AdministrationMaster" %>
<asp:Content ID="head" ContentPlaceHolderID="cphHead" runat="server">
    <asp:ContentPlaceHolder ID="cphHead" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="watchedEventContent" ContentPlaceHolderID="administrationContentHolder" runat="server" Visible="true">
<div class="sub-navigation-bar">
    <asp:HyperLink ID="assetWatchesHpl" runat="server" NavigateUrl="~/Administration/WatchedEvents/AssetWatches.aspx" Text="<%$ Resources:GUIStrings, AssetWatches %>"></asp:HyperLink>
    <asp:HyperLink ID="browserWatchesHpl" runat="server" NavigateUrl="~/Administration/WatchedEvents/BrowserWatches.aspx" Text="<%$ Resources:GUIStrings, ClientBrowserWatches %>"></asp:HyperLink>
    <asp:HyperLink ID="topViewsWatchesHpl" runat="server" NavigateUrl="~/Administration/WatchedEvents/TopViewedWatches.aspx" Text="<%$ Resources:GUIStrings, TopViewedWatches %>"></asp:HyperLink>
</div>
<asp:contentplaceholder id="watchesContentPlaceHolder" runat="server">
</asp:contentplaceholder>
</asp:Content>