﻿input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}
/* DatePicker Container */
.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

    .ui-datepicker a {
        text-decoration: none;
    }
    /* DatePicker Table */
    .ui-datepicker table {
        width: 100%;
        background-color: #fff;
    }

.ui-datepicker-header {
    background: #000;
    color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
    background-position: 5px;
}

.ui-datepicker-prev {
    float: left;
    background-image: url('images/action-left-arrow.gif');
}

.ui-datepicker-next {
    float: right;
    background-image: url('images/action-right-arrow.gif');
}

.ui-datepicker thead {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    background-image: -ms-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    background-image: linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
    border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 6pt;
    padding: 5px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
    padding: 0;
    border-right: 1px solid #bbb;
}

    .ui-datepicker tbody td:last-child {
        border-right: 0px;
    }

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

    .ui-datepicker tbody tr:last-child {
        border-bottom: 0px;
    }

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
    background: -webkit-linear-gradient(top, #ededed 0%,#dedede 100%);
    background: -o-linear-gradient(top, #ededed 0%,#dedede 100%);
    background: -ms-linear-gradient(top, #ededed 0%,#dedede 100%);
    background: linear-gradient(top, #ededed 0%,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}

.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background: #6eafbf;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    filter: dropshadow(color=#4d7a85, offx=0, offy=1);
    border: 1px solid #55838f;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}
/* Calendar styles */
.picker {
    background-color: #FFFFFF;
    border: solid 1px #859ec7;
    font-size: 11px;
    cursor: pointer;
    color: #666666;
    padding-left: 1px;
}

.calendar_button {
    border: none;
    cursor: pointer;
}

.title {
    font-weight: bold;
    color: #35383a;
    vertical-align: middle;
}

.day {
    width: 25px;
    cursor: pointer;
    text-align: center;
    background-color: #f9f9f9;
    padding: 5px;
    border: solid 1px #fff;
    color: #1c68b5;
}

.dayhover {
    width: 25px;
    cursor: pointer;
    text-align: center;
    border: solid 1px #fff;
    background-color: #1c68b5 !important;
    color: #fff !important;
}

.dayheader {
    width: 25px;
    text-align: center;
    font-weight: bold;
    background-color: #f9f9f9;
    color: #35383a;
    padding: 5px;
    border: solid 1px #fff;
    border-top: solid 1px #d2d2d2;
}

.othermonthday {
    color: #999999;
}

.outofrangeday {
    visibility: hidden;
}

.selectedday {
    width: 25px;
    background-color: #fcdb34;
    color: #35383a;
    border: solid 1px #fff;
    font-weight: bold;
}

.calendar {
    border: solid 1px #d2d2d2;
    padding: 10px;
    background-color: #fff;
}

.month {
}

.nextprev {
    cursor: pointer;
    height: 25px;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
}

.selector {
    width: 14px;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    background-color: #FFFFFF;
}
/* Combo box styles */
.comboBox, .cart-combobox-disabled {
    border: solid 1px #C7C8C9;
    background-color: white;
    color: #666;
    padding-right: 3px;
}

    .cart-combobox-disabled input[type=text] {
        color: #a1a1a1 !important;
    }

    .comboBox input[type=text], .comboBoxHover input[type=text], .cart-combobox-disabled input[type=text] {
        border: 0;
    }

    .comboBox td, .comboBoxHover td, .cart-combobox-disabled td {
        vertical-align: middle;
    }

    .comboBox > tbody td:last-child, .comboBoxHover > tbody td:last-child, .cart-combobox-disabled > tbody td:last-child {
        padding-right: 3px;
    }

.comboBoxHover {
    border: solid 1px #C7C8C9;
    background-color: white;
}

.comboDropDown {
    border: solid 1px #C7C8C9;
    background-color: white;
    cursor: default;
}

.comboItem {
    font-size: 13px;
}

.comboItemHover {
    background-color: #FFFFDA;
}

.comboItem .template-preview {
    border-bottom: solid 1px #C7C8C9;
    margin-bottom: 0px;
    padding: 5px;
}

    .comboItem .template-preview .form-label {
        min-width: 75px;
        width: 75px;
    }

    .comboItem .template-preview .form-value {
        width: 200px;
        white-space: pre-wrap;
    }

    .comboItem .template-preview .form-label img {
        max-width: 75px;
        max-height: 75px;
    }
/* Tree styles */
.tree-node-icons img {
    margin-left: 6px;
    margin-top: -4px;
    border: 0;
    vertical-align: middle;
}

.HeadingRow, .SelectedHeadingRow {
    font-weight: bold;
    font-size: 14px;
}

    .HeadingRow img, .SelectedHeadingRow img {
    }

.GroupTreeNode {
    font-weight: bold;
}

.TreeNode, .GroupTreeNode, .SelectedTreeNode, .SelectedGrayedTreeNode, .GrayedTreeNode {
    padding: 5px 0 5px 2px;
}

.HoverTreeNode {
    border: solid 2px #1d69b5;
    padding: 3px 0 3px 0;
}

.SelectedTreeNode {
}

.HeadingRow, .NodeRow, .TreeRow, .SelectedNodeRowCssClass {
    cursor: default;
}

    .HeadingRow td, .SelectedHeadingRow td, .NodeRow td, .SelectedNodeRowCssClass td, .TreeRow td {
        vertical-align: middle;
    }

.SelectedHeadingRow, .SelectedNodeRowCssClass {
    background-color: #ebebeb;
}

.GrayedTreeNode, .SelectedGrayedTreeNode {
    color: #b3b3b3;
}

.tree-container .NodeEdit {
    width: 200px;
}

.tree-actions .row, .group-actions .row {
    background-color: #f8f8f8;
    border-bottom: solid 1px #d2d2d2;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

    .tree-actions .row.border-row {
        border: solid 1px #d2d2d2;
        border-top: 0;
    }

    .tree-actions .row.bottom-row {
        /*border-bottom: 0 none;*/
        padding: 0 5px;
    }

.tree-actions .columns, .group-actions .columns {
    display: block;
    float: left;
    width: auto !important;
    padding-top: 9px;
}

.tree-actions .right-column, .group-actions .right-column {
    float: right !important;
    width: auto !important;
}

.tree-actions .tree-action-button, .group-actions .group-action-button {
    display: none;
    float: left;
    margin-right: 4px;
}

.tree-actions .tree-action-button, .group-actions .group-action-button {
    margin: 0px 1px 4px;
}

.tree-actions .tree-action-button, .group-actions .group-action-button {
    margin: 0 0 0 15px;
}
/* Context Menu styles */
.ContextMenuGroup {
    border: solid 1px #d2d2d2;
    cursor: default;
    z-index: 200;
}

.ContextMenuItem {
    background-color: #fff;
    color: #707274;
    font-size: 13px;
    cursor: default;
    padding: 5px 0;
}

.ContextMenuItemHover {
    background-color: #e4ecf8;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 0;
}

    .ContextMenuItem td, .ContextMenuItemHover td {
        padding: 5px !important;
    }

.ContextMenuBreak {
    width: 100%;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    background-color: #e4e4e4;
}

.ContextMenuImageFileItem {
    background-color: #F7F7F7;
    font-size: 13px;
    cursor: default;
}

.ContextMenuListBoxItem {
    background-color: #F7F7F7;
    font-size: 13px;
    cursor: default;
    background-image: none;
}
/* Grid styles */
.no-selection {
    cursor: default;
}

.tabular-grid {
    border-top: 0;
}

    .tabular-grid .heading-row > td, .tabular-grid .row > td, .tabular-grid .alternate-row > td, .tabular-grid .selected-row > td, .tabular-grid tr.hover-row > td {
        border: solid 1px #d2d2d2;
        background-color: #f5f5f5;
        padding: 5px;
        cursor: pointer;
    }

    .tabular-grid .heading-row > td {
        background-color: #f5f5f5;
        font-weight: bold;
    }

        .tabular-grid .heading-row > td.first-cell, .tabular-grid .row > td.first-cell, .tabular-grid .hover-row > td.first-cell,
        .tabular-grid .alternate-row > td.first-cell, .tabular-grid .selected-row > td.first-cell {
            border-left: 0;
        }

        .tabular-grid .heading-row > td.last-cell, .tabular-grid .row > td.last-cell, .tabular-grid .hover-row > td.last-cell,
        .tabular-grid .alternate-row > td.last-cell, .tabular-grid .selected-row > td.last-cell {
            border-right: 0;
        }

    .tabular-grid .row > td {
        background-color: #fff;
    }

    .tabular-grid .alternate-row > td {
        background-color: #f5f5f5;
    }

    .tabular-grid .selected-row > td {
        background-color: #f5f7bf;
    }

    .tabular-grid tr.hover-row > td {
        background-color: #d4e0e7;
    }

    .tabular-grid .grid-footer {
        padding: 10px;
    }

        .tabular-grid .grid-footer img {
            margin-left: -1px;
        }

    .tabular-grid .scroll-bar, .fat-grid .scroll-bar {
        background-image: url(images/scroll_bar_bg.gif);
    }

    .tabular-grid .scroll-grip, .fat-grid .scroll-grip {
        background-image: url(images/scrollbar_grip.gif);
        background-repeat: no-repeat;
        background-position: 4px center;
        background-color: #efefef;
        border-left: solid 1px #9b9b9b;
    }

    .tabular-grid .vertical-scroll-section {
        /*overflow-y: auto !important;*/
        border: solid 1px #d2d2d2;
        border-top: 0;
    }

        .tabular-grid .vertical-scroll-section > table tr:first-child td {
            border-top: 0;
        }

.Grid .DataArea {
    height: auto !important;
}

.Grid .empty-grid-row {
    border: solid 1px #d2d2d2;
    border-top: 0;
    padding: 20px;
}

.Grid div.vertical-scroll {
    border-bottom: solid 1px #d2d2d2;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    height: auto !important;
}

.Grid .custom-header .header-text {
    float: left;
    padding: 0 5px;
}

.Grid .custom-header .sort-image {
    float: right;
    height: 7px;
    margin-top: 5px;
    width: 8px;
}

.Grid .custom-header .help-icon {
    float: right;
    margin: 3px 5px 0 5px;
}

.grid {
    border: solid 1px #d2d2d2;
    cursor: pointer;
}

    .grid td, .grid th {
        border-right: solid 1px #d2d2d2;
        border-bottom: solid 1px #d2d2d2;
        padding: 5px;
        text-align: left;
        vertical-align: top;
    }

        .grid td:last-child, .grid th:last-child {
            border-right: 0;
        }

    .grid th {
        background-color: #E6E6E6;
        font-weight: bold;
        cursor: default;
    }

    .grid tr:last-child td {
        border-bottom: 0;
    }

    .grid tr.odd-row td, .grid tr:nth-child(odd) td {
        background-color: #fff;
    }

    .grid tr.even-row td, .grid tr:nth-child(even) td {
        background-color: #e8e8e9;
    }

    .grid tr.selected-row td {
        background-color: #f5f7bf;
    }

    .grid tr.hover-row td {
        background-color: #d4e0e7;
    }

a.grid-row-action, a.grid-row-action:active, a.grid-row-action:hover, a.grid-row-action:visited {
    color: #1122CC !important;
    text-decoration: underline !important;
}

.template-properties .HeadingCell, .view-pages .HeadingCell {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.template-properties .HeadingCellText, .view-pages .HeadingCellText {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.grid tfoot td {
    border-top: solid 1px #d2d2d2;
    padding: 10px 5px !important;
}

    .grid tfoot td input[type=image] {
        float: left;
        margin-left: -1px;
    }

    .grid tfoot td div.pager {
        float: right;
    }

ul.vertical-tabs {
    list-style: none;
}

    ul.vertical-tabs li a, ul.vertical-tabs li a:visited, ul.vertical-tabs li a:hover, ul.vertical-tabs li a.selected {
        display: block;
        padding: 10px 30px;
        font-size: 14px;
        text-decoration: none;
        font-family: Arial;
        color: #333;
    }

        ul.vertical-tabs li a.selected, ul.vertical-tabs li a.selected:hover, ul.vertical-tabs li a:hover {
            background-color: #e3e3e3;
            font-weight: bold;
        }

/* ASP.Net Calendar Control */
.full-calendar {
    border: solid 1px #787878;
    border-radius: 5px;
    border-collapse: initial !important;
    background-color: #fff;
}

    .full-calendar tr th {
        background-color: #5e5858;
        color: #fff;
        padding: 5px 20px;
        border-bottom: solid 3px #f78c14;
        font-family: Arial;
        font-size: 16px;
    }

    .full-calendar td {
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        text-align: left !important;
        padding: 2px;
    }

    .full-calendar tr:nth-child(2) td {
        border-top: 0;
    }

    .full-calendar td:last-child {
        border-right: 0;
    }

    .full-calendar .selected-day {
        background-color: #e8e8e9 !important;
        color: #333 !important;
    }

    .full-calendar .other-month-day {
        background-color: #efefef !important;
        color: #333 !important;
    }
