﻿div.wrapper {
    border-top-color: #00FFFF;
}

.mn-instant-winner-contests ul li.level-1 {
    display: block;
    float: none;
    padding-left: 0;
    border: none;
    width: 135px;
}

div.iapps-dashboard-tab-content {
    border: 1px solid #d2d2d2;
    border-top: 0;
    padding: 20px;
}

.grid th {
    text-align: left;
    cursor: default;
}
    div.iapps-dashboard-tab-content h3 {
        margin-bottom: 20px;
    }

    div.iapps-dashboard-tab-content .form-section {
        border-bottom: solid 1px #d2d2d2;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

        div.iapps-dashboard-tab-content .form-section .columns {
            float: left;
        }

        div.iapps-dashboard-tab-content .form-section h3 {
        }

        div.iapps-dashboard-tab-content .form-section .left-column {
            float: left;
            width: 50%;
        }

        div.iapps-dashboard-tab-content .form-section .right-column {
            float: left;
            width: 30%;
        }

            div.iapps-dashboard-tab-content .form-section .right-column .form-row {
                float: right;
            }

        div.iapps-dashboard-tab-content .form-section label.form-label {
            min-width: 140px;
        }

.extension-grid {
    width: 100%;
}

    .extension-grid .grid-actions {
        border-left: solid 1px #d2d2d2;
        border-right: solid 1px #d2d2d2;
    }

        .extension-grid .grid-actions .excel-item {
            margin-top: 5px;
        }


    .extension-grid .empty-grid-row td {
        text-align: center;
        padding: 10px 0;
    }

.filter-section {
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}

    .filter-section > * {
        display: inline-block;
    }

    .filter-section .filter-label {
        font-weight: bold;
        content: ":";
        padding-right: 6px;
    }

    .filter-section .filter-controls span.filter-control {
        display: inline-block;
        margin-right: 6px;
    }

.bottom-section .columns {
    width: 40%;
    float: left;
    margin-right: 0;
}

.bottom-section .action-column {
    width: 10%;
    float: left;
    text-align: center;
    margin-top: 75px;
}

.bottom-section .form-label {
    font-weight: bold;
    width: 100%;
    line-height: 30px;
    padding-bottom: 5px;
}

.bottom-section .form-value select{
    width: 470px;
    height: 300px;
}

.ExtensionTable {
    display: table;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ExtensionTableHeading {
    display: table-row;
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}

.ExtensionTableRow {
    display: table-row;
    background-color: #F6F6F6;
}

.ExtensionTableRowAlternate {
    display: table-row;
}

.ExtensionTableCell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.ExtTableColPct5 {
    width: 5%;
}

.ExtTableColPct10 {
    width: 10%;
}

.ExtTableColPct15 {
    width: 15%;
}

.ExtTableColPct20 {
    width: 20%;
}

.ExtTableColPct25 {
    width: 25%;
}

.ExtTableColPct30 {
    width: 30%;
}

.ExtTableColPct35 {
    width: 35%;
}

.ExtTableColPct40 {
    width: 40%;
}

.ExtTableColPct45 {
    width: 45%;
}

.ExtTableColPct50 {
    width: 50%;
}

.ExtTableColPct55 {
    width: 55%;
}

.ExtTableColPct60 {
    width: 60%;
}

.ExtTableColPct65 {
    width: 65%;
}

.ExtTableColPct70 {
    width: 70%;
}

.ExtTableColPct75 {
    width: 75%;
}

.ExtTableColPct80 {
    width: 80%;
}

.ExtTableColPct85 {
    width: 85%;
}

.ExtTableColPct90 {
    width: 90%;
}

.ExtTableColPct95 {
    width: 95%;
}

.ExtTableColPct100 {
    width: 100%;
}

/*
    #tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#tabcontentpart {
    padding: 20px;
}

.tabcustom ul li {
    padding: 0px !important;
}

    .tabcustom ul li a {
        padding: 5px 12px !important;
        line-height: 30px;
    }

    .tabIconNav ul li a {
    border-radius: 5px;
    padding: 2px 2px !important;
    line-height: 15px;
    min-width: 75px;
}

.tabIconNavSelected {
    border: 3px solid #66CCFF;
}

.tabIconNavDefault {
    border: 1px solid #d2d2d2;
}


#tabIconNavigation {
    list-style: none;
}

    #tabIconNavigation li {
        float: left;
        text-align: center;
        margin-right: 30px;
    }

    #divTabIconNavigationClose {
    margin-bottom: 15px;
}
*/
