﻿
/* Styles for libraries */
div.left-control {
    float: left;
    width: 26%;
    border: solid 1px #d2d2d2;
    min-height: 500px;
}

    div.left-control h2, .tree-header h2, .modal-content .manual-list-right h2 {
        padding: 16px 10px;
        background-color: #F8F8F8;
        border-bottom: solid 1px #d2d2d2;
        font-size: 18px;
        color: #605f60;
        font-family: arial;
    }

    div.left-control .group-header h2 {
        font-size: 15px;
        padding: 18px 10px 17px;
        border-bottom: 0;
        color: #000;
        font-weight: bold;
    }

.modal-content h2 {
    font-size: 16px;
    padding-bottom: 12px;
}

.edit-image .left-control h2 {
    font-size: 16px;
    padding: 10px;
}

div.left-control .tree-header a, body.popupBody .tree-header a {
    float: right;
    padding: 5px;
}

.tree-header .tree-actions {
    display: block;
    width: 100%;
}

    .tree-header .tree-actions a.tree-toggle.collapse, .tree-header .tree-actions a.tree-toggle.expand {
        background: url('images/gray-right-arrow.png') no-repeat right center;
        padding-right: 10px;
        margin-right: 10px;
        display: inline-block;
    }

    .tree-header .tree-actions a.tree-toggle.expand {
        background: url('images/gray_dark_down_arrow.png') no-repeat right center;
    }

    .tree-header .tree-actions input.tree-button {
        border: 0;
        box-shadow: none;
    }

    .tree-header .tree-actions .small-button {
        padding: 3px 5px !important;
    }

div.left-control .tree-content {
    overflow: auto;
}

div.left-control .form-section {
    padding: 15px;
}

div.right-control {
    float: left;
    width: 73.7%;
    border: solid 1px #d2d2d2;
    border-left: 0;
    min-height: 500px;
}

    div.right-control .tree-breadcrumb {
        margin-bottom: 10px;
    }

        div.right-control .tree-breadcrumb li {
            display: inline;
            display: inline-block;
            padding-right: 15px;
        }

            div.right-control .tree-breadcrumb li:last-child {
                font-weight: bold;
            }

.modal-content div.right-control .tree-breadcrumb {
    margin-bottom: 0px;
}

.modal-content .left-control {
    border: solid 1px #d2d2d2;
    width: 28%;
}

.modal-content .right-control {
    padding-top: 0px;
    border: 0;
    padding-left: 16px;
    width: 70%;
}

.modal-content .manual-list-left .right-control {
    padding-left: 12px;
}

.modal-content .grid-actions {
    padding: 0;
    border: 0;
}

.fat-grid, .iapps-grid {
    border-top: solid 1px #d2d2d2;
    background-color: transparent;
    cursor: pointer;
}

.tab-grid-section .fat-grid, .tab-grid-section .iapps-grid {
    border-left: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
}

.iapps-grid-unselectable {
    cursor: default;
}

.modal-content .fat-grid {
    border: 0;
}

.item-drag-template {
    margin: 10px;
}

.drag-template {
    background-color: #fff;
    border: solid 2px #eea063;
    opacity: 0.8;
    width: 800px;
    cursor: move;
}

.iapps-grid {
    border-left: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
}

    .iapps-grid .iapps-heading-row .undefined, .iapps-grid .iapps-heading-row .iapps-heading-cell {
        background-color: #f5f5f5;
        border-bottom: solid 1px #d2d2d2;
        border-right: solid 1px #d2d2d2;
        padding: 5px;
    }

    .iapps-grid .iapps-heading-row .undefined {
        border-right: 0;
    }

    .iapps-grid .iapps-heading-row .iapps-last-heading-cell {
        border-right: 0;
    }

    .iapps-grid .iapps-row .iapps-data-cell, .iapps-grid .iapps-alternate-row .iapps-data-cell, .iapps-grid .iapps-selected-row .iapps-data-cell, .iapps-grid .iapps-hover-row .iapps-data-cell, .iapps-grid .iapps-row .iapps-indent-cell, .iapps-grid .iapps-alternate-row .iapps-indent-cell, .iapps-grid .iapps-selected-row .iapps-indent-cell, .iapps-grid .iapps-hover-row .iapps-indent-cell {
        border-bottom: solid 1px #d2d2d2;
        padding: 5px;
        vertical-align: middle;
    }

    .iapps-grid .iapps-row .iapps-data-cell, .iapps-grid .iapps-row .iapps-indent-cell {
        background-color: #fff;
    }

    .iapps-grid .iapps-alternate-row .iapps-data-cell, .iapps-grid .iapps-alternate-row .iapps-indent-cell {
        background-color: #f5f5f5;
    }

    .iapps-grid .iapps-hover-row .iapps-data-cell, .iapps-grid .iapps-hover-row .iapps-indent-cell {
        background-color: #d4e0e7;
    }

    .iapps-grid .iapps-selected-row .iapps-data-cell, .iapps-grid .iapps-selected-row .iapps-indent-cell {
        background-color: #f5f7bf;
    }

    .iapps-grid .iapps-row .iapps-indent-cell, .iapps-grid .iapps-alternate-row .iapps-indent-cell, .iapps-grid .iapps-selected-row .iapps-indent-cell, .iapps-grid .iapps-hover-row .iapps-indent-cell {
        padding: 5px 0;
    }

.row .collection-row, .alternate-row .collection-row, .selected .collection-row, .hover-row .collection-row, .row .modal-grid-row, .alternate-row .modal-grid-row, .selected .modal-grid-row, .hover-row .modal-grid-row {
    background-color: #fff;
    border-bottom: solid 1px #d2d2d2;
    /*padding: 0 5px;*/
    vertical-align: middle;
    display: table;
    width: 100%;
}

.alternate-row .collection-row, .alternate-row .modal-grid-row {
    background-color: #e8e8e9;
    border-bottom: solid 1px #d2d2d2;
}

.hover-row .collection-row, .hover-row .modal-grid-row {
    background-color: #d4e0e7;
}

.selected .collection-row, .selected .modal-grid-row, .selected-list-item .modal-grid-row {
    background-color: #f5f7bf;
}

.row .selected-list-item, .alternate-row .selected-list-item, .row.selected-list-item .collection-row,
.alternate-row.selected-list-item .collection-row, .grid tr.selected-list-item td {
    background-color: #f5f7bf;
}

.archive-row .collection-row, .archive-row .modal-grid-row {
    /*font-style: italic !important;     color: #aaa;*/
}

.disabled-row .collection-row {
    font-style: italic !important;
    color: #aaa;
}

.collection-row > div {
    /*float: left;*/
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 0;
}

.collection-row .first-cell {
    text-align: center;
    width: 6%;
}

    .collection-row .first-cell input[type=checkbox] {
        margin-left: 10px;
    }

.collection-row .middle-cell, .collection-row .large-cell {
    width: 53%;
    white-space: normal;
    /*padding: 2px 3px 0 0;*/
    word-wrap: break-word;
    border-right: solid 1px #d2d2d2;
}

    .collection-row .middle-cell h4, .collection-row .large-cell h4 {
        float: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;
    }

.collection-row .large-cell {
    width: 62%;
    padding: 10px 20px;
}

.collection-row .last-cell, .collection-row .small-cell {
    width: 38%;
    /*text-align: right;*/
    white-space: normal;
    padding-right: 12px;
    padding-left: 12px;
}

    .collection-row .last-cell strong {
        /*font-weight: normal;*/
    }

.movable-row {
    padding-left: 30px !important;
    background: url('images/icon-move-2.png') no-repeat 20px 50%;
}

    .movable-row .first-cell {
        text-align: left !important;
        width: 9% !important;
        padding: 15px 0 15px 20px;
    }

    .movable-row .middle-cell {
        padding: 15px 0;
    }

    .movable-row .last-cell {
        padding: 15px 12px;
    }

    .movable-row.collection-row .large-cell {
        padding-left: 80px;
        padding-right: 20px;
    }

.drag-template .movable-row {
    background: url('images/icon-move-2.png') no-repeat 40px 50%;
}

div.collection-table div.row:hover .collection-row, div.collection-table div.alternate-row:hover .collection-row {
    background-color: #d4e0e7;
}

.empty-collection-table {
    padding: 0;
    margin: 0;
    border: 0;
}

    .empty-collection-table td, .empty-list, .empty-grid-cell {
        border-bottom: solid 1px #d2d2d2;
        background-color: #f5f5f5;
        padding: 15px;
        text-align: center;
    }

.empty-list {
    border-top: solid 1px #d2d2d2;
}

.tab-grid-section .empty-list {
    border: solid 1px #d2d2d2;
}

.not-selectable .grid-item, .not-selectable .grid-item td {
    cursor: default;
}

/****************** Drop Menu Start ********************/
ul.drop-menu {
    float: left;
    position: relative;
    margin-right: 10px;
}

    ul.drop-menu:last-child {
        margin-right: 0;
    }

    ul.drop-menu > li {
        padding: 3px 6px 3px 10px;
        display: inline-block;
    }

.right-column ul.drop-menu > li, .middle-column ul.drop-menu > li {
    padding: 0 6px 0 10px;
    margin-right: 0;
}

ul.drop-menu > li.hasSubMenu a {
    text-decoration: none;
    color: #fff;
}

ul.drop-menu > li.hasSubMenu > a {
    background: url('images/drop-menu-arrow.png') no-repeat right 6px;
    padding-right: 15px;
    color: #54677d;
}

ul.drop-menu.grid-item-action > li.hasSubMenu > a, ul.drop-menu.with-bg > li.hasSubMenu > a {
    background: none;
}

ul.drop-menu.grid-item-action > li.hasSubMenu > a {
    background: none;
}

ul.grid-button > li.hasSubMenu > a {
    background: url('images/arrow_down_white.png') no-repeat right 6px;
    color: #fff;
}

ul.drop-menu ul {
    display: none;
    position: absolute;
    border: solid 1px #d2d2d2;
    border-radius: 3px;
    background-color: #fff;
    top: 18px;
    left: 0px;
    min-width: 120px;
    z-index: 9999;
}

ul.grid-item-action.drop-menu ul, ul.grid-bulk-action.drop-menu ul, ul.grid-action.drop-menu ul, ul.grid-button ul {
    top: 30px;
    left: -2px;
}

ul.drop-menu ul li {
    padding: 5px 10px;
    white-space: nowrap;
    color: #333;
}

div.grid-actions div.right-column ul.drop-menu ul li {
    padding: 5px 20px 5px 10px;
}

ul.drop-menu ul li:hover {
    background-color: #C9C9CA;
    cursor: pointer;
}

ul.drop-menu ul li a {
    color: #333 !important;
}
/****************** Drop Menu End ********************/
/****************** Grid Actions Start ********************/
.grid-actions .top-row {
    border-bottom: solid 1px #d2d2d2;
    background-color: #f8f8f8;
}

    .grid-actions .top-row.dark-row {
        background-color: #605f60;
        border-radius: 5px 5px 0 0;
    }

.modal-content .grid-actions .top-row {
    border: solid 1px #d2d2d2;
    border-bottom: 0;
}

.grid-actions .top-row .link-button {
    display: block;
    margin: 10px 15px 0px 0px;
}

.modal-content .grid-actions .bottom-row {
    border: solid 1px #d2d2d2;
    border-bottom: 0;
    padding: 0 10px 0px 11px !important;
}

.popupBody .select-library .grid-actions .bottom-row {
    border-bottom: 0;
    padding-left: 5px !important;
}

.grid-actions .bottom-row {
    height: 50px;
    padding: 0 10px;
    background-color: #f8f8f8;
}

.tab-grid-section .grid-actions .bottom-row {
    border-right: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
}

.grid-actions .tab-row, .tree-actions .tab-row {
    border: 0;
}

.tree-actions .row.tab-row {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    background: #fff;
}

.tree-actions .tab-row .columns {
    padding-top: 0;
}

.grid-actions .tab-row .tabs {
    margin-top: 15px;
}

.grid-actions-fixed .tab-row .tabs {
    margin-top: 10px;
}

.grid-actions .tab-row .right-column {
    margin-top: 8px;
}

.grid-actions-fixed .tab-row .right-column {
    margin-top: 4px;
}

.grid-actions .tab-row .tab-border, .tree-actions .tab-row .tab-border, .iapps-tab-border {
    border-top: 5px solid #f78c14;
    border-radius: 0 5px 0 0;
}

body.popupBody .grid-actions .tab-row .tab-border, body.popupBody .tree-actions .tab-row .tab-border {
    border-top: 5px solid #a1a1a1;
}

.grid-actions .row h2 {
    font-family: arial;
    padding: 16px 10px;
    color: #605f60;
    font-size: 18px;
}

.grid-actions .row.dark-row h2 {
    color: #fff;
}

.grid-actions .columns, .grid-actions .columns input, .grid-actions .grid-search-box, .grid-actions .select-all-box, .grid-actions ul.horizantal-list, .grid-actions .grid-bulk-button, .grid-actions .grid-select {
    display: block;
    float: left;
}

.grid-actions .right-column {
    float: right;
    width: auto !important;
}

.grid-actions .bottom-row .right-column div.grid-button {
    background: url("images/grid-item-button.png") repeat-x scroll left bottom #EBECED;
    border: 1px solid #D6D8D9;
}

    .grid-actions .bottom-row .right-column div.grid-button input.grid-button {
        color: #54677D;
        padding: 3px 8px 4px;
        height: auto;
    }

.grid-actions .bottom-row .columns, .grid-actions .bottom-row .right-column {
    margin-top: 9px;
}

.grid-actions ul.horizantal-list {
    margin-left: 5px;
}

    .grid-actions ul.horizantal-list li {
        display: block;
        float: left;
        padding-right: 16px;
        cursor: pointer;
    }

.grid-actions .right-column div.pager-size {
    float: left;
    margin-top: 2px;
    padding-right: 10px;
    border-right: solid 1px #8c8c8c;
}

.grid-actions ul.tab-menu, .tree-actions ul.tab-menu {
    margin-top: 6px;
}

    .grid-actions ul.tab-menu li, .tree-actions ul.tab-menu li {
        float: left;
        padding: 6px 24px;
        background-color: #f5f5f5;
        cursor: pointer;
    }

        .grid-actions ul.tab-menu li:first-child {
            margin-left: 10px;
            /*border-left: solid 1px #d2d2d2;*/
        }

        .grid-actions ul.tab-menu li.selected, .tree-actions ul.tab-menu li.selected {
            background-color: #ffffff;
        }

.grid-actions .tab-row ul.tab-menu, .tree-actions .tab-row ul.tab-menu {
    margin-top: 4px;
}

    .grid-actions .tab-row ul.tab-menu li, .tree-actions .tab-row ul.tab-menu li {
        padding: 0;
    }

        .grid-actions .tab-row ul.tab-menu li:first-child, .tree-actions .tab-row ul.tab-menu li:first-child {
            margin-left: 0px;
        }

.grid-actions .right-column ul.drop-menu, .grid-actions .middle-column ul.drop-menu {
    background: transparent;
    border: 0;
    border-radius: 0;
    border-right: solid 1px #d2d2d2;
}

.grid-actions .middle-column ul.drop-menu {
    border-left: solid 1px #d2d2d2;
    border-right: 0;
}

    .grid-actions .middle-column ul.drop-menu:first-child {
        border-left: 0;
    }

    .grid-actions .right-column ul.drop-menu.last, .grid-actions .middle-column ul.drop-menu.last {
        border: 0;
    }

.grid-actions .right-column ul.drop-menu > li.hasSubMenu > a {
    background-image: url('images/arrow_down.png');
}

.grid-actions .right-column ul.drop-menu > li.hasSubMenu a, .grid-actions .middle-column ul.drop-menu > li.hasSubMenu a {
    color: #1c68b5;
}

.grid-actions ul li.selected, .grid-actions ul li.selected-asc, .grid-actions ul li.selected-desc {
    font-weight: bold;
}

.grid-actions ul li.selected-asc {
    padding-right: 25px;
    background: url('images/sort-ascend.png') no-repeat right 3px;
}

.grid-actions ul li.selected-desc {
    padding-right: 25px;
    background: url('images/sort-descend.png') no-repeat right 3px;
}

.grid-actions .pager-info {
    float: left;
    padding-left: 10px;
    margin-top: 9px;
}

.grid-actions .pager-buttons, .grid-actions .view-selector {
    float: left;
    margin: 5px 0 0 10px;
}

    .grid-actions .pager-buttons img, .grid-actions .view-selector img {
        float: left;
        cursor: pointer;
    }

.grid-actions .view-selector {
    margin-top: 10px;
}

    .grid-actions .view-selector img {
        margin-right: 10px;
    }

.grid-actions .pager-buttons img.next-page {
    margin-left: -1px;
}

.grid-actions .top-row .right-column a {
    padding: 10px;
    background: none;
    border: 0;
    text-decoration: none;
    color: #1C68B5;
}

    .grid-actions .top-row .right-column a:hover {
        text-decoration: underline;
    }

.grid-actions .top-row .grid-search-box, .grid-actions .bottom-row .grid-search-box {
    margin: 13px 10px 12px 10px;
    border: solid 1px #d2d2d2;
    background-color: #fff;
}

.grid-actions .bottom-row .grid-search-box {
    margin-top: 4px;
}

    .grid-actions .bottom-row .grid-search-box input[type=textbox] {
        border: 0;
    }

.modal-content .grid-actions .top-row .grid-search-box {
    /*margin: 6px 10px;*/
}

.grid-actions .top-row .grid-search-text {
    float: left;
    margin: 0;
    border: 0;
    height: 15px;
}

.grid-actions .grid-search-button {
    float: left;
    padding: 5px 4px;
    background-color: #fff;
}

.grid-actions .top-row .right-column > .grid-button, .grid-actions .bottom-row .right-column > .grid-button {
    margin: 10px 10px 0 0;
}

.grid-actions .select-all-box {
    margin: 0px 15px 0px 0px;
}

    .grid-actions .select-all-box label {
        display: block;
        font-size: 10px;
    }

    .grid-actions .select-all-box .item-select-all {
        margin: 0 0 0 13px;
    }

.grid-actions input.grid-action, .grid-actions .grid-item-action, .grid-actions input.grid-item-action, .grid-actions ul.grid-item-action, .grid-actions .grid-bulk-action {
    display: none;
}

.grid-actions .date-range {
    position: relative;
}

.grid-actions .date-range-popup {
    position: absolute;
    margin: 0;
    left: 0;
    top: 24px;
}
/****************** Grid Actions End ********************/
/****************** Tabs Start ********************/
ul.iapps-tabs > li:first-child, ul.iapps-tabs > li.first {
    border-radius: 5px 0 0;
}

ul.iapps-tabs > li {
    background: url("images/tab-bg.png") repeat-x left top;
    border: 0 none;
    border-radius: 0;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

    ul.iapps-tabs > li:last-child {
        border-radius: 0 5px 0 0;
    }

    ul.iapps-tabs > li > span {
        background: url('images/tab-separator.png') repeat-y right top;
        display: block;
        padding: 5px 15px 5px 10px;
        text-decoration: none;
    }

    ul.iapps-tabs > li.prev > span {
        background: none;
    }

    ul.iapps-tabs > li > span a {
        color: #6c6767;
        text-decoration: none;
    }

    ul.iapps-tabs > li:last-child span {
        background: none;
    }

    ul.iapps-tabs > li:first-child > span {
        padding-left: 15px;
    }

    ul.iapps-tabs > li.selected-tab {
        border-left: 1px solid #f8a240;
        border-radius: 5px 0 0;
    }

        ul.iapps-tabs > li.selected-tab:last-child {
            border-left: 0;
            border-radius: 0 5px 0 0;
        }

    ul.iapps-tabs > li.selected-tab {
        background: url("images/tab-selected-bg.png") repeat-x left top;
    }

        ul.iapps-tabs > li.selected-tab:first-child span, ul.iapps-tabs > li.selected-tab span {
            background: url("images/tab-selected-right.png") no-repeat right top;
            color: #fff;
            padding-right: 30px;
            padding-left: 15px;
        }

        ul.iapps-tabs > li.selected-tab:last-child span {
            background: url("images/tab-selected-left.png") no-repeat left top;
            padding-left: 35px;
        }

        ul.iapps-tabs > li.selected-tab:first-child span {
            background: url("images/tab-selected-right.png") no-repeat right top;
            padding-left: 15px;
        }

        ul.iapps-tabs > li.selected-tab:first-child:last-child, ul.iapps-tabs > li.selected-tab.first.last {
            border-radius: 5px 5px 0 0;
        }

            ul.iapps-tabs > li.selected-tab:first-child:last-child span, ul.iapps-tabs > li.selected-tab.first.last span {
                background: none;
            }

        ul.iapps-tabs > li.selected-tab span a {
            color: #fff;
            text-decoration: none;
        }

    ul.iapps-tabs > li > span {
        color: #6c6767;
        display: block;
        padding: 5px 15px 4px 10px;
        text-decoration: none;
    }

div.iapps-tab-content {
    top: -1px;
    border-top: 5px solid #f78c14;
    background-color: #ebebeb;
    border-radius: 0 5px 5px 5px;
    padding: 20px 15px;
    position: relative;
    z-index: 98;
    top: -1px;
}

body.popupBody ul.iapps-tabs > li {
    background: url("images/tab-bg-popup.png") repeat-x left top;
}

    body.popupBody ul.iapps-tabs > li.selected-tab {
        background: url("images/tab-selected-bg-popup.png") repeat-x left top !important;
    }

        body.popupBody ul.iapps-tabs > li.selected-tab:first-child span, body.popupBody ul.iapps-tabs > li.selected-tab span {
            background: url("images/tab-selected-right-popup.png") no-repeat right top;
        }

        body.popupBody ul.iapps-tabs > li.selected-tab:last-child span {
            background: url("images/tab-selected-left-popup.png") no-repeat left top;
        }

        body.popupBody ul.iapps-tabs > li.selected-tab:first-child:last-child, body.popupBody ul.iapps-tabs > li.selected-tab.first.last {
            border-radius: 5px 5px 0 0;
        }

            body.popupBody ul.iapps-tabs > li.selected-tab:first-child:last-child span, body.popupBody ul.iapps-tabs > li.selected-tab.first.last span {
                background: none;
            }

    body.popupBody ul.iapps-tabs > li.selected-tab {
        border-left: solid 1px #a1a1a1;
    }

        body.popupBody ul.iapps-tabs > li.selected-tab:last-child {
            border-left: 0;
        }

    body.popupBody ul.iapps-tabs > li > span {
        padding: 4px 15px 3px 10px;
    }

body.popupBody .tree-actions ul.iapps-tabs > li > span {
    padding: 3px 15px 2px 10px;
}

body.popupBody ul.iapps-tabs > li.selected-tab:last-child span {
    padding-left: 20px;
}

body.popupBody div.iapps-tab-content {
    border-top: solid 5px #a1a1a1;
}

body.popupBody ul.iapps-tabs > li > span {
    background: url('images/tab-separator-popup.png') repeat-y right top;
}

body.popupBody ul.iapps-tabs > li.prev > span, body.popupBody ul.iapps-tabs > li:last-child > span {
    background: none;
}
/****************** Tabs End ********************/
/****************** File Upload Start ********************/
div.iapps-file-upload {
    position: relative;
}

div.iapps-fake-file {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

    div.iapps-fake-file input[type=text] {
        margin-right: 6px;
    }

input.iapps-file {
    position: relative;
    text-align: right;
    height: 28px;
    opacity: 0;
    z-index: 2;
}
/****************** File Upload End ********************/
/****************** Click Menu Start ********************/
.iapps-click-menu {
    position: absolute;
    z-index: 1000;
}

    .iapps-click-menu .iapps-menu-container {
        border: solid 1px #d2d2d2;
        background-color: #fff;
        box-shadow: 3px 3px 3px #A8A8A8;
    }

        .iapps-click-menu .iapps-menu-container ul {
            padding: 10px;
            overflow-x: hidden;
            overflow-y: auto;
        }

    .iapps-click-menu .iapps-menu-header {
        background-color: #333333;
        padding: 6px 10px;
    }

        .iapps-click-menu .iapps-menu-header h4 {
            float: left;
            color: #fff;
        }

        .iapps-click-menu .iapps-menu-header img {
            display: block;
            float: right;
        }

    .iapps-click-menu li {
        padding: 4px 4px 4px 0;
        list-style-type: square;
        margin-left: 15px;
    }

a.iapps-click-item {
    text-decoration: underline;
}

.iapps-click-menu .iapps-menu-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #d2d2d2;
}

.iapps-menu-close {
    position: absolute;
    right: -6px;
    top: -5px;
    cursor: pointer;
}
/****************** Click Menu End ********************/
/****************** Fix Header Start ********************/
div.iapps-header-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    background: #FFFFFF;
}
/****************** Fix Header End ********************/
/****************** Alert Box Start ********************/
div.iapps-alert-box {
    background: #FFFFFF;
    border: solid 1px #d2d2d2;
    box-shadow: 3px 3px 3px #676767;
}

    div.iapps-alert-box .iapps-alert-content {
        padding: 30px;
        min-height: 50px;
    }

    div.iapps-alert-box .iapps-alert-footer {
        text-align: right;
        padding: 15px;
        border-top: solid 1px #d2d2d2;
    }
/****************** Alert Box End ********************/
/****************** Preview Start ********************/
.preview-content {
    height: 400px;
    width: 800px;
    overflow: auto;
    border: solid 1px #d2d2d2;
    padding: 10px;
}

.preview-options {
    border: solid 1px #d2d2d2;
    border-top: 0;
    border-right: 0;
    float: left;
}

    .preview-options a {
        display: block;
        float: left;
        border-right: solid 1px #d2d2d2;
        padding: 4px 10px;
    }

        .preview-options a.selected, .preview-options a.selected:hover {
            font-weight: bold;
            color: #333;
            cursor: default;
            text-decoration: none;
        }

.iapps-search-hilight {
    background: none repeat scroll 0 0 #FFFF00;
}

.preview-row {
    margin-bottom: 6px;
}

    .preview-row .preview-value {
        padding: 4px;
    }

    .preview-row .preview-label {
        background-color: #e8e8e9;
        border: solid 1px #d2d2d2;
        padding: 4px;
    }
/****************** Preview End ********************/
/****************** Splitter Start ********************/
.iapps-splitter-bar, .iapps-splitter-expanded {
    position: absolute;
    border-left: 0;
    padding: 6px 3px;
    background: #fff url('images/gray-left-arrow.png') no-repeat center center;
    color: #fff;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border: solid 1px #e5e5e5;
    border-left: 0;
    height: 25px;
    left: -1px;
    box-shadow: 2px 2px 3px #333;
}

.iapps-splitter-expanded {
    background: #fff url('images/gray-right-arrow.png') no-repeat center center;
    left: 0;
}

.iapps-splitter-hover {
}

.iapps-expand-section {
    width: 100% !important;
    padding-left: 0 !important;
    border: solid 1px #d2d2d2 !important;
}
/****************** Splitter End ********************/
.assign-tags .tree-header a {
    float: right;
    padding: 5px 10px;
}

.assign-tags .tree-content {
    border: solid 1px #d2d2d2;
}

.popupBody .iapps-expand-section {
    border: 0 !important;
}

.panel-refresh-button {
    display: none !important;
}
/* Manage Data Library Popup Styles */
.data-library-details {
    width: 1080px;
}

    .data-library-details .columns {
        float: left;
    }

    .data-library-details .left-column {
        width: 360px;
    }

div.data-library-details .right-column {
    width: 610px;
}

.data-library-details .left-column .form-row {
    margin-bottom: 14px;
}

.data-library-details .left-column .form-label {
    min-width: 80px;
}

.data-library-details .left-column h4 {
    margin-bottom: 8px;
    font-weight: bold;
    float: none;
}

.data-library-details .libraryTreeOuter {
    border: solid 1px #d2d2d2;
    width: 320px;
}

    .data-library-details .libraryTreeOuter .TreeHeading {
        background: none;
    }

.data-library-details .right-column .coaching-block {
    border: solid 1px #d2d2d2;
    background-color: #f5f5f5;
    padding: 8px;
    margin-left: 15px;
}

.data-library-details .tree-container {
    margin-right: 15px;
}

.data-library-details .tree-content {
    border: solid 1px #d2d2d2;
    border-top: 0;
    border-radius: 0 0 5px 5px;
}
/* Manage Display Library Popup Styles */
.display-library-details {
    width: 500px;
}

    .display-library-details .checkbox-list {
        width: 190px;
    }

    .display-library-details .modal-content {
        min-height: 350px;
    }

    .display-library-details .columns {
        float: left;
    }
/* Manage Asset Library Popup Styles */
.asset-library-details {
    width: 860px;
}

    .asset-library-details .columns {
        float: left;
        width: 410px;
    }

        .asset-library-details .columns h3 {
            margin-bottom: 8px;
        }

    .asset-library-details .right-column {
        width: 390px;
        float: right;
    }

    .asset-library-details .libraryTreeOuter {
        border: solid 1px #d2d2d2;
        width: 326px;
    }

        .asset-library-details .libraryTreeOuter .TreeHeading {
            background: none;
        }

    .asset-library-details .tree-container {
        margin-right: 15px;
    }

    .asset-library-details .tree-content {
        border: solid 1px #d2d2d2;
        border-radius: 0 0 5px 5px;
    }

.template-details {
    width: 860px;
}

    .template-details.email-templates {
        width: 500px;
    }

    .template-details .left-column {
        width: 390px;
    }

    .template-details .right-column {
        width: 400px;
        padding-left: 20px;
    }

    .template-details .checkbox-list {
        width: 240px;
    }

    .template-details .tree-container {
        border: solid 1px #d2d2d2;
    }

div.content-details {
    width: 1240px;
}

    div.content-details .modal-content {
        min-height: 300px;
    }

div.create-content-siteeditor {
    width: 1020px;
}
/* Rad Editor related START */
div.rad-editor {
    border: solid 1px #d2d2d2 !important;
    border-radius: 5px;
    padding: 4px;
    float: left;
    background: #fff;
}

    div.rad-editor > table {
        background: #d3d3d3;
        border-radius: 5px;
    }

    div.rad-editor .reModule {
        display: none;
    }

    div.rad-editor div.reContentCell {
        border: solid 1px #d3d3d3 !important;
    }
/* Rad Editor related END */
div.content-details .left-column {
    width: 360px;
}

div.content-details .right-column {
    width: 818px;
}

div.page-details .combo-editable {
    width: 200px !important;
}

div.page-details .checkbox-list {
    width: 450px;
    height: 80px;
}

div.page-details .comboTextBox {
    width: 200px !important;
}

div.data-library-details.page-details .right-column {
    width: 670px;
}

div.page-details .right-column div.iapps-tab-content {
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border-left: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
    border-bottom: solid 1px #d2d2d2;
}

div.page-details .right-column .attribute-control .checkbox-list {
    width: 268px;
}

div.page-details .right-column .form-label {
    min-width: 160px;
}
/* site variant styles */
div.wizard h3 {
    margin-bottom: 15px;
}

/*div.wizard h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #35383a;
}*/

div.wizard div.header-container {
    float: left;
}

div.wizard div.navigation-container {
    float: right;
    margin-top: 10px;
}

div.wizard label.form-label {
    width: 135px;
    padding-right: 15px;
}

div.wizard a.stepIndicator, div.wizard a.stepIndicator:hover, div.wizard a.stepIndicator:visited, div.wizard a.stepIndicator:active {
    display: inline-block;
    margin: 20px 20px 5px 0;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: bold;
    color: #9aa2a8;
}

div.wizard .active10, div.wizard .active21, div.wizard .active32, div.wizard .active43, div.wizard .active54 {
    color: #35383a !important;
    background: url('images/step-indicator.png') no-repeat center bottom;
}

div.wizard table.grid-view tbody td {
    padding: 5px 7px;
}

.date-range-popup {
    border: solid 1px #d2d2d2;
    background-color: #fff;
    padding: 10px 8px 0 10px;
    margin: 5px 0px;
    position: relative;
    box-shadow: 3px 3px 3px #A8A8A8;
}

    .date-range-popup div.calendar-value span {
        float: none;
    }

.date-range-close {
    position: absolute;
    right: -6px;
    top: -5px;
}

.left-control label.form-label {
    font-weight: bold;
    float: none;
    display: block;
    padding-bottom: 5px;
}

.left-control div.form-value {
    float: none;
    display: block;
}

.manage-users {
    border: solid 1px #d2d2d2;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}

    .manage-users .first-cell {
        width: 3%;
    }

    .manage-users .last-cell {
        width: 42%;
    }

.add-cms-users h2, .add-website-users h2, .add-social-user h2, .manage-customer-details h2 {
    margin: 10px 0px;
}

.add-cms-users .picture-column, .add-website-users .picture-column, div.edit-site-variant .picture-column, .add-social-user .picture-column, .manage-customer-details .picture-column {
    float: left;
    width: 15%;
}

.add-cms-users .columns, .add-website-users .columns, div.edit-site-variant .columns, .add-social-user .columns, .manage-customer-details .columns {
    float: left;
    width: 40%;
    margin-right: 20px;
}

    .add-cms-users .columns .form-label, .add-website-users .columns .form-label, div.edit-site-variant .columns .form-label, .add-social-user .columns .form-label, .manage-customer-details .columns .form-label {
        min-width: 130px;
    }

.add-cms-users .right-column, .add-website-users .right-column, div.edit-site-variant .right-column, .add-social-user .right-column, .manage-customer-details .right-column {
    margin-right: 0;
}

.add-cms-users .profile-properties, .add-website-users .profile-properties, div.edit-site-variant .profile-properties, .add-social-user .profile-properties, .manage-customer-details .profile-properties {
    margin-bottom: 20px;
}

.add-cms-users div.profile-picture img, .add-website-users div.profile-picture img, div.edit-site-variant .profile-picture img, .add-social-user .profile-picture img, .manage-customer-details .profile-picture img {
    border: solid 1px #d2d2d2 !important;
    display: block;
}

.add-cms-users div.profile-picture div.form-value, .add-website-users div.profile-picture div.form-value, div.edit-site-variant .profile-picture .form-value, .add-social-user .profile-picture .form-value, .manage-customer-details .profile-picture .form-value {
    padding-top: 10px;
    float: none;
}

.add-cms-users div.profile-picture a, .add-website-users div.profile-picture a, div.edit-site-variant .profile-picture a, .add-social-user .profile-picture a, .manage-customer-details .profile-picture a {
    display: block;
    padding: 3px 20px 0 25px;
}

.add-cms-users div.profile-picture .edit-image, .add-website-users div.profile-picture .edit-image, div.edit-site-variant .profile-picture .edit-image, .add-social-user .profile-picture .edit-image, .manage-customer-details .profile-picture .edit-image {
    background: url('images/cm-icon-edit.png') no-repeat left 5px;
}

.add-cms-users div.profile-picture .remove-image, .add-website-users div.profile-picture .remove-image, div.edit-site-variant .profile-picture .remove-image, .add-social-user .profile-picture .remove-image, .manage-customer-details .profile-picture .remove-image {
    background: url('images/cm-icon-delete.png') no-repeat left 5px;
}

.add-cms-users .bottom-section, .add-website-users .bottom-section, div.edit-site-variant .bottom-section, .add-social-user .bottom-section {
    margin-bottom: 20px;
}

    .add-cms-users .bottom-section .columns, .add-website-users .bottom-section .columns, div.edit-site-variant .bottom-section .columns, .add-social-user .bottom-section .columns {
        width: 30%;
        float: left;
        margin-right: 0;
    }

    .add-cms-users .bottom-section .action-column, .add-website-users .bottom-section .action-column, div.edit-site-variant .bottom-section .action-column, .add-social-user .bottom-section .action-column {
        width: 5%;
        float: left;
        text-align: center;
        margin-top: 75px;
    }

    .add-cms-users .bottom-section .form-label, .add-website-users .bottom-section .form-label, div.edit-site-variant .bottom-section .form-label, .add-social-user .bottom-section .form-label {
        font-weight: bold;
        width: 100%;
        line-height: 30px;
        padding-bottom: 5px;
    }

    .add-cms-users .bottom-section .columns select, .add-website-users .bottom-section .columns select, div.edit-site-variant .bottom-section .columns select, .add-social-user .bottom-section .columns select {
        height: 125px;
        width: 373px;
    }

.add-cms-users .modal-content .bottom-section .columns select {
    width: 320px;
}

.add-cms-users .modal-content div.dark-section-header h2 {
    font-size: 14px;
}

.add-cms-users .bottom-section .center-column select, .add-website-users .bottom-section .center-column select, div.edit-site-variant .bottom-section .center-column select, .add-social-user .bottom-section .center-column select {
    height: 125px;
}

.add-website-users .bottom-section .checkbox-list {
    width: 94%;
    height: 104px;
    margin-top: 0;
}

.add-website-group .top-section .columns {
    width: 60%;
}

.add-website-group .top-section .right-column {
    width: 35%;
    margin-left: 25px;
}

.add-website-group label.form-label {
    min-width: 120px;
}

.add-website-group .security-level label.form-label {
    display: block;
    width: 100%;
}

.cms-groups .collection-row .first-cell, .add-website-group .collection-row .first-cell {
    padding-top: 2px;
    padding-right: 10px;
}

.add-website-group .form-edit-row label.form-label {
    width: auto;
}

    .add-website-group .form-edit-row label.form-label a {
        display: block;
        float: none;
    }

.add-website-group .form-edit-row .checkbox-list {
    width: 370px;
}

.add-website-group .bottom-section h3 {
    padding-top: 5px;
}

.user-profile .picture-column {
    float: left;
    width: 20%;
}

    .user-profile .picture-column img {
        border: solid 1px #d2d2d2 !important;
    }

.user-profile .properties-column {
    float: right;
    width: 77%;
    margin-left: 10px;
}

.user-profile .group-permission .form-label, .add-website-group .bottom-section .form-label {
    display: block;
    float: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.view-permissions h3 {
    margin-bottom: 5px;
}

.view-permissions p {
    margin-bottom: 10px;
}

.manage-groups, .website-groups-list, .manage-workflows {
    border: solid 1px #d2d2d2;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}

    .manage-groups .first-cell, .website-groups-list .first-cell {
        width: 3%;
    }

    .manage-groups .last-cell, .website-groups-list .last-cell {
        width: 42%;
    }

.cms-user-permissions .grid-utility, .add-website-group .grid-utility {
    border: 1px solid #d2d2d2;
    border-bottom: 0;
}

    .cms-user-permissions .grid-utility .form-column * {
        display: block;
        float: left;
    }

    .cms-user-permissions .grid-utility .form-column .form-label {
        min-width: 80px;
    }

    .cms-user-permissions .grid-utility .form-column .check-box {
        margin: 3px 0px 0px 20px;
    }

    .cms-user-permissions .grid-utility .form-right-column img, .add-website-group .grid-utility .form-right-column img {
        margin: 0px 5px;
    }

.cms-groups h3, .add-website-group h3, .add-cms-users h3, .social-groups h3 {
    margin-bottom: 10px;
}

.cms-groups .top-section, .add-website-group .top-section, .social-groups .top-section {
    margin-bottom: 30px;
}

.cms-groups .columns, .add-website-group .columns, .social-groups .columns {
    float: left;
    width: 45%;
}

.cms-groups .action-column, .add-website-group .action-column, .social-groups .action-column {
    float: left;
    width: 9%;
    text-align: center;
    margin-top: 200px;
}

.cms-groups .columns .grid-utility, .add-website-group .columns .grid-utility, .social-groups .columns .grid-utility {
    border: solid 1px #d2d2d2;
    border-bottom: 0;
}

.cms-groups .scroll-box, .add-website-group .scroll-box, .social-groups .scroll-box {
    height: 300px;
    border: solid 1px #d2d2d2;
    border-top: 0;
}

.cms-groups .columns h4, .add-website-group .columns h4, .social-groups .columns h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.cms-groups .right-column .scroll-box, .add-website-group .right-column .scroll-box, .social-groups .right-column .scroll-box {
    height: 350px;
    border-top: solid 1px #d2d2d2;
}

.add-website-group .right-column .tabular-grid {
    border-top: solid 1px #d2d2d2;
}

.cms-groups .columns .grid-utility .search-box, .add-website-group .columns .grid-utility .search-box, .social-groups .columns .grid-utility .search-box {
    float: right;
}

.cms-groups .columns .grid-utility input[type=text], .cms-groups .columns .grid-utility input[type=button], .add-website-group .columns .grid-utility input[type=text], .add-website-group .columns .grid-utility input[type=button], .social-groups .columns .grid-utility input[type=text], .social-groups .columns .grid-utility input[type=button] {
    float: left;
    margin-left: 10px;
}

.cms-groups .columns .grid-utility select, .add-website-group .columns .grid-utility select, .social-groups .columns .grid-utility select {
    float: left;
}

.grid-actions-fixed, .tree-header-fixed, .group-header-fixed {
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    top: 0;
}

.grid-actions-fixed {
    border-left: 0;
    margin-left: -1px;
}

    .grid-actions-fixed input.grid-button {
        margin-bottom: 1px;
    }

    .grid-actions-fixed .top-row.dark-row {
        border-radius: 0;
    }

        .grid-actions-fixed .top-row.dark-row h2 {
            padding: 13px 60px;
        }

div.grid-utility {
    padding: 10px;
    background-color: #ffffff;
}

    div.grid-utility div.form-row {
        padding-left: 0px;
    }

    div.grid-utility div.form-column {
        float: left;
    }

    div.grid-utility div.form-right-column {
        float: right;
        margin-left: 10px;
    }

    div.grid-utility .form-label {
        font-weight: bold;
    }

    div.grid-utility .form-column input {
        margin-right: 5px;
    }
/* Dashboard styles */
div.dashboard .manage-widgets {
    position: absolute;
    right: 5px;
    top: -16px;
}

    div.dashboard .manage-widgets .widget-list {
        border: solid 1px #d2d2d2;
        box-shadow: 1px 4px 5px #000;
        padding: 15px 20px;
        background: #fff;
        position: absolute;
        right: 0;
        min-width: 204px;
        z-index: 9999;
    }

        div.dashboard .manage-widgets .widget-list h4 {
            padding-bottom: 10px;
        }

div.dashboard div.cc-buttons > a {
    background: #e4e6e7 url('images/grid-item-button.png') repeat-x left bottom;
    border: 1px solid #d6d8d9;
    border-radius: 5px 5px 5px 5px;
    color: #54677d;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 110px;
    margin: 0px 4px;
    padding: 10px 20px;
    text-align: center;
    width: 105px;
    position: relative;
}

    div.dashboard div.cc-buttons > a:hover {
        text-decoration: none;
    }

    div.dashboard div.cc-buttons > a div.image {
        border: medium none;
        display: block;
        margin: 0 auto 10px;
        position: absolute;
        top: 15px;
        text-align: center;
        width: 101px;
    }

    div.dashboard div.cc-buttons > a div.text {
        position: absolute;
        top: 75px;
        text-align: center;
        width: 101px;
        line-height: 1.2;
    }

div.dashboard.edit-mode div.cc-buttons, div.dashboard.edit-mode .site-activity {
    border: dashed 1px #d2d2d2;
    padding: 4px 0px;
    position: relative;
}

div.dashboard .site-activity {
    margin-top: 30px;
    padding: 4px 0px;
}

    div.dashboard .site-activity .section-header {
        margin: 0px 4px 20px;
    }

    div.dashboard .site-activity h2 {
        float: left;
        margin-right: 10px;
    }

    div.dashboard .site-activity .date-range {
        float: left;
        position: relative;
    }

    div.dashboard .site-activity .date-range-popup {
        position: absolute;
        margin: 0;
        left: 0;
        top: 24px;
    }

    div.dashboard .site-activity .section-header select {
        margin-right: 10px;
    }

    div.dashboard .site-activity .boxes {
        background: #fff;
        border: 1px solid #d6d8d9;
        border-radius: 5px 5px 5px 5px;
        float: left;
        margin: 0px 4px;
        padding: 15px;
        width: 270px;
        height: 260px;
        overflow-y: auto;
        line-height: 1.2;
    }

        div.dashboard .site-activity .boxes h3 {
            margin-bottom: 15px;
            font-size: 18px;
        }

    div.dashboard .site-activity .boxes {
        font-size: 15px;
    }

        div.dashboard .site-activity .boxes h4 {
            margin-bottom: 5px;
        }

        div.dashboard .site-activity .boxes h5 {
            line-height: 20px;
            font-weight: bold;
        }

        div.dashboard .site-activity .boxes hr {
            margin: 5px 0 10px 0;
        }

        div.dashboard .site-activity .boxes .form-row a, div.dashboard .site-activity .boxes .form-row p {
            font-size: 13px;
        }

        div.dashboard .site-activity .boxes p.links {
            line-height: 1.6;
            font-size: 16px;
        }

            div.dashboard .site-activity .boxes p.links a {
                display: inline-block;
                min-width: 30px;
            }

            div.dashboard .site-activity .boxes p.links span.value {
                float: left;
                width: 40px;
                margin-right: 10px;
            }

            div.dashboard .site-activity .boxes p.links span.text {
                float: left;
                width: 203px;
            }

    div.dashboard .site-activity .form-value select {
        min-width: 140px;
    }
/* End Dashboard styles*/
/* Content defnition popup used in Commerce */
.content-definition-table > tbody > tr > td {
    padding: 0 10px 10px 10px;
    vertical-align: top;
}

.assign-workflow p {
    margin-bottom: 10px;
}

.assign-workflow .left-column {
    float: left;
    width: 26%;
    border: solid 1px #d2d2d2;
}

    .assign-workflow .left-column .TreeView {
        height: 505px;
        overflow: auto;
    }

.assign-workflow div.right-column {
    float: left;
    width: 72%;
    margin-left: 20px;
}

    .assign-workflow div.right-column h3 {
        margin-bottom: 10px;
    }

    .assign-workflow div.right-column .tabular-grid {
        border: solid 1px #d2d2d2;
    }

    .assign-workflow div.right-column .columns {
        float: left;
        width: 45%;
    }

    .assign-workflow div.right-column .action-column {
        float: left;
        width: 24px;
        text-align: center;
        padding: 110px 32px 0 32px;
    }

.edit-workflows h3 {
    margin-bottom: 20px;
}

.edit-workflows h4 {
    margin-bottom: 10px;
}

.edit-workflows .columns {
    float: left;
    width: 45%;
}

    .edit-workflows .columns .form-row select {
        float: left;
    }

    .edit-workflows .columns .form-row .search-box {
        float: right;
    }

.edit-workflows .right-column p {
    margin: 5px 0 15px 0;
}

.edit-workflows .columns .tabular-grid {
    border-top: solid 1px #d2d2d2;
}

.edit-workflows .columns .heading-cell {
    border-top: 0;
}

.edit-workflows .action-column {
    float: left;
    width: 26px;
    margin: 220px 20px 0;
}

.edit-workflows .last-column {
    margin: 220px 0 0 0;
    width: 45px;
    margin-left: 7px;
}

    .edit-workflows .last-column img:first-child {
        margin-right: 10px;
    }

.edit-workflows .vertical-scroll-section {
    height: 331px !important;
}

.edit-workflows .scroll-section {
    height: 365px;
}

.modal-content .empty-list {
    border: solid 1px #d2d2d2;
}

.modal-content .grid-section .empty-list {
    border: 0;
    border-bottom: solid 1px #d2d2d2;
}

.modal-grid-row > div {
    /*float: left;*/
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
    padding: 8px 0;
}

.modal-grid-row .first-cell {
    width: 51.5%;
    padding-left: 11px;
}

    .modal-grid-row .first-cell h4 {
        display: inline;
        font-weight: bold;
    }

.modal-grid-row .middle-cell {
    width: 25%;
    white-space: normal;
}

.modal-grid-row .last-cell {
    width: 45%;
    text-align: right;
    white-space: normal;
}

.event-log table.event-type {
    width: 100%;
}

    .event-log table.event-type td {
        padding: 15px;
    }

.event-log .log-detail .modal-content {
    width: 800px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.event-log .log-detail .form-label {
    min-width: 150px;
    font-weight: bold;
}

.event-log .log-detail h4 {
    font-weight: normal;
}

div.asset-list {
    margin-top: 0;
}

div.thumb-view div.asset-list {
    padding-top: 10px;
}

.popupBody div.asset-list {
    border: 0;
}

.popupBody div#image_library div.grid-section {
    overflow-x: hidden;
    overflow-y: auto;
}

/*div#image_library .empty-list {
    border: 0;
    border-bottom: solid 1px #d2d2d2;
}*/

div.asset-list-item {
    width: 209px;
    float: left;
    border: solid 1px #cccccc;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 3px;
    min-height: 140px;
    background-color: #e6e6e6;
}

    div.asset-list-item:hover {
        background-color: #d4e0e7;
    }

div.asset-list div.selected-list-item {
    background-color: #f5f7bf;
}

div.iapps-expand-section div.asset-list-item {
    width: 156px;
}

div.asset-list-item div.asset-thumbnail-holder {
    border: solid 1px #d2d2d2;
    min-height: 100px;
    background-color: #fff;
    padding: 4px;
    position: relative;
}

div.asset-list-item .asset-thumbnail-holder > * {
    display: block;
}

div.asset-list-item .asset-thumbnail-holder .float-icon {
    position: absolute;
    cursor: pointer;
    display: none;
}

div.asset-list-item .asset-thumbnail-holder .item-selector {
    position: absolute;
    cursor: pointer;
    right: 6px;
    top: 6px;
}

div.asset-list-item .asset-thumbnail-holder .delete-image {
    bottom: 6px;
    right: 6px;
}

div.asset-list-item .asset-thumbnail-holder .command-button {
    top: 30%;
    left: 20%;
}

div.asset-list-item .asset-thumbnail-holder .preview-image {
    bottom: 6px;
    left: 6px;
}

div.asset-list-item div.asset-thumbnail-holder img {
    margin: 0 auto;
    max-height: 80px;
    max-width: 140px;
}

div.asset-list-item div.asset-thumbnail-holder .image-size-alert {
    position: absolute;
    right: 5px;
    top: 5px;
}

div.asset-list-item div.asset-title {
    text-align: center;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}

    div.asset-list-item div.asset-title h5 {
        float: none;
        line-height: 1.5;
    }

div.asset-list-item div.asset-info {
    margin: 3px;
}

div.asset-list-item .view-tags {
    float: right;
    cursor: pointer;
}

div.asset-list .collection-row .first-cell {
    padding-left: 10px;
    width: 11%;
}

    div.asset-list .collection-row .first-cell .thumbnail-container {
        width: 56px;
        max-width: 56px;
        height: 50px;
        max-height: 50px;
        overflow: hidden;
        border: solid 2px #d2d2d2;
        border-radius: 5px;
        margin: 0 auto;
        background-color: #f0eeee;
    }

        div.asset-list .collection-row .first-cell .thumbnail-container > img {
            border-radius: 5px;
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
        }

div.asset-list .collection-row .middle-cell p img {
    display: inline-block;
    margin-left: 10px;
}

div.modal-content .asset-list-item {
    width: 120px;
    min-height: 156px;
}

div.modal-content .sp-pictures .asset-list-item {
    width: 195px;
}

.image-preview .modal-content {
    text-align: center;
}

.image-preview .image-row {
    min-height: 70px;
    margin-bottom: 6px;
}

.image-preview h2 {
    float: none;
    font-weight: bold;
}

.select-library {
    width: 1020px;
}

    .select-library .modal-content {
        min-height: 390px;
        padding: 10px;
    }

.manual-list {
    width: 1080px;
}

.select-library .manual-list-left {
    float: left;
    width: 73%;
}

.select-library .manual-list-right {
    float: left;
    width: 26%;
    margin-left: 8px;
    border: solid 1px #d2d2d2;
}

.select-library.manual-list .manual-list-left .grid-actions .row h2 {
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select-library .manual-list-left .modal-grid-row {
    padding-top: 7px;
    padding-bottom: 7px;
}

.select-library.manual-list .manual-list-left .modal-grid-row .first-cell h4 {
    display: inline-block !important;
    /*width: 240px !important;*/
}

.select-library .manual-list-left .grid-section {
    height: 362px;
    overflow: auto;
}

.select-library .manual-list-left .grid-actions .bottom-row {
    padding-left: 5px !important;
    border-bottom: 0;
    height: 54px;
}

.select-library .manual-list-right .first-cell {
    width: 80%;
}

.select-library .manual-list-right .last-cell {
    width: 10%;
}

.select-library .manual-list-right table {
    width: 100%;
}

.select-library .manual-list-right .grid-section {
    height: 417px;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.select-library .manual-list-right .fat-grid {
    border: 0;
}

.select-library .modal-header .right-column .form-row {
    margin-bottom: 0;
}

.select-library .modal-header .right-column .form-label {
    display: block;
    color: #fff;
    width: auto;
    min-width: 75px;
}

.select-library #content_library .first-cell h4 {
    width: 350px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.manual-list .modal-content .asset-list-item {
    width: 112px;
}

.attribute-categories .grid-section {
    border: solid 1px #d2d2d2;
}

div.modal-content .group-container .group-list {
    overflow: auto;
    height: 417px;
}

.attribute-values .attribute-value > div {
    display: inline-block;
}

    .attribute-values .attribute-value > div.attribute-remove {
        margin-left: 10px;
    }

.attribute-values .attribute-row .form-row {
    border-bottom: solid 1px #d2d2d2;
    border-color: rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;
}

.attribute-values .form-row .form-label {
    width: 140px;
}

.attribute-values .form-row .form-value input[type=text] {
    width: 280px;
}

.attribute-values .form-row .form-value .value-selector input[type=text] {
    width: 234px;
}

.attribute-values .form-row .form-value select {
    width: 288px;
}

.attribute-values .checkbox-list {
    width: 268px;
    overflow: auto;
    height: 100px;
    border: solid 1px #d2d2d2;
}

.attribute-values .radiobuttonlist .list-item {
    display: inline-block;
}

.attribute-values .attribute-shared {
    padding-top: 8px;
}

.attribute-values .read-only {
    background-color: #f1f1f1 !important;
    color: #a1a1a1 !important;
}

.attribute-values .attribute-config > div {
    display: inline-block;
    margin-right: 20px;
}

.group-item-popup {
    min-width: 400px !important;
}

.left-control .group-item-popup label.form-label {
    float: left;
}

.marketier-details .white-box {
    padding: 10px;
    background: #fff;
}

    .marketier-details .white-box .scroll-box {
        min-height: 100px;
        max-height: 300px;
        overflow: auto;
    }

        .marketier-details .white-box .scroll-box > div:nth-child(odd) {
            background-color: #e8e8e9;
            padding: 5px;
        }

        .marketier-details .white-box .scroll-box > div:nth-child(even) {
            background-color: #fff;
            padding: 5px;
        }

    .marketier-details .white-box p {
        margin-bottom: 10px;
    }

        .marketier-details .white-box p.no-items {
            text-align: center;
            font-style: italic;
            color: #5e5d5d;
        }

.marketier-details .search-box {
    float: right;
    margin-right: 5px;
    border: solid 1px #d2d2d2;
    padding: 0;
}

    .marketier-details .search-box .search-text {
        float: left;
        margin: 0;
        border: 0;
        height: 15px;
        width: 200px;
    }

    .marketier-details .search-box .search-button {
        float: left;
        padding: 5px 4px;
    }

.marketier-details hr {
    margin: 15px 0;
    border: 0;
    border-top: solid 1px #d2d2d2;
    height: 1px;
}