<%@ Page Language="C#" AutoEventWireup="true" Inherits="StaticPage_StaticMessage"  Theme="General" Codebehind="StaticMessage.aspx.cs" %>

<%@ Register Src="StaticMessage.ascx" TagName="StaticMessage" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Redirect Page</title>
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/mainMenu.css" rel="stylesheet" />
    <link href="css/TreeView.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:StaticMessage ID="StaticMessage1" runat="server" />
    
    </div>
    </form>
</body>
</html>
