﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MobileDrawerToggle.ascx.cs" Inherits="Bridgeline.iAPPS.Pro.UI.PageParts.Controls.HeaderComponents.MobileDrawerToggle" %>

<div class="mobileDrawerToggle drawerToggle" data-for="globals-mobile" data-mobile="true"></div>
