﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NavMain.ascx.cs" Inherits="Bridgeline.iAPPS.Pro.UI.PageParts.Controls.HeaderComponents.NavMain" %>

<iAppsPro:MegaNav ID="wseppMegaNav" runat="server" XsltFileName="MegaMenu.xsl" SiteMapProviderName="MainNav" />