﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<FWControls:FWCommentsContainer ID="productcomments" runat="server" EnableContextMenu="true"
        ObjectType="Page" AllowComments="true" ShowUserInfo="true" RequiresApproval="true"
        AllowRating="false"  ListExistingComments="true">
        <FWCaptchaStyle FontName="Verdana" ImageWidth="200" ImageHeight="34" MinFontSize="17"
            MaxFontSize="20" XValue="50" YValue="0" />
       
    </FWControls:FWCommentsContainer>
	
	