@charset "UTF-8";
@font-face {
  font-family: "iapps-fontello";
  src: url("fonts/iapps-fontello.eot?5953441");
  src: url("fonts/iapps-fontello.eot?5953441#iefix") format("embedded-opentype"), url("fonts/iapps-fontello.woff2?5953441") format("woff2"), url("fonts/iapps-fontello.woff?5953441") format("woff"), url("fonts/iapps-fontello.ttf?5953441") format("truetype"), url("fonts/iapps-fontello.svg?5953441#iapps-fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iapps-fontello';
    src: url('fonts/iapps-fontello.svg?5953441#iapps-fontello') format('svg');
  }
}
*/
[class^=iapps-icon-]:before, [class*=" iapps-icon-"]:before {
  font-family: "iapps-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iapps-icon-chevron-circled-left:before {
  content: "\e800";
}

/* '' */
.iapps-icon-chevron-circled-right:before {
  content: "\e801";
}

/* '' */
.iapps-icon-chevron-circled-up:before {
  content: "\e802";
}

/* '' */
.iapps-icon-chevron-circled-down:before {
  content: "\e803";
}

/* '' */
.iapps-icon-arrow-circled-left:before {
  content: "\e804";
}

/* '' */
.iapps-icon-arrow-circled-right:before {
  content: "\e805";
}

/* '' */
.iapps-icon-arrow-circled-up:before {
  content: "\e806";
}

/* '' */
.iapps-icon-arrow-circled-down:before {
  content: "\e807";
}

/* '' */
.iapps-icon-calendar:before {
  content: "\e808";
}

/* '' */
.iapps-icon-list:before {
  content: "\e809";
}

/* '' */
.iapps-icon-check:before {
  content: "\e80a";
}

/* '' */
.iapps-icon-check-empty:before {
  content: "\e80b";
}

/* '' */
.iapps-icon-circled:before {
  content: "\e80c";
}

/* '' */
.iapps-icon-ok-circled:before {
  content: "\e80d";
}

/* '' */
.iapps-icon-circled-empty:before {
  content: "\e80e";
}

/* '' */
.iapps-icon-globe:before {
  content: "\e80f";
}

/* '' */
.iapps-icon-pencil:before {
  content: "\e810";
}

/* '' */
.iapps-icon-chart-line:before {
  content: "\e811";
}

/* '' */
.iapps-icon-layout:before {
  content: "\e812";
}

/* '' */
.iapps-icon-lock:before {
  content: "\e813";
}

/* '' */
.iapps-icon-edit:before {
  content: "\e814";
}

/* '' */
.iapps-icon-search:before {
  content: "\e815";
}

/* '' */
.iapps-icon-cancel:before {
  content: "\e816";
}

/* '' */
.iapps-icon-caret-left:before {
  content: "\e817";
}

/* '' */
.iapps-icon-caret-right:before {
  content: "\e818";
}

/* '' */
.iapps-icon-picture:before {
  content: "\e819";
}

/* '' */
.iapps-icon-info-circled:before {
  content: "\e81a";
}

/* '' */
.iapps-icon-link:before {
  content: "\e81b";
}

/* '' */
.iapps-icon-attention:before {
  content: "\e81c";
}

/* '' */
.iapps-icon-trash-empty:before {
  content: "\e81d";
}

/* '' */
.iapps-icon-attention-circled:before {
  content: "\e81e";
}

/* '' */
.iapps-icon-arrow-up:before {
  content: "\e81f";
}

/* '' */
.iapps-icon-envelope:before {
  content: "\e820";
}

/* '' */
.iapps-icon-eye:before {
  content: "\e821";
}

/* '' */
.iapps-icon-download:before {
  content: "\e822";
}

/* '' */
.iapps-icon-arrow-right:before {
  content: "\e823";
}

/* '' */
.iapps-icon-ok:before {
  content: "\e824";
}

/* '' */
.iapps-icon-plus:before {
  content: "\e825";
}

/* '' */
.iapps-icon-clock:before {
  content: "\e826";
}

/* '' */
.iapps-icon-cancel-circled:before {
  content: "\e827";
}

/* '' */
.iapps-icon-cog:before {
  content: "\e828";
}

/* '' */
.iapps-icon-arrow-down:before {
  content: "\e829";
}

/* '' */
.iapps-icon-arrow-left:before {
  content: "\e82a";
}

/* '' */
.iapps-icon-folder-open:before {
  content: "\e82b";
}

/* '' */
.iapps-icon-caret-down:before {
  content: "\e82c";
}

/* '' */
.iapps-icon-caret-up:before {
  content: "\e82d";
}

/* '' */
.iapps-icon-user:before {
  content: "\e82e";
}

/* '' */
.iapps-icon-users:before {
  content: "\e82f";
}

/* '' */
.iapps-icon-star:before {
  content: "\e830";
}

/* '' */
.iapps-icon-popup:before {
  content: "\e831";
}

/* '' */
.iapps-icon-upload:before {
  content: "\e832";
}

/* '' */
.iapps-icon-tags:before {
  content: "\e833";
}

/* '' */
.iapps-icon-cog-alt:before {
  content: "\e834";
}

/* '' */
.iapps-icon-location:before {
  content: "\e835";
}

/* '' */
.iapps-icon-block:before {
  content: "\e836";
}

/* '' */
.iapps-icon-zoom-out:before {
  content: "\e837";
}

/* '' */
.iapps-icon-zoom-in:before {
  content: "\e838";
}

/* '' */
.iapps-icon-eye-off:before {
  content: "\e839";
}

/* '' */
.iapps-icon-star-empty:before {
  content: "\e83a";
}

/* '' */
.iapps-icon-doc:before {
  content: "\e83b";
}

/* '' */
.iapps-icon-folder:before {
  content: "\e83c";
}

/* '' */
.iapps-icon-home:before {
  content: "\e83d";
}

/* '' */
.iapps-icon-plus-circled:before {
  content: "\e83e";
}

/* '' */
.iapps-icon-minus:before {
  content: "\e83f";
}

/* '' */
.iapps-icon-minus-circled:before {
  content: "\e840";
}

/* '' */
.iapps-icon-help-circled:before {
  content: "\e841";
}

/* '' */
.iapps-icon-list-alt:before {
  content: "\e842";
}

/* '' */
.iapps-icon-chart-bar:before {
  content: "\e843";
}

/* '' */
.iapps-icon-publish:before {
  content: "\e844";
}

/* '' */
.iapps-icon-tag:before {
  content: "\e845";
}

/* '' */
.iapps-icon-tags-outline:before {
  content: "\e846";
}

/* '' */
.iapps-icon-code-outline:before {
  content: "\e847";
}

/* '' */
.iapps-icon-attribute:before {
  content: "\e848";
}

/* '' */
.iapps-icon-info-outline:before {
  content: "\e849";
}

/* '' */
.iapps-icon-info-curve:before {
  content: "\e84a";
}

/* '' */
.iapps-icon-network:before {
  content: "\e84b";
}

/* '' */
.iapps-icon-group:before {
  content: "\e84c";
}

/* '' */
.iapps-icon-bar-chart:before {
  content: "\e84d";
}

/* '' */
.iapps-icon-flow:before {
  content: "\e84e";
}

/* '' */
.iapps-icon-css:before {
  content: "\e84f";
}

/* '' */
.iapps-icon-refresh:before {
  content: "\e850";
}

/* '' */
.iapps-icon-cart:before {
  content: "\e851";
}

/* '' */
.iapps-icon-credit-card:before {
  content: "\e852";
}

/* '' */
.iapps-icon-flow-tree:before {
  content: "\e853";
}

/* '' */
.iapps-icon-scissors:before {
  content: "\e854";
}

/* '' */
.iapps-icon-truck:before {
  content: "\e855";
}

/* '' */
.iapps-icon-warehouse:before {
  content: "\e856";
}

/* '' */
.iapps-icon-money:before {
  content: "\e857";
}

/* '' */
.iapps-icon-cw:before {
  content: "\e858";
}

/* '' */
.iapps-icon-ccw:before {
  content: "\e859";
}

/* '' */
.iapps-icon-resize-vertical:before {
  content: "\e85a";
}

/* '' */
.iapps-icon-resize-horizontal:before {
  content: "\e85b";
}

/* '' */
.iapps-icon-forward:before {
  content: "\e85c";
}

/* '' */
.iapps-icon-light-up:before {
  content: "\e85d";
}

/* '' */
.iapps-icon-droplet:before {
  content: "\e85e";
}

/* '' */
.iapps-icon-translate:before {
  content: "\e85f";
}

/* '' */
.iapps-icon-move:before {
  content: "\f047";
}

/* '' */
.iapps-icon-external-link:before {
  content: "\f08e";
}

/* '' */
.iapps-icon-rss:before {
  content: "\f09e";
}

/* '' */
.iapps-icon-filter:before {
  content: "\f0b0";
}

/* '' */
.iapps-icon-resize-full-alt:before {
  content: "\f0b2";
}

/* '' */
.iapps-icon-docs:before {
  content: "\f0c5";
}

/* '' */
.iapps-icon-table:before {
  content: "\f0ce";
}

/* '' */
.iapps-icon-columns:before {
  content: "\f0db";
}

/* '' */
.iapps-icon-sort:before {
  content: "\f0dc";
}

/* '' */
.iapps-icon-envelope-alt:before {
  content: "\f0e0";
}

/* '' */
.iapps-icon-sitemap:before {
  content: "\f0e8";
}

/* '' */
.iapps-icon-doc-text:before {
  content: "\f0f6";
}

/* '' */
.iapps-icon-angle-double-left:before {
  content: "\f100";
}

/* '' */
.iapps-icon-angle-double-right:before {
  content: "\f101";
}

/* '' */
.iapps-icon-angle-double-up:before {
  content: "\f102";
}

/* '' */
.iapps-icon-angle-double-down:before {
  content: "\f103";
}

/* '' */
.iapps-icon-angle-left:before {
  content: "\f104";
}

/* '' */
.iapps-icon-angle-right:before {
  content: "\f105";
}

/* '' */
.iapps-icon-angle-up:before {
  content: "\f106";
}

/* '' */
.iapps-icon-angle-down:before {
  content: "\f107";
}

/* '' */
.iapps-icon-desktop:before {
  content: "\f108";
}

/* '' */
.iapps-icon-spinner:before {
  content: "\f110";
}

/* '' */
.iapps-icon-reply:before {
  content: "\f112";
}

/* '' */
.iapps-icon-folder-empty:before {
  content: "\f114";
}

/* '' */
.iapps-icon-folder-open-empty:before {
  content: "\f115";
}

/* '' */
.iapps-icon-frown:before {
  content: "\f119";
}

/* '' */
.iapps-icon-code:before {
  content: "\f121";
}

/* '' */
.iapps-icon-star-half-alt:before {
  content: "\f123";
}

/* '' */
.iapps-icon-direction:before {
  content: "\f124";
}

/* '' */
.iapps-icon-crop:before {
  content: "\f125";
}

/* '' */
.iapps-icon-unlink:before {
  content: "\f127";
}

/* '' */
.iapps-icon-help:before {
  content: "\f128";
}

/* '' */
.iapps-icon-info:before {
  content: "\f129";
}

/* '' */
.iapps-icon-attention-alt:before {
  content: "\f12a";
}

/* '' */
.iapps-icon-calendar-empty:before {
  content: "\f133";
}

/* '' */
.iapps-icon-anchor:before {
  content: "\f13d";
}

/* '' */
.iapps-icon-lock-open-alt:before {
  content: "\f13e";
}

/* '' */
.iapps-icon-ellipsis:before {
  content: "\f141";
}

/* '' */
.iapps-icon-share-square:before {
  content: "\f14d";
}

/* '' */
.iapps-icon-dollar:before {
  content: "\f155";
}

/* '' */
.iapps-icon-file-text:before {
  content: "\f15c";
}

/* '' */
.iapps-icon-sort-asc:before {
  content: "\f160";
}

/* '' */
.iapps-icon-sort-desc:before {
  content: "\f161";
}

/* '' */
.iapps-icon-female:before {
  content: "\f182";
}

/* '' */
.iapps-icon-male:before {
  content: "\f183";
}

/* '' */
.iapps-icon-box:before {
  content: "\f187";
}

/* '' */
.iapps-icon-file-excel:before {
  content: "\f1c3";
}

/* '' */
.iapps-icon-file-image:before {
  content: "\f1c5";
}

/* '' */
.iapps-icon-file-archive:before {
  content: "\f1c6";
}

/* '' */
.iapps-icon-file-code:before {
  content: "\f1c9";
}

/* '' */
.iapps-icon-sliders:before {
  content: "\f1de";
}

/* '' */
.iapps-icon-share-squared:before {
  content: "\f1e1";
}

/* '' */
.iapps-icon-newspaper:before {
  content: "\f1ea";
}

/* '' */
.iapps-icon-cc-visa:before {
  content: "\f1f0";
}

/* '' */
.iapps-icon-cc-mastercard:before {
  content: "\f1f1";
}

/* '' */
.iapps-icon-cc-discover:before {
  content: "\f1f2";
}

/* '' */
.iapps-icon-cc-amex:before {
  content: "\f1f3";
}

/* '' */
.iapps-icon-trash:before {
  content: "\f1f8";
}

/* '' */
.iapps-icon-toggle-off:before {
  content: "\f204";
}

/* '' */
.iapps-icon-toggle-on:before {
  content: "\f205";
}

/* '' */
.iapps-icon-cart-arrow-down:before {
  content: "\f218";
}

/* '' */
.iapps-icon-commenting-o:before {
  content: "\f27b";
}

/* '' */
.iapps-icon-forms:before {
  content: "\f298";
}

/* '' */
.iapps-icon-blogger:before {
  content: "\f314";
}

/* '' */
[class^=iapps-icon-] > span, [class*=" iapps-icon-"] > span {
  display: none;
}

a[class^=iapps-icon-]:hover, a[class*=" iapps-icon-"]:hover {
  text-decoration: none !important;
}

a[class^=iapps-icon-]:hover > span, a[class*=" iapps-icon-"]:hover > span {
  text-decoration: underline;
}

[class^=iapps-icon-]:before, [class*=" iapps-icon-"]:before {
  width: auto;
}

.iapps-icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.iapps-icon-2x:before {
  font-size: 2em;
}

.iapps-icon-3x:before {
  font-size: 3em;
}

.iapps-icon-4x:before {
  font-size: 4em;
}

.iapps-icon-5x:before {
  font-size: 5em;
}

.iapps-icon-fw {
  width: 1.28571429em;
  text-align: center;
}

.iapps-icon-spin {
  -webkit-animation: iapps-icon-spin 2s infinite linear;
  animation: iapps-icon-spin 2s infinite linear;
  display: inline-block;
}

.iapps-icon-pulse {
  -webkit-animation: iapps-icon-spin 1s infinite steps(8);
  animation: iapps-icon-spin 1s infinite steps(8);
  display: inline-block;
}

@keyframes iapps-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.iapps-icon-button {
  text-align: left !important;
}

.iapps-icon-button [class^=iapps-icon-], .iapps-icon-button [class*=" iapps-icon-"] {
  padding-right: 6px;
}

ul.iapps-anchor-overlay {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  margin-left: -50px;
  z-index: 900;
}
ul.iapps-anchor-overlay > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-anchor-overlay > li > span {
  display: inline-block;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 5px;
  padding: 5px 10px;
  padding-right: 20px;
}
ul.iapps-anchor-overlay > li > span:after {
  content: "\e82c";
  position: absolute;
  font-family: "iapps-fontello";
  font-weight: normal;
  margin-left: 5px;
}
ul.iapps-anchor-overlay > li > ul {
  margin: 0;
  padding: 0;
  display: none;
  width: 150px;
  background: rgba(51, 51, 51, 0.8);
  padding: 20px;
  border-radius: 5px;
  border-top-left-radius: 0;
}
ul.iapps-anchor-overlay > li > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-anchor-overlay > li:hover span {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
ul.iapps-anchor-overlay > li:hover ul {
  display: block;
}