﻿<%@ Page Language="C#"  ContentType="text/javascript" %>

var Bouncerate = "<%= JSMessages.Bouncerate %>";
var bsAverageTimeonSite = "<%= JSMessages.bsAverageTimeonSite %>";
var bsBounceRate = "<%= JSMessages.bsBounceRate %>";
var bsBrowsers = "<%= JSMessages.bsBrowsers %>";
var bsNewVisit = "<%= JSMessages.bsNewVisit %>";
var bsPagesVisits = "<%= JSMessages.bsPagesVisits %>";
var bsVisits = "<%= JSMessages.bsVisits %>";
var btSearchAgain = "<%= JSMessages.btSearchAgain %>";
var drSource = "<%= JSMessages.drSource %>";
var epBounceRate = "<%= JSMessages.epBounceRate %>";
var epCMDetailsText = "<%= JSMessages.epCMDetailsText %>";
var epCMDetailsText1 = "<%= JSMessages.epCMDetailsText1 %>";
var epExitPercentage = "<%= JSMessages.epExitPercentage %>";
var epExitsText = "<%= JSMessages.epExitsText %>";
var epPageviewsText = "<%= JSMessages.epPageviewsText %>";
var epPercentExitsText = "<%= JSMessages.epPercentExitsText %>";
var epPercentSiteExitsText = "<%= JSMessages.epPercentSiteExitsText %>";
var epVisits = "<%= JSMessages.epVisits %>";
var erAverageTime = "<%= JSMessages.erAverageTime %>";
var erBounceRate = "<%= JSMessages.erBounceRate %>";
var erNewVisits = "<%= JSMessages.erNewVisits %>";
var erPagesVisits = "<%= JSMessages.erPagesVisits %>";
var erSource = "<%= JSMessages.erSource %>";
var erVisits = "<%= JSMessages.erVisits %>";
var fdAssetFileName = "<%= JSMessages.fdAssetFileName %>";
var fdNoOfDownloads = "<%= JSMessages.fdNoOfDownloads %>";
var fdTotalVisits = "<%= JSMessages.fdTotalVisits %>";
var fdViews = "<%= JSMessages.BrightCoveVideoViews%>";
var feAverageTimeonSite = "<%= JSMessages.feAverageTimeonSite %>";
var feBounceRate = "<%= JSMessages.feBounceRate %>";
var feFlashCapableReport = "<%= JSMessages.feFlashCapableReport %>";
var feNewVisit = "<%= JSMessages.feNewVisit %>";
var fePagesVisits = "<%= JSMessages.fePagesVisits %>";
var feVisits = "<%= JSMessages.feVisits %>";
var iClick = "<%= JSMessages.iClick %>";
var iClickFrom = "<%= JSMessages.iClickFrom %>";
var iMenu = "<%= JSMessages.iMenu %>";
var isAssetFile = "<%= JSMessages.isAssetFile %>";
var isTotalPageViews = "<%= JSMessages.isTotalPageViews %>";
var isTotalVisits = "<%= JSMessages.isTotalVisits %>";
var isViews = "<%= JSMessages.isViews %>";
var jsAverageTimeonSite = "<%= JSMessages.jsAverageTimeonSite %>";
var jsBounceRate = "<%= JSMessages.jsBounceRate %>";
var jsNewVisit = "<%= JSMessages.jsNewVisit %>";
var jsPagesVisits = "<%= JSMessages.jsPagesVisits %>";
var jsSupport = "<%= JSMessages.jsSupport %>";
var jsVisits = "<%= JSMessages.jsVisits %>";
var lpCMDetailsText = "<%= JSMessages.lpCMDetailsText %>";
var lpPageviewsText = "<%= JSMessages.lpPageviewsText %>";
var lpTimeOnPageText = "<%= JSMessages.lpTimeOnPageText %>";
var lpUniquePageviewsText = "<%= JSMessages.lpUniquePageviewsText %>";
var mrAverageTime = "<%= JSMessages.mrAverageTime %>";
var mrBounceRate = "<%= JSMessages.mrBounceRate %>";
var mrMonitorResolution = "<%= JSMessages.mrMonitorResolution %>";
var mrNewVisit = "<%= JSMessages.mrNewVisit %>";
var mrPageVisits = "<%= JSMessages.mrPageVisits %>";
var mrVisits = "<%= JSMessages.mrVisits %>";
var osAverageTimeonSite = "<%= JSMessages.osAverageTimeonSite %>";
var osBouncerate = "<%= JSMessages.osBouncerate %>";
var osNewVisit = "<%= JSMessages.osNewVisit %>";
var osOS = "<%= JSMessages.osOS %>";
var osPagesVisits = "<%= JSMessages.osPagesVisits %>";
var osVisits = "<%= JSMessages.osVisits %>";
var pClicks = "<%= JSMessages.pClicks %>";
var pFrequency = "<%= JSMessages.pFrequency %>";
var pTimeonpage = "<%= JSMessages.pTimeonpage %>";
var pTimeonpath = "<%= JSMessages.pTimeonpath %>";
var pUniquepath = "<%= JSMessages.pUniquepath %>";
var pvCMDetailsText = "<%= JSMessages.pvCMDetailsText %>";
var pvExitPercent = "<%= JSMessages.pvExitPercent %>";
var pvPageVisits = "<%= JSMessages.pvPageVisits %>";
var rgAverage = "<%= JSMessages.rgAverage %>";
var rgCountry = "<%= JSMessages.rgCountry %>";
var rgNewVisit = "<%= JSMessages.rgNewVisit %>";
var rgPagesVisits = "<%= JSMessages.rgPagesVisits %>";
var rgRegion = "<%= JSMessages.rgRegion %>";
var rgVisits = "<%= JSMessages.rgVisits %>";
var snDrop = "<%= JSMessages.snDrop %>";
var snPrevStep = "<%= JSMessages.snPrevStep %>";
var snViews = "<%= JSMessages.snViews %>";
var spvPageViews = "<%= JSMessages.spvPageViews %>";
var spvPageViews1 = "<%= JSMessages.spvPageViews1 %>";
var spvTimeOnPage = "<%= JSMessages.spvTimeOnPage %>";
var spvTimeOnPage1 = "<%= JSMessages.spvTimeOnPage1 %>";
var spvUniquePageViews = "<%= JSMessages.spvUniquePageViews %>";
var spvUniquePageViews1 = "<%= JSMessages.spvUniquePageViews1 %>";
var srAverageTime = "<%= JSMessages.srAverageTime %>";
var srBounceRate = "<%= JSMessages.srBounceRate %>";
var srKeywords = "<%= JSMessages.srKeywords %>";
var srNewVisit = "<%= JSMessages.srNewVisit %>";
var srPageVisits = "<%= JSMessages.srPageVisits %>";
var srSource = "<%= JSMessages.srSource %>";
var srVisits = "<%= JSMessages.srVisits %>";
var svBounceRate = "<%= JSMessages.svBounceRate %>";
var svCMDetailsText = "<%= JSMessages.svCMDetailsText %>";
var tpBounceRateText = "<%= JSMessages.tpBounceRateText %>";
var tpCMDetailsText = "<%= JSMessages.tpCMDetailsText %>";
var tpExitText = "<%= JSMessages.tpExitText %>";
var tpPageviewText = "<%= JSMessages.tpPageviewText %>";
var tpTimeOnPageText = "<%= JSMessages.tpTimeOnPageText %>";
var tpUniquePageviewText = "<%= JSMessages.tpUniquePageviewText %>";
var vlAverageTimeonSite = "<%= JSMessages.vlAverageTimeonSite %>";
var vlNumVisits = "<%= JSMessages.vlNumVisits %>";
var vlVisitPercentage = "<%= JSMessages.vlVisitPercentage %>";
var vlVisitsTotal = "<%= JSMessages.vlVisitsTotal %>";
var vpAvgPageDuration = "<%= JSMessages.vpAvgPageDuration %>";
var vpAvgPageviews = "<%= JSMessages.vpAvgPageviews %>";
var vpAvgsession = "<%= JSMessages.vpAvgsession %>";
var vpVisitsText = "<%= JSMessages.vpVisitsText %>";
var wConversion = "<%= JSMessages.wConversion %>";
var wTotalCount = "<%= JSMessages.wTotalCount %>";
var wTotalVisitor = "<%= JSMessages.wTotalVisitor %>";
var wUniqueCount = "<%= JSMessages.wUniqueCount %>";
var wUniqueVisitors = "<%= JSMessages.wUniqueVisitors %>";
var wWatchName = "<%= JSMessages.wWatchName %>";

var VisitorATOPHelpText = "<%= JSMessages.VisitorATOPHelpText%>";
var VisitorDurationHelpText = "<%= JSMessages.VisitorDurationHelpText%>";
var rgIPAddress = "<%= JSMessages.IPHelpText%>";
var PlayerIdTooltip = "<%= JSMessages.PlayerIdTooltip%>";
