﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HeaderMain.ascx.cs" Inherits="Bridgeline.iAPPS.Pro.UI.PageParts.Controls.HeaderMain" %>
<asp:placeholder runat="server" ID="phHeaderControl"></asp:placeholder>
