﻿div.iapps-modal {
    background-color: #fff;
    float: left;
    min-height: 200px;
    min-width: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.5)
}

.select-library {
    width: 1020px
}

div.modal-header {
    background-color: #333;
    padding: 10px 25px;
    border-radius: 5px 5px 0 0;
}

html .clear-fix, html div.form-row {
    display: block;
}

.clear-fix, div.form-row {
    display: inline-block;
}

div.modal-header h2 {
    font-family: Arial;
    float: left;
    margin: 0 !important;
    padding: 5px 0 0 !important;
    color: #fff !important;
    border: 0 !important;
    background: #333 !important;
}

div.modal-header .right-column {
    float: right !important;
    margin: 0 0 0 20px !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    border: 0 !important
}

.clear-fix:after, div.form-row:after, div.button-row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.select-library .modal-content {
    min-height: 390px;
    padding: 10px;
}

div.modal-content {
    padding: 25px;
    min-height: 100px;
    background-color: #fff;
}

body.popupBody div.messageContainer {
    position: absolute;
}

.modal-content .left-control {
    border: solid 1px #d2d2d2;
    width: 28%;
}

div.left-control {
    float: left;
    width: 26%;
    border: solid 1px #d2d2d2;
    min-height: 500px;
}

    div.left-control h2, .tree-header h2, .modal-content .manual-list-right h2 {
        padding: 16px 10px;
        background-color: #f8f8f8;
        border-bottom: solid 1px #d2d2d2;
        font-size: 18px;
        color: #605f60;
        font-family: arial;
    }

.modal-content h2 {
    font-size: 16px;
    padding-bottom: 12px;
}

div.left-control .tree-content {
    overflow: auto;
}

.modal-content .right-control {
    padding-top: 0;
    border: 0;
    padding-left: 16px;
    width: 70%;
}

div.right-control {
    float: left;
    width: 73.7%;
    border: solid 1px #d2d2d2;
    border-left: 0;
    min-height: 500px;
}

.modal-content .grid-actions {
    padding: 0;
    border: 0;
}

    .modal-content .grid-actions .top-row {
        border: solid 1px #d2d2d2;
        border-bottom: 0;
    }

.grid-actions .top-row {
    border-bottom: solid 1px #d2d2d2;
    background-color: #f8f8f8;
}

.grid-actions .columns, .grid-actions .columns input, .grid-actions .grid-search-box, .grid-actions .select-all-box, .grid-actions ul.horizantal-list, .grid-actions .grid-bulk-button, .grid-actions .grid-select {
    display: block;
    float: left;
}

.grid-actions .top-row .grid-search-text {
    float: left;
    margin: 0;
    border: 0;
    height: 15px;
}

.grid-actions .grid-search-button {
    float: left;
    padding: 5px 4px;
    background-color: #fff;
}

.grid-actions .row h2 {
    font-family: arial;
    padding: 16px 10px;
    color: #605f60;
    font-size: 18px;
}

.modal-content h2 {
    font-size: 16px;
    padding-bottom: 12px;
}

.grid-actions .right-column {
    float: right;
    width: auto !important;
}

.grid-actions .top-row .grid-search-box, .grid-actions .bottom-row .grid-search-box {
    margin: 13px 10px 12px 10px;
    border: solid 1px #d2d2d2;
    background-color: #fff;
}

.popupBody .select-library .grid-actions .bottom-row {
    border-bottom: 0;
    padding-left: 5px !important;
}

.modal-content .grid-actions .bottom-row {
    border: solid 1px #d2d2d2;
    border-bottom: 0;
    padding: 0 10px 0 11px !important;
}

.grid-actions .bottom-row {
    height: 50px;
    padding: 0 10px;
    background-color: #f8f8f8;
}

    .grid-actions .bottom-row .columns, .grid-actions .bottom-row .right-column {
        margin-top: 9px;
    }

.modal-content .fat-grid {
    border: 0;
}

.fat-grid, .iapps-grid {
    border-top: solid 1px #d2d2d2;
    background-color: transparent;
    cursor: pointer;
}

div.grid-actions .right-column ul.drop-menu, div.grid-actions .middle-column ul.drop-menu {
    margin-right: 0;
}

.grid-actions .right-column ul.drop-menu, .grid-actions .middle-column ul.drop-menu {
    background: transparent;
    border: 0;
    border-radius: 0;
    border-right: solid 1px #d2d2d2;
}

.grid-actions .right-column ul.drop-menu, .grid-actions .middle-column ul.drop-menu {
    margin-top: 9px;
}

ul.drop-menu {
    float: left;
    position: relative;
    margin-right: 10px;
}

ol, ul {
    list-style: none;
}

.grid-actions .right-column ul.drop-menu > li, .grid-actions .middle-column ul.drop-menu > li {
    background-color: transparent;
    line-height: 17px;
}

.right-column ul.drop-menu > li, .middle-column ul.drop-menu > li {
    padding: 0 6px 0 10px;
    margin-right: 0;
}

ul.drop-menu > li {
    padding: 3px 6px 3px 10px;
    display: inline-block;
}

ul.drop-menu > li {
    color: #333;
    line-height: 24px;
}

ul.drop-menu > li {
    font-weight: normal;
    cursor: pointer;
    margin-right: 5px;
}

ul.drop-menu ul {
    display: none;
    position: absolute;
    border: solid 1px #d2d2d2;
    border-radius: 3px;
    background-color: #fff;
    top: 18px;
    left: 0;
    min-width: 120px;
    z-index: 9999;
}

div.grid-actions div.right-column ul.drop-menu ul li {
    padding: 5px 20px 5px 10px;
}

ul.drop-menu ul li {
    padding: 5px 10px;
    white-space: nowrap;
    color: #333;
}

.grid-actions .pager-info {
    float: left;
    padding-left: 10px;
    margin-top: 9px;
}

.grid-actions .pager-buttons, .grid-actions .view-selector {
    float: left;
    margin: 5px 0 0 10px;
}


.modal-content .grid-section {
    height: 360px;
    border: solid 1px #d2d2d2;
}

.grid-section {
    overflow-x: hidden;
    overflow-y: auto;
}

.iapps-splitter-bar, .iapps-splitter-expanded {
    position: absolute;
    border-left: 0;
    padding: 6px 3px;
    background: #fff url(images/gray-left-arrow.png) no-repeat center center;
    color: #fff;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border: solid 1px #e5e5e5;
    border-left: 0;
    height: 25px;
    left: -1px;
    box-shadow: 2px 2px 3px #333;
}

div.modal-footer {
    border-top: solid 1px #d2d2d2;
    padding: 15px 25px;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

.grid-actions .right-column ul.drop-menu > li.hasSubMenu a, .grid-actions .middle-column ul.drop-menu > li.hasSubMenu a {
    color: #1c68b5;
}

.grid-actions .right-column ul.drop-menu > li.hasSubMenu > a {
    background-image: url(images/arrow_down.png);
}

ul.drop-menu > li.hasSubMenu > a {
    background: url(images/drop-menu-arrow.png) no-repeat right 6px;
    padding-right: 15px;
    color: #54677d;
}

ul.drop-menu > li.hasSubMenu a {
    text-decoration: none;
    color: #fff;
}

.modal-grid-row .first-cell h4 {
    display: inline;
    font-weight: bold;
}

.modal-grid-row .first-cell {
    width: 51.5%;
    padding-left: 11px;
    display: inline-block;
}

.modal-grid-row .last-cell {
    width: 45%;
    text-align: right;
    white-space: normal;
    display: inline-block;
}

.modal-grid-row > div {
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
    padding: 8px 0;
}

.selected .collection-row, .selected .modal-grid-row, .selected-list-item .modal-grid-row {
    background-color: #f5f7bf;
}

.alternate-row .collection-row, .alternate-row .modal-grid-row {
    background-color: #e8e8e9;
    border-bottom: solid 1px #d2d2d2;
}

.selected .collection-row, .selected .modal-grid-row, .selected-list-item .modal-grid-row {
    background-color: #f5f7bf;
}

.custom-settings .row td, .custom-settings .alternate-row td, .custom-settings .hover-row td, .custom-settings .selected td {
    padding: 8px 0
}


.hover-row .modal-grid-row {
    background-color: #d4e0e7
}

div.collection-table div.row:hover .collection-row, div.collection-table div.alternate-row:hover .collection-row {
    background-color: #d4e0e7
}

.alternate-row .collection-row, .alternate-row .modal-grid-row {
    background-color: #e8e8e9;
    border-bottom: solid 1px #d2d2d2
}

input[type=text], input[type=textbox], input[type=password], input[type=date], select, textarea, .formTextBox, .comboTextBox {
    border: solid 1px #c7c8c9;
    padding: 3px;
    background-color: #fff;
    color: #35383a;
    font-size: 12px;
    font-family: Arial !important;
}

div.asset-list .collection-row .first-cell {
    padding-left: 10px;
    width: 11%;
    display: inline-block;
}

.collection-row .first-cell {
    text-align: center;
    width: 6%;
}

div.asset-list .collection-row .middle-cell p img {
    display: inline-block;
    margin-left: 10px;
}

.collection-row .middle-cell, .collection-row .large-cell {
    width: 53%;
    white-space: normal;
    word-wrap: break-word;
    border-right: solid 1px #d2d2d2;
    display: inline-block;
}

.collection-row > div {
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 0;
}

.modal-content .collection-row .last-cell {
    width: 29%;
    display: inline-block;
}

.collection-row .last-cell, .collection-row .small-cell {
    width: 38%;
    white-space: normal;
    padding-right: 12px;
    padding-left: 12px;
}

div.grid-actions div.right-column ul.drop-menu ul li {
    padding: 5px 20px 5px 10px;
}

.grid-actions ul li.selected-asc {
    padding-right: 25px;
    background: url(images/sort-ascend.png) no-repeat right 3px;
}

.grid-actions ul li.selected, .grid-actions ul li.selected-asc, .grid-actions ul li.selected-desc {
    font-weight: bold;
}


.grid-actions .view-selector {
    margin-top: 10px;
}

ul.drop-menu ul li:hover {
    background-color: #c9c9ca;
    cursor: pointer
}

div.asset-list div.selected-list-item {
    background-color: #f5f7bf;
}

.row .selected-list-item, .alternate-row .selected-list-item, .row.selected-list-item .collection-row, .alternate-row.selected-list-item .collection-row, .grid tr.selected-list-item td {
    background-color: #f5f7bf;
}

.modal-content > .row {
    display: block
}

.modal-content .grid-section .empty-list {
    border: 0;
    border-bottom: solid 1px #d2d2d2;
}

.modal-content .empty-list {
    border: solid 1px #d2d2d2;
}

.empty-list {
    border-top: solid 1px #d2d2d2;
}

.empty-collection-table td, .empty-list, .empty-grid-cell {
    border-bottom: solid 1px #d2d2d2;
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
}

.HeadingRow {
    font-weight: bold;
    font-size: 14px
}

    .HeadingRow td {
        vertical-align: middle;
    }

.GroupTreeNode {
    font-weight: bold;
}

.TreeNode, .GroupTreeNode, .SelectedTreeNode, .SelectedGrayedTreeNode, .GrayedTreeNode {
    padding: 5px 0 5px 2px
}

.HoverTreeNode {
    border: solid 2px #1d69b5;
    padding: 3px 0 3px 0
}
