/* Chrome */
::-webkit-scrollbar {
  box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.4);
  width: 10px;
  height: 10px;
  background-color: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #d2d2d2;
}

/* Internet Explorer */
body {
  scrollbar-base-color: #d2d2d2;
  scrollbar-base-color: #d2d2d2;
  scrollbar-3dlight-color: #d2d2d2;
  scrollbar-highlight-color: #d2d2d2;
  scrollbar-track-color: #f8f8f8;
  scrollbar-arrow-color: #d2d2d2;
  scrollbar-shadow-color: #d2d2d2;
  scrollbar-dark-shadow-color: #d2d2d2;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  text-align: left;
}

body.iapps-editor-body {
  padding: 10px;
  width: auto;
}
body.iapps-editor-body > *:first-child:not(ol):not(ul) {
  padding: 0;
}

body.iapps-editor-body table {
  border-collapse: collapse;
}
body.iapps-editor-body table td {
  border: solid 1px #d2d2d2;
}
body.iapps-editor-body table:not([border]),
body.iapps-editor-body table:not([border]) caption,
body.iapps-editor-body table:not([border]) td,
body.iapps-editor-body table:not([border]) th,
body.iapps-editor-body table[border="0"],
body.iapps-editor-body table[border="0"] caption,
body.iapps-editor-body table[border="0"] td,
body.iapps-editor-body table[border="0"] th,
body.iapps-editor-body table[style*="border-width: 0px"],
body.iapps-editor-body table[style*="border-width: 0px"] caption,
body.iapps-editor-body table[style*="border-width: 0px"] td,
body.iapps-editor-body table[style*="border-width: 0px"] th {
  border: dashed 1px #d2d2d2;
  border-width: 1px !important;
}