<%@ Application Language="C#" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data.SqlClient" %>
<%@ Import  Namespace="System.Web.Security"%>
<%@ Import Namespace=" System.Security.Principal"%>
<%@ Import Namespace="Bridgeline.FW.Global.Security"%>
<%@ Import Namespace="Bridgeline.FW.UI.Security"%>
<%@ Import Namespace="Bridgeline.FW.UserBlock"%>
<%@ Import Namespace="System.Threading"%>
<%@ Import Namespace="System.Configuration"%>

<script runat="server">

    void Application_Start(object sender, EventArgs e) 
    {
      
     }
    
    void Application_End(object sender, EventArgs e) 
    {
        //  Code that runs on application shutdown

    }
        
    void Application_Error(object sender, EventArgs e) 
    { 
        // Code that runs when an unhandled error occurs

    }

    void Session_Start(object sender, EventArgs e) 
    {
       
    }

    void Session_End(object sender, EventArgs e) 
    {
        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.

    }
       
</script>
