@charset "UTF-8";
/***************
    CSS Reset
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 ***************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-transform: none;
  text-shadow: none;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  width: auto;
}
ol li, ul li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

/**************
    Clearfix
 **************/
.clearfix:after, .iapps-form-row:after {
  content: "";
  display: table;
  clear: both;
}

/**********
    Base
 **********/
*, *:before, *:after {
  box-sizing: border-box !important;
  transition: none;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

sup {
  vertical-align: super;
  font-size: 75%;
}

sub {
  vertical-align: sub;
  font-size: 75%;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "iapps-fontello";
  src: url("fonts/iapps-fontello.eot?5953441");
  src: url("fonts/iapps-fontello.eot?5953441#iefix") format("embedded-opentype"), url("fonts/iapps-fontello.woff2?5953441") format("woff2"), url("fonts/iapps-fontello.woff?5953441") format("woff"), url("fonts/iapps-fontello.ttf?5953441") format("truetype"), url("fonts/iapps-fontello.svg?5953441#iapps-fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iapps-fontello';
    src: url('fonts/iapps-fontello.svg?5953441#iapps-fontello') format('svg');
  }
}
*/
[class^=iapps-icon-]:before, [class*=" iapps-icon-"]:before {
  font-family: "iapps-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iapps-icon-chevron-circled-left:before {
  content: "\e800";
}

/* '' */
.iapps-icon-chevron-circled-right:before {
  content: "\e801";
}

/* '' */
.iapps-icon-chevron-circled-up:before {
  content: "\e802";
}

/* '' */
.iapps-icon-chevron-circled-down:before {
  content: "\e803";
}

/* '' */
.iapps-icon-arrow-circled-left:before {
  content: "\e804";
}

/* '' */
.iapps-icon-arrow-circled-right:before {
  content: "\e805";
}

/* '' */
.iapps-icon-arrow-circled-up:before {
  content: "\e806";
}

/* '' */
.iapps-icon-arrow-circled-down:before {
  content: "\e807";
}

/* '' */
.iapps-icon-calendar:before {
  content: "\e808";
}

/* '' */
.iapps-icon-list:before {
  content: "\e809";
}

/* '' */
.iapps-icon-check:before {
  content: "\e80a";
}

/* '' */
.iapps-icon-check-empty:before {
  content: "\e80b";
}

/* '' */
.iapps-icon-circled:before {
  content: "\e80c";
}

/* '' */
.iapps-icon-ok-circled:before {
  content: "\e80d";
}

/* '' */
.iapps-icon-circled-empty:before {
  content: "\e80e";
}

/* '' */
.iapps-icon-globe:before {
  content: "\e80f";
}

/* '' */
.iapps-icon-pencil:before {
  content: "\e810";
}

/* '' */
.iapps-icon-chart-line:before {
  content: "\e811";
}

/* '' */
.iapps-icon-layout:before {
  content: "\e812";
}

/* '' */
.iapps-icon-lock:before {
  content: "\e813";
}

/* '' */
.iapps-icon-edit:before {
  content: "\e814";
}

/* '' */
.iapps-icon-search:before {
  content: "\e815";
}

/* '' */
.iapps-icon-cancel:before {
  content: "\e816";
}

/* '' */
.iapps-icon-caret-left:before {
  content: "\e817";
}

/* '' */
.iapps-icon-caret-right:before {
  content: "\e818";
}

/* '' */
.iapps-icon-picture:before {
  content: "\e819";
}

/* '' */
.iapps-icon-info-circled:before {
  content: "\e81a";
}

/* '' */
.iapps-icon-link:before {
  content: "\e81b";
}

/* '' */
.iapps-icon-attention:before {
  content: "\e81c";
}

/* '' */
.iapps-icon-trash-empty:before {
  content: "\e81d";
}

/* '' */
.iapps-icon-attention-circled:before {
  content: "\e81e";
}

/* '' */
.iapps-icon-arrow-up:before {
  content: "\e81f";
}

/* '' */
.iapps-icon-envelope:before {
  content: "\e820";
}

/* '' */
.iapps-icon-eye:before {
  content: "\e821";
}

/* '' */
.iapps-icon-download:before {
  content: "\e822";
}

/* '' */
.iapps-icon-arrow-right:before {
  content: "\e823";
}

/* '' */
.iapps-icon-ok:before {
  content: "\e824";
}

/* '' */
.iapps-icon-plus:before {
  content: "\e825";
}

/* '' */
.iapps-icon-clock:before {
  content: "\e826";
}

/* '' */
.iapps-icon-cancel-circled:before {
  content: "\e827";
}

/* '' */
.iapps-icon-cog:before {
  content: "\e828";
}

/* '' */
.iapps-icon-arrow-down:before {
  content: "\e829";
}

/* '' */
.iapps-icon-arrow-left:before {
  content: "\e82a";
}

/* '' */
.iapps-icon-folder-open:before {
  content: "\e82b";
}

/* '' */
.iapps-icon-caret-down:before {
  content: "\e82c";
}

/* '' */
.iapps-icon-caret-up:before {
  content: "\e82d";
}

/* '' */
.iapps-icon-user:before {
  content: "\e82e";
}

/* '' */
.iapps-icon-users:before {
  content: "\e82f";
}

/* '' */
.iapps-icon-star:before {
  content: "\e830";
}

/* '' */
.iapps-icon-popup:before {
  content: "\e831";
}

/* '' */
.iapps-icon-upload:before {
  content: "\e832";
}

/* '' */
.iapps-icon-tags:before {
  content: "\e833";
}

/* '' */
.iapps-icon-cog-alt:before {
  content: "\e834";
}

/* '' */
.iapps-icon-location:before {
  content: "\e835";
}

/* '' */
.iapps-icon-block:before {
  content: "\e836";
}

/* '' */
.iapps-icon-zoom-out:before {
  content: "\e837";
}

/* '' */
.iapps-icon-zoom-in:before {
  content: "\e838";
}

/* '' */
.iapps-icon-eye-off:before {
  content: "\e839";
}

/* '' */
.iapps-icon-star-empty:before {
  content: "\e83a";
}

/* '' */
.iapps-icon-doc:before {
  content: "\e83b";
}

/* '' */
.iapps-icon-folder:before {
  content: "\e83c";
}

/* '' */
.iapps-icon-home:before {
  content: "\e83d";
}

/* '' */
.iapps-icon-plus-circled:before {
  content: "\e83e";
}

/* '' */
.iapps-icon-minus:before {
  content: "\e83f";
}

/* '' */
.iapps-icon-minus-circled:before {
  content: "\e840";
}

/* '' */
.iapps-icon-help-circled:before {
  content: "\e841";
}

/* '' */
.iapps-icon-list-alt:before {
  content: "\e842";
}

/* '' */
.iapps-icon-chart-bar:before {
  content: "\e843";
}

/* '' */
.iapps-icon-publish:before {
  content: "\e844";
}

/* '' */
.iapps-icon-tag:before {
  content: "\e845";
}

/* '' */
.iapps-icon-tags-outline:before {
  content: "\e846";
}

/* '' */
.iapps-icon-code-outline:before {
  content: "\e847";
}

/* '' */
.iapps-icon-attribute:before {
  content: "\e848";
}

/* '' */
.iapps-icon-info-outline:before {
  content: "\e849";
}

/* '' */
.iapps-icon-info-curve:before {
  content: "\e84a";
}

/* '' */
.iapps-icon-network:before {
  content: "\e84b";
}

/* '' */
.iapps-icon-group:before {
  content: "\e84c";
}

/* '' */
.iapps-icon-bar-chart:before {
  content: "\e84d";
}

/* '' */
.iapps-icon-flow:before {
  content: "\e84e";
}

/* '' */
.iapps-icon-css:before {
  content: "\e84f";
}

/* '' */
.iapps-icon-refresh:before {
  content: "\e850";
}

/* '' */
.iapps-icon-cart:before {
  content: "\e851";
}

/* '' */
.iapps-icon-credit-card:before {
  content: "\e852";
}

/* '' */
.iapps-icon-flow-tree:before {
  content: "\e853";
}

/* '' */
.iapps-icon-scissors:before {
  content: "\e854";
}

/* '' */
.iapps-icon-truck:before {
  content: "\e855";
}

/* '' */
.iapps-icon-warehouse:before {
  content: "\e856";
}

/* '' */
.iapps-icon-money:before {
  content: "\e857";
}

/* '' */
.iapps-icon-cw:before {
  content: "\e858";
}

/* '' */
.iapps-icon-ccw:before {
  content: "\e859";
}

/* '' */
.iapps-icon-resize-vertical:before {
  content: "\e85a";
}

/* '' */
.iapps-icon-resize-horizontal:before {
  content: "\e85b";
}

/* '' */
.iapps-icon-forward:before {
  content: "\e85c";
}

/* '' */
.iapps-icon-light-up:before {
  content: "\e85d";
}

/* '' */
.iapps-icon-droplet:before {
  content: "\e85e";
}

/* '' */
.iapps-icon-translate:before {
  content: "\e85f";
}

/* '' */
.iapps-icon-move:before {
  content: "\f047";
}

/* '' */
.iapps-icon-external-link:before {
  content: "\f08e";
}

/* '' */
.iapps-icon-rss:before {
  content: "\f09e";
}

/* '' */
.iapps-icon-filter:before {
  content: "\f0b0";
}

/* '' */
.iapps-icon-resize-full-alt:before {
  content: "\f0b2";
}

/* '' */
.iapps-icon-docs:before {
  content: "\f0c5";
}

/* '' */
.iapps-icon-table:before {
  content: "\f0ce";
}

/* '' */
.iapps-icon-columns:before {
  content: "\f0db";
}

/* '' */
.iapps-icon-sort:before {
  content: "\f0dc";
}

/* '' */
.iapps-icon-envelope-alt:before {
  content: "\f0e0";
}

/* '' */
.iapps-icon-sitemap:before {
  content: "\f0e8";
}

/* '' */
.iapps-icon-doc-text:before {
  content: "\f0f6";
}

/* '' */
.iapps-icon-angle-double-left:before {
  content: "\f100";
}

/* '' */
.iapps-icon-angle-double-right:before {
  content: "\f101";
}

/* '' */
.iapps-icon-angle-double-up:before {
  content: "\f102";
}

/* '' */
.iapps-icon-angle-double-down:before {
  content: "\f103";
}

/* '' */
.iapps-icon-angle-left:before {
  content: "\f104";
}

/* '' */
.iapps-icon-angle-right:before {
  content: "\f105";
}

/* '' */
.iapps-icon-angle-up:before {
  content: "\f106";
}

/* '' */
.iapps-icon-angle-down:before {
  content: "\f107";
}

/* '' */
.iapps-icon-desktop:before {
  content: "\f108";
}

/* '' */
.iapps-icon-spinner:before {
  content: "\f110";
}

/* '' */
.iapps-icon-reply:before {
  content: "\f112";
}

/* '' */
.iapps-icon-folder-empty:before {
  content: "\f114";
}

/* '' */
.iapps-icon-folder-open-empty:before {
  content: "\f115";
}

/* '' */
.iapps-icon-frown:before {
  content: "\f119";
}

/* '' */
.iapps-icon-code:before {
  content: "\f121";
}

/* '' */
.iapps-icon-star-half-alt:before {
  content: "\f123";
}

/* '' */
.iapps-icon-direction:before {
  content: "\f124";
}

/* '' */
.iapps-icon-crop:before {
  content: "\f125";
}

/* '' */
.iapps-icon-unlink:before {
  content: "\f127";
}

/* '' */
.iapps-icon-help:before {
  content: "\f128";
}

/* '' */
.iapps-icon-info:before {
  content: "\f129";
}

/* '' */
.iapps-icon-attention-alt:before {
  content: "\f12a";
}

/* '' */
.iapps-icon-calendar-empty:before {
  content: "\f133";
}

/* '' */
.iapps-icon-anchor:before {
  content: "\f13d";
}

/* '' */
.iapps-icon-lock-open-alt:before {
  content: "\f13e";
}

/* '' */
.iapps-icon-ellipsis:before {
  content: "\f141";
}

/* '' */
.iapps-icon-share-square:before {
  content: "\f14d";
}

/* '' */
.iapps-icon-dollar:before {
  content: "\f155";
}

/* '' */
.iapps-icon-file-text:before {
  content: "\f15c";
}

/* '' */
.iapps-icon-sort-asc:before {
  content: "\f160";
}

/* '' */
.iapps-icon-sort-desc:before {
  content: "\f161";
}

/* '' */
.iapps-icon-female:before {
  content: "\f182";
}

/* '' */
.iapps-icon-male:before {
  content: "\f183";
}

/* '' */
.iapps-icon-box:before {
  content: "\f187";
}

/* '' */
.iapps-icon-file-excel:before {
  content: "\f1c3";
}

/* '' */
.iapps-icon-file-image:before {
  content: "\f1c5";
}

/* '' */
.iapps-icon-file-archive:before {
  content: "\f1c6";
}

/* '' */
.iapps-icon-file-code:before {
  content: "\f1c9";
}

/* '' */
.iapps-icon-sliders:before {
  content: "\f1de";
}

/* '' */
.iapps-icon-share-squared:before {
  content: "\f1e1";
}

/* '' */
.iapps-icon-newspaper:before {
  content: "\f1ea";
}

/* '' */
.iapps-icon-cc-visa:before {
  content: "\f1f0";
}

/* '' */
.iapps-icon-cc-mastercard:before {
  content: "\f1f1";
}

/* '' */
.iapps-icon-cc-discover:before {
  content: "\f1f2";
}

/* '' */
.iapps-icon-cc-amex:before {
  content: "\f1f3";
}

/* '' */
.iapps-icon-trash:before {
  content: "\f1f8";
}

/* '' */
.iapps-icon-toggle-off:before {
  content: "\f204";
}

/* '' */
.iapps-icon-toggle-on:before {
  content: "\f205";
}

/* '' */
.iapps-icon-cart-arrow-down:before {
  content: "\f218";
}

/* '' */
.iapps-icon-commenting-o:before {
  content: "\f27b";
}

/* '' */
.iapps-icon-forms:before {
  content: "\f298";
}

/* '' */
.iapps-icon-blogger:before {
  content: "\f314";
}

/* '' */
[class^=iapps-icon-] > span, [class*=" iapps-icon-"] > span {
  display: none;
}

a[class^=iapps-icon-]:hover, a[class*=" iapps-icon-"]:hover {
  text-decoration: none !important;
}

a[class^=iapps-icon-]:hover > span, a[class*=" iapps-icon-"]:hover > span {
  text-decoration: underline;
}

[class^=iapps-icon-]:before, [class*=" iapps-icon-"]:before {
  width: auto;
}

.iapps-icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.iapps-icon-2x:before {
  font-size: 2em;
}

.iapps-icon-3x:before {
  font-size: 3em;
}

.iapps-icon-4x:before {
  font-size: 4em;
}

.iapps-icon-5x:before {
  font-size: 5em;
}

.iapps-icon-fw {
  width: 1.28571429em;
  text-align: center;
}

.iapps-icon-spin {
  -webkit-animation: iapps-icon-spin 2s infinite linear;
  animation: iapps-icon-spin 2s infinite linear;
  display: inline-block;
}

.iapps-icon-pulse {
  -webkit-animation: iapps-icon-spin 1s infinite steps(8);
  animation: iapps-icon-spin 1s infinite steps(8);
  display: inline-block;
}

@keyframes iapps-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.iapps-icon-button {
  text-align: left !important;
}

.iapps-icon-button [class^=iapps-icon-], .iapps-icon-button [class*=" iapps-icon-"] {
  padding-right: 6px;
}

.iapps-alert {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px 50px 20px 20px;
  background: #a6a6a6;
  color: #fff !important;
}
.iapps-alert.iapps-alert-success {
  background: #7ac144;
}
.iapps-alert.iapps-alert-info {
  background: #085796;
}
.iapps-alert.iapps-alert-warning {
  background: #f68932;
}
.iapps-alert.iapps-alert-error {
  background: #df0000;
}
.iapps-alert .iapps-alert-button-close {
  float: right;
  margin-right: -30px;
  color: #fff;
  opacity: 0.4;
}
.iapps-alert .iapps-alert-button-close:before {
  content: "\e816";
  font-family: "iapps-fontello";
}
.iapps-alert .iapps-alert-button-close:hover {
  text-decoration: none;
  opacity: 1;
}
.iapps-alert .iapps-alert-button-close span {
  display: none;
}

input[type=submit],
input[type=reset],
input[type=button],
button,
.iapps-button {
  display: inline-block;
  margin: 0 6px 0 0;
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  padding: 10px;
  height: 37px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  background: #fff;
  color: #333;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
input[type=submit]:hover, input[type=submit]:focus, input[type=submit].iapps-button-active,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=reset].iapps-button-active,
input[type=button]:hover,
input[type=button]:focus,
input[type=button].iapps-button-active,
button:hover,
button:focus,
button.iapps-button-active,
.iapps-button:hover,
.iapps-button:focus,
.iapps-button.iapps-button-active {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border-color: #a6a6a6;
  outline: 0;
  text-decoration: none;
}
input[type=submit].iapps-button-primary,
input[type=reset].iapps-button-primary,
input[type=button].iapps-button-primary,
button.iapps-button-primary,
.iapps-button.iapps-button-primary {
  border-color: #f68932;
  background: #f68932;
  color: #fff;
}
input[type=submit].iapps-button-primary:hover,
input[type=reset].iapps-button-primary:hover,
input[type=button].iapps-button-primary:hover,
button.iapps-button-primary:hover,
.iapps-button.iapps-button-primary:hover {
  border-color: #a6a6a6;
}
input[type=submit][disabled], input[type=submit].iapps-button-disabled,
input[type=reset][disabled],
input[type=reset].iapps-button-disabled,
input[type=button][disabled],
input[type=button].iapps-button-disabled,
button[disabled],
button.iapps-button-disabled,
.iapps-button[disabled],
.iapps-button.iapps-button-disabled {
  box-shadow: none !important;
  border-color: #d2d2d2 !important;
  opacity: 0.4;
  cursor: no-drop;
}
input[type=submit].iapps-button-large,
input[type=reset].iapps-button-large,
input[type=button].iapps-button-large,
button.iapps-button-large,
.iapps-button.iapps-button-large {
  padding: 10px 20px;
  font-size: 16px;
}

input[type=file]::-webkit-file-upload-button {
  display: inline-block;
  margin: 0 6px 0 0;
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  padding: 10px;
  height: 37px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  background: #fff;
  color: #333;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
input[type=file]::-webkit-file-upload-button:hover, input[type=file]::-webkit-file-upload-button:focus, input[type=file]::-webkit-file-upload-button.iapps-button-active {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border-color: #a6a6a6;
  outline: 0;
  text-decoration: none;
}

input[type=file][disabled]::-webkit-file-upload-button {
  box-shadow: none !important;
  border-color: #d2d2d2 !important;
  opacity: 0.4;
  cursor: no-drop;
}

input[type=file]::-webkit-file-upload-button {
  border-color: #f68932;
  background: #f68932;
  color: #fff;
}
input[type=file]::-webkit-file-upload-button:hover {
  border-color: #a6a6a6;
}

.iapps-button-small {
  padding: 5px 10px;
  height: auto;
}
.iapps-button-small:hover {
  border-color: #d2d2d2;
}

.iapps-button-image {
  margin: 0;
  border-color: transparent;
  border-radius: 100px;
  padding: 3px;
  height: auto;
  background: transparent;
  line-height: 1;
}
.iapps-button-image:hover {
  border-color: #d2d2d2;
}
.iapps-button-image.iapps-button-primary {
  border-radius: 5px;
  padding: 5px;
}

.iapps-buttons {
  margin-bottom: 20px;
  text-align: right;
}
.iapps-buttons > :last-child {
  margin-right: 0;
}

.iapps-split-buttons {
  white-space: nowrap;
}
.iapps-split-buttons > * {
  margin-right: -4px;
  border-radius: 0;
}
.iapps-split-buttons > *:hover {
  position: relative;
  z-index: 1;
}
.iapps-split-buttons > :first-child {
  border-radius: 5px 0 0 5px;
}
.iapps-split-buttons > :last-child {
  margin-right: 0;
  border-radius: 0 5px 5px 0;
}
.iapps-split-buttons > .iapps-button-selected {
  background-color: #085796;
  color: #fff;
  cursor: default;
}

.iapps-toggle-button {
  border: 0;
  color: #085796;
  font-weight: bold;
  box-shadow: none;
}
.iapps-toggle-button:before {
  content: "\f204";
  font-family: "iapps-fontello";
  padding-right: 10px;
  font-size: 125%;
}
.iapps-toggle-button:hover, .iapps-toggle-button:focus {
  border: 0;
  box-shadow: none;
}
.iapps-toggle-button-on:before {
  content: "\f205";
}

.iapps-chart {
  position: relative;
  margin: 0 0 20px 0;
}

div.google-visualization-tooltip {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border: solid 1px #d2d2d2;
  padding: 10px;
  background: #fff;
}

.iapps-container-scrollable {
  overflow-y: auto;
}

.iapps-rule-container {
  margin-bottom: -10px;
}
.iapps-rule-container-head {
  border-bottom: solid 3px #333;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}
.iapps-rule-container-head > div {
  width: 50%;
}
.iapps-rule-container-title {
  border: solid 1px #333;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  line-height: 1;
  white-space: nowrap;
  background: #333;
  color: #fff;
  display: inline-flex;
  margin-top: 10px;
}
.iapps-rule-container-body {
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #333;
  padding: 0 10px;
}
.iapps-rule-container-foot {
  padding: 10px;
}

.iapps-container-feature {
  margin: 0 0 20px 0;
  border-top: solid 4px #f68932;
  padding: 20px;
  background: #085796;
  color: #fff;
  font-size: 16px;
}
.iapps-container-feature a {
  color: #f68932;
}

.iapps-container-summary {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  background: #f8f8f8;
  text-align: center;
}
.iapps-container-summary-count {
  display: block;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
}
.iapps-container-summary-description {
  display: block;
  font-size: 16px;
}
.iapps-container-summary-small {
  padding: 10px;
}
.iapps-container-summary-small .iapps-container-summary-count {
  font-size: 22px;
}
.iapps-container-summary-small .iapps-container-summary-description {
  font-size: 14px;
}

.iapps-code-container {
  margin-bottom: 20px;
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  padding: 20px;
  background: #f8f8f8;
  overflow: auto;
}

.iapps-generic-container {
  border-radius: 5px;
  border: solid 1px #d2d2d2;
  padding: 20px;
}

.iapps-template-preview {
  display: flex;
  border-radius: 5px;
  border: solid 1px #d2d2d2;
  min-height: 240px;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  color: #a6a6a6;
  margin-bottom: 20px;
}
.iapps-template-preview-placeholder i {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.iapps-template-preview-placeholder span {
  font-weight: bold;
}
.iapps-template-preview img {
  flex: 1;
}

.iapps-pill {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  background: #333;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
}

.iapps-background-blue {
  background-color: #085796;
  color: #fff;
}
.iapps-background-blue a {
  color: #fff;
}

.iapps-background-blue-light {
  background-color: #129ff7;
  color: #fff;
}
.iapps-background-blue-light a {
  color: #fff;
}

.iapps-background-green {
  background-color: #7ac144;
  color: #fff;
}
.iapps-background-green a {
  color: #fff;
}

.iapps-background-green-dark {
  background-color: #40c14e;
  color: #fff;
}
.iapps-background-green-dark a {
  color: #fff;
}

.iapps-background-orange {
  background-color: #f68932;
  color: #fff;
}
.iapps-background-orange a {
  color: #fff;
}

.iapps-background-orange-dark {
  background-color: #fd6f42;
  color: #fff;
}
.iapps-background-orange-dark a {
  color: #fff;
}

.iapps-background-purple {
  background-color: #803f98;
  color: #fff;
}
.iapps-background-purple a {
  color: #fff;
}

.iapps-background-gray-light {
  background-color: #f8f8f8;
  color: #333;
}
.iapps-background-gray-light a {
  color: #333;
}

.iapps-background-gray-medium {
  background-color: #d2d2d2;
  color: #333;
}
.iapps-background-gray-medium a {
  color: #333;
}

.iapps-background-red {
  background-color: #df0000;
  color: #fff;
}
.iapps-background-red a {
  color: #fff;
}

.iapps-vertical-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}

.iapps-draggable-control {
  position: relative;
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
  background: #f8f8f8;
  line-height: 1.1;
  cursor: move;
  user-select: none;
}
.iapps-draggable-control-title {
  max-width: 100%;
  vertical-align: middle;
}
.iapps-draggable-control-status {
  position: absolute;
  top: 10px;
  right: 10px;
}
.iapps-draggable-control-status i {
  color: #a6a6a6;
  cursor: pointer;
}
.iapps-draggable-control-status i.iapps-draggable-control-status-disabled {
  display: none;
}
.iapps-draggable-control-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.iapps-draggable-control-disabled i {
  display: none;
}
.iapps-draggable-control-disabled i.iapps-draggable-control-status-disabled {
  display: inline;
  color: #df0000;
}
.iapps-draggable-control:not(.iapps-draggable-control-disabled):hover {
  background: #d2d2d2;
}
.iapps-draggable-control:not(:last-child) {
  margin-bottom: 10px;
}
.iapps-draggable-control-selected {
  border-color: #085796 !important;
  background: #085796 !important;
  color: #fff !important;
}
.iapps-draggable-control-invalid {
  border-color: #df0000 !important;
  background: #df0000 !important;
  color: #fff !important;
}

.iapps-drop-zone {
  border: dashed 2px #d2d2d2;
  padding: 20px;
  background: #f8f8f8;
  transition: opacity 0.2s ease-in;
}
.iapps-drop-zone-title {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #a6a6a6;
  pointer-events: none;
}
.iapps-drop-zone > :last-child {
  margin-bottom: 0;
}
.iapps-drop-zone-collapsed {
  padding: 5px;
}
.iapps-drop-zone-collapsed .iapps-drop-zone-title {
  display: none;
}
.iapps-drop-zone-collapsed.iapps-active {
  padding: 20px;
  border-color: #085796;
  background: #085796;
}
.iapps-drop-zone-collapsed.iapps-active .iapps-drop-zone-title {
  display: block !important;
  color: #fff;
}
.iapps-drop-zone.iapps-active .iapps-drop-zone-title {
  display: none;
}
.iapps-drop-zone.iapps-invalid {
  opacity: 0.4;
}
.iapps-drop-zone:not(:last-child) {
  margin-bottom: 10px;
}

.iapps-drop-zone-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 0;
  background: rgba(223, 0, 0, 0.2);
  color: #df0000;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.iapps-drop-zone-remove.iapps-active {
  border: dashed 2px #df0000;
  padding: 100px 20px;
  max-height: none;
  opacity: 1;
}
.iapps-drop-zone-remove.iapps-active.iapps-hover {
  border-style: solid;
  background: #df0000;
  color: #fff;
}
.iapps-drop-zone-remove.iapps-active.iapps-hover .iapps-drop-zone-title {
  color: #fff;
}

/* Dragula */
.gu-hide {
  display: none !important;
}

.gu-mirror {
  position: fixed !important;
  opacity: 0.8;
}

.gu-transit.iapps-draggable-control {
  border: none;
  padding: 20px;
  background: #085796;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.gu-transit .iapps-draggable-control-status {
  display: none;
}

.iapps-dropdown {
  display: inline-block;
  position: relative;
}
.iapps-dropdown button {
  margin: 0;
  white-space: nowrap;
}
.iapps-dropdown button:after {
  content: "\e82c";
  display: inline-block;
  margin-left: 10px;
  font-family: "iapps-fontello";
}
.iapps-dropdown .iapps-dropdown-menu {
  display: none;
}
.iapps-dropdown a {
  display: block;
  padding: 5px 10px;
  color: #333;
}
.iapps-dropdown a:hover {
  background: #f8f8f8;
  text-decoration: none;
}
.iapps-dropdown.iapps-dropdown-expanded {
  z-index: 1;
}
.iapps-dropdown.iapps-dropdown-expanded button {
  position: relative;
  z-index: 1;
  box-shadow: none;
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.iapps-dropdown.iapps-dropdown-expanded .iapps-dropdown-menu {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  margin-top: -1px;
  max-height: 200px;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border: solid 1px #d2d2d2;
  border-radius: 0 5px 5px 5px;
  background: #fff;
  overflow: auto;
}
.iapps-dropdown.iapps-dropdown-expanded .iapps-dropdown-menu > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iapps-dropdown.iapps-dropdown-expanded .iapps-dropdown-menu .iapps-dropdown-menu-selected {
  font-weight: bold;
}
.iapps-dropdown.iapps-dropdown-expanded.iapps-dropdown-right .iapps-dropdown-menu {
  left: auto;
  right: 0;
  border-radius: 5px 0 5px 5px;
}

.iapps-grid-actions iapps-dropdown-button:not(:last-child) {
  margin-right: 5px;
}
.iapps-grid-actions iapps-dropdown-button button {
  margin-right: 0;
}

.iapps-dropdown-summary {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.iapps-dropdown-summary .iapps-container-summary {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.iapps-dropdown-summary .iapps-container-summary:after {
  content: "\e82c";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  font-family: "iapps-fontello";
}
.iapps-dropdown-summary .iapps-container-summary:hover {
  background: #d2d2d2;
}
.iapps-dropdown-summary .iapps-container-summary button {
  border: none;
  box-shadow: none;
  font-size: 14px;
}
.iapps-dropdown-summary .iapps-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 100%;
}
.iapps-dropdown-summary .iapps-dropdown-menu a {
  display: block;
  padding: 5px 10px;
  color: #333;
  white-space: nowrap;
}
.iapps-dropdown-summary .iapps-dropdown-menu a:hover {
  background: #f8f8f8;
  text-decoration: none;
}
.iapps-dropdown-summary:hover {
  z-index: 1;
}
.iapps-dropdown-summary:hover .iapps-container-summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #d2d2d2;
}
.iapps-dropdown-summary:hover .iapps-dropdown-menu {
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border: solid 1px #d2d2d2;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #fff;
  overflow: hidden;
}
.iapps-dropdown-summary:hover .iapps-dropdown-menu > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iapps-dropdown-summary-align-right .iapps-dropdown-menu {
  left: auto;
  right: 0;
}
.iapps-dropdown-summary-no-links .iapps-container-summary {
  box-shadow: none !important;
  border-color: #d2d2d2 !important;
}
.iapps-dropdown-summary-no-links .iapps-container-summary:after {
  content: none;
}
.iapps-dropdown-summary-no-links:hover .iapps-container-summary {
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select,
.iapps-form-control {
  display: block;
  outline: 0;
  border: solid 1px #d2d2d2;
  border-left-width: 4px;
  border-radius: 5px;
  padding: 10px 10px 10px 6px;
  margin: 0;
  width: 100%;
  height: 37px;
  min-height: 0;
  background: #fff;
  font-family: Arial;
  font-size: 13px;
  color: #333;
}
input[type=date]:hover, input[type=date]:focus,
input[type=datetime-local]:hover,
input[type=datetime-local]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=month]:hover,
input[type=month]:focus,
input[type=number]:hover,
input[type=number]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=search]:hover,
input[type=search]:focus,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=time]:hover,
input[type=time]:focus,
input[type=url]:hover,
input[type=url]:focus,
input[type=week]:hover,
input[type=week]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus,
.iapps-form-control:hover,
.iapps-form-control:focus {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border-color: #a6a6a6;
}
input[type=date].ng-valid[required], input[type=date].iapps-valid[required],
input[type=datetime-local].ng-valid[required],
input[type=datetime-local].iapps-valid[required],
input[type=email].ng-valid[required],
input[type=email].iapps-valid[required],
input[type=month].ng-valid[required],
input[type=month].iapps-valid[required],
input[type=number].ng-valid[required],
input[type=number].iapps-valid[required],
input[type=password].ng-valid[required],
input[type=password].iapps-valid[required],
input[type=search].ng-valid[required],
input[type=search].iapps-valid[required],
input[type=tel].ng-valid[required],
input[type=tel].iapps-valid[required],
input[type=text].ng-valid[required],
input[type=text].iapps-valid[required],
input[type=time].ng-valid[required],
input[type=time].iapps-valid[required],
input[type=url].ng-valid[required],
input[type=url].iapps-valid[required],
input[type=week].ng-valid[required],
input[type=week].iapps-valid[required],
textarea.ng-valid[required],
textarea.iapps-valid[required],
select.ng-valid[required],
select.iapps-valid[required],
.iapps-form-control.ng-valid[required],
.iapps-form-control.iapps-valid[required] {
  border-left-color: #7ac144;
}
input[type=date].ng-valid[required]:focus, input[type=date].iapps-valid[required]:focus,
input[type=datetime-local].ng-valid[required]:focus,
input[type=datetime-local].iapps-valid[required]:focus,
input[type=email].ng-valid[required]:focus,
input[type=email].iapps-valid[required]:focus,
input[type=month].ng-valid[required]:focus,
input[type=month].iapps-valid[required]:focus,
input[type=number].ng-valid[required]:focus,
input[type=number].iapps-valid[required]:focus,
input[type=password].ng-valid[required]:focus,
input[type=password].iapps-valid[required]:focus,
input[type=search].ng-valid[required]:focus,
input[type=search].iapps-valid[required]:focus,
input[type=tel].ng-valid[required]:focus,
input[type=tel].iapps-valid[required]:focus,
input[type=text].ng-valid[required]:focus,
input[type=text].iapps-valid[required]:focus,
input[type=time].ng-valid[required]:focus,
input[type=time].iapps-valid[required]:focus,
input[type=url].ng-valid[required]:focus,
input[type=url].iapps-valid[required]:focus,
input[type=week].ng-valid[required]:focus,
input[type=week].iapps-valid[required]:focus,
textarea.ng-valid[required]:focus,
textarea.iapps-valid[required]:focus,
select.ng-valid[required]:focus,
select.iapps-valid[required]:focus,
.iapps-form-control.ng-valid[required]:focus,
.iapps-form-control.iapps-valid[required]:focus {
  border-color: #7ac144;
}
input[type=date].ng-invalid, input[type=date].iapps-invalid,
input[type=datetime-local].ng-invalid,
input[type=datetime-local].iapps-invalid,
input[type=email].ng-invalid,
input[type=email].iapps-invalid,
input[type=month].ng-invalid,
input[type=month].iapps-invalid,
input[type=number].ng-invalid,
input[type=number].iapps-invalid,
input[type=password].ng-invalid,
input[type=password].iapps-invalid,
input[type=search].ng-invalid,
input[type=search].iapps-invalid,
input[type=tel].ng-invalid,
input[type=tel].iapps-invalid,
input[type=text].ng-invalid,
input[type=text].iapps-invalid,
input[type=time].ng-invalid,
input[type=time].iapps-invalid,
input[type=url].ng-invalid,
input[type=url].iapps-invalid,
input[type=week].ng-invalid,
input[type=week].iapps-invalid,
textarea.ng-invalid,
textarea.iapps-invalid,
select.ng-invalid,
select.iapps-invalid,
.iapps-form-control.ng-invalid,
.iapps-form-control.iapps-invalid {
  border-left-color: #df0000;
}
input[type=date].ng-invalid:focus, input[type=date].iapps-invalid:focus,
input[type=datetime-local].ng-invalid:focus,
input[type=datetime-local].iapps-invalid:focus,
input[type=email].ng-invalid:focus,
input[type=email].iapps-invalid:focus,
input[type=month].ng-invalid:focus,
input[type=month].iapps-invalid:focus,
input[type=number].ng-invalid:focus,
input[type=number].iapps-invalid:focus,
input[type=password].ng-invalid:focus,
input[type=password].iapps-invalid:focus,
input[type=search].ng-invalid:focus,
input[type=search].iapps-invalid:focus,
input[type=tel].ng-invalid:focus,
input[type=tel].iapps-invalid:focus,
input[type=text].ng-invalid:focus,
input[type=text].iapps-invalid:focus,
input[type=time].ng-invalid:focus,
input[type=time].iapps-invalid:focus,
input[type=url].ng-invalid:focus,
input[type=url].iapps-invalid:focus,
input[type=week].ng-invalid:focus,
input[type=week].iapps-invalid:focus,
textarea.ng-invalid:focus,
textarea.iapps-invalid:focus,
select.ng-invalid:focus,
select.iapps-invalid:focus,
.iapps-form-control.ng-invalid:focus,
.iapps-form-control.iapps-invalid:focus {
  border-color: #df0000;
}
input[type=date].iapps-no-validation,
input[type=datetime-local].iapps-no-validation,
input[type=email].iapps-no-validation,
input[type=month].iapps-no-validation,
input[type=number].iapps-no-validation,
input[type=password].iapps-no-validation,
input[type=search].iapps-no-validation,
input[type=tel].iapps-no-validation,
input[type=text].iapps-no-validation,
input[type=time].iapps-no-validation,
input[type=url].iapps-no-validation,
input[type=week].iapps-no-validation,
textarea.iapps-no-validation,
select.iapps-no-validation,
.iapps-form-control.iapps-no-validation {
  border-color: #d2d2d2 !important;
}
input[type=date].iapps-no-validation:hover, input[type=date].iapps-no-validation:focus,
input[type=datetime-local].iapps-no-validation:hover,
input[type=datetime-local].iapps-no-validation:focus,
input[type=email].iapps-no-validation:hover,
input[type=email].iapps-no-validation:focus,
input[type=month].iapps-no-validation:hover,
input[type=month].iapps-no-validation:focus,
input[type=number].iapps-no-validation:hover,
input[type=number].iapps-no-validation:focus,
input[type=password].iapps-no-validation:hover,
input[type=password].iapps-no-validation:focus,
input[type=search].iapps-no-validation:hover,
input[type=search].iapps-no-validation:focus,
input[type=tel].iapps-no-validation:hover,
input[type=tel].iapps-no-validation:focus,
input[type=text].iapps-no-validation:hover,
input[type=text].iapps-no-validation:focus,
input[type=time].iapps-no-validation:hover,
input[type=time].iapps-no-validation:focus,
input[type=url].iapps-no-validation:hover,
input[type=url].iapps-no-validation:focus,
input[type=week].iapps-no-validation:hover,
input[type=week].iapps-no-validation:focus,
textarea.iapps-no-validation:hover,
textarea.iapps-no-validation:focus,
select.iapps-no-validation:hover,
select.iapps-no-validation:focus,
.iapps-form-control.iapps-no-validation:hover,
.iapps-form-control.iapps-no-validation:focus {
  border-color: #a6a6a6 !important;
}
input[type=date][readonly], input[type=date][disabled],
input[type=datetime-local][readonly],
input[type=datetime-local][disabled],
input[type=email][readonly],
input[type=email][disabled],
input[type=month][readonly],
input[type=month][disabled],
input[type=number][readonly],
input[type=number][disabled],
input[type=password][readonly],
input[type=password][disabled],
input[type=search][readonly],
input[type=search][disabled],
input[type=tel][readonly],
input[type=tel][disabled],
input[type=text][readonly],
input[type=text][disabled],
input[type=time][readonly],
input[type=time][disabled],
input[type=url][readonly],
input[type=url][disabled],
input[type=week][readonly],
input[type=week][disabled],
textarea[readonly],
textarea[disabled],
select[readonly],
select[disabled],
.iapps-form-control[readonly],
.iapps-form-control[disabled] {
  box-shadow: none !important;
  border-color: #d2d2d2 !important;
}
input[type=date][disabled],
input[type=datetime-local][disabled],
input[type=email][disabled],
input[type=month][disabled],
input[type=number][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=text][disabled],
input[type=time][disabled],
input[type=url][disabled],
input[type=week][disabled],
textarea[disabled],
select[disabled],
.iapps-form-control[disabled] {
  opacity: 0.4;
  cursor: no-drop;
}
input[type=date].iapps-input-small,
input[type=datetime-local].iapps-input-small,
input[type=email].iapps-input-small,
input[type=month].iapps-input-small,
input[type=number].iapps-input-small,
input[type=password].iapps-input-small,
input[type=search].iapps-input-small,
input[type=tel].iapps-input-small,
input[type=text].iapps-input-small,
input[type=time].iapps-input-small,
input[type=url].iapps-input-small,
input[type=week].iapps-input-small,
textarea.iapps-input-small,
select.iapps-input-small,
.iapps-form-control.iapps-input-small {
  padding: 4px;
  height: auto !important;
}

select:not([multiple]).iapps-default-value {
  color: #a6a6a6 !important;
}
select:not([multiple]).iapps-default-value option {
  color: #333;
}
select[multiple] {
  height: 100px;
  padding: 0;
}
select option {
  padding: 5px;
}

input[type=color],
input[type=range] {
  display: block;
  width: 100%;
}

textarea {
  height: 80px;
  line-height: 1.5;
}
textarea.iapps-control-large {
  height: 240px;
}

::-webkit-input-placeholder {
  color: #a6a6a6;
}

::-moz-placeholder {
  color: #a6a6a6;
}

:-ms-input-placeholder {
  color: #a6a6a6;
}

:-moz-placeholder {
  color: #a6a6a6;
}

:placeholder-shown {
  color: #a6a6a6;
}

select:not([multiple]) {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 30px;
  background: #fff no-repeat center right 10px url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwOS8zMC8xNjydTBcAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAARklEQVQImWM0NjY2YGBgCGDADj6wQBkFDAwM/FgULGRkYGBggJpyAE3RwrNnzyYwwnhoihaePXs2AcM8Y2NjA2Nj4wnIYgAjbA8jObx9fgAAAABJRU5ErkJggg==");
}

select::-ms-expand {
  display: none;
}

fieldset legend {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  white-space: normal;
}

ul.iapps-checkbox-list,
ul.iapps-radio-list {
  margin: 0;
  padding: 0;
}
ul.iapps-checkbox-list > li,
ul.iapps-radio-list > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-checkbox-list > li,
ul.iapps-radio-list > li {
  padding-left: 22px;
}
ul.iapps-checkbox-list > li input[type=checkbox] + label,
ul.iapps-checkbox-list > li input[type=radio] + label,
ul.iapps-radio-list > li input[type=checkbox] + label,
ul.iapps-radio-list > li input[type=radio] + label {
  margin-left: -22px;
}
ul.iapps-checkbox-list > li:not(:last-child),
ul.iapps-radio-list > li:not(:last-child) {
  margin-bottom: 10px;
}
ul.iapps-checkbox-list-horizontal,
ul.iapps-radio-list-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul.iapps-checkbox-list-horizontal > li,
ul.iapps-radio-list-horizontal > li {
  margin-right: 20px;
  margin-bottom: 0;
}
ul.iapps-checkbox-list-horizontal > li:last-child,
ul.iapps-radio-list-horizontal > li:last-child {
  margin-right: 0;
}
ul.iapps-checkbox-list-scrollable,
ul.iapps-radio-list-scrollable {
  border-radius: 5px;
  border: solid 1px #d2d2d2;
  overflow-y: auto;
  max-height: 200px;
  margin: 0;
  padding: 10px;
}
ul.iapps-checkbox-list > .iapps-radio-input-group input[type=radio] + label:before,
ul.iapps-radio-list > .iapps-radio-input-group input[type=radio] + label:before {
  margin-top: 10px;
}
ul.iapps-checkbox-list > .iapps-radio-input-group label > *,
ul.iapps-radio-list > .iapps-radio-input-group label > * {
  margin: 0 10px;
}

input[type=checkbox],
input[type=radio] {
  position: relative;
  margin: 0;
  height: 17px;
  width: 17px;
  opacity: 0;
  z-index: -1;
}

input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  display: block;
  margin: -22px 0 0 0;
  padding-left: 26px;
  font-weight: normal;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  border: solid 2px #d2d2d2;
  width: 17px;
  height: 17px;
  background: #fff;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  background-color: #085796;
}

.iapps-checkbox input[type=checkbox] {
  opacity: inherit;
  z-index: inherit;
}

input[type=radio] + label:before {
  border-radius: 100px;
}

input[type=checkbox]:focus + label:before,
input[type=radio]:focus + label:before {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
}

input[type=checkbox][disabled] + label,
input[type=radio][disabled] + label {
  opacity: 0.4;
  cursor: no-drop;
}
input[type=checkbox][disabled] + label:before,
input[type=radio][disabled] + label:before {
  box-shadow: none;
  cursor: no-drop;
}

.iapps-validation-summary {
  margin-bottom: 20px;
  padding: 20px;
  background: #df0000;
  color: #fff;
}
.iapps-validation-summary ul {
  margin-bottom: 0;
}

.iapps-validator {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background: #df0000;
  color: #fff;
}

.ng-invalid + iapps-validator .iapps-validator,
.iapps-invalid + .iapps-validator {
  position: relative;
  margin-top: -3px;
  margin-bottom: 0;
  border-radius: 0 0 5px 5px;
  padding: 5px 11px;
}

.iapps-form-row {
  margin-bottom: 20px;
}
.iapps-form-row label {
  display: block;
  margin-bottom: 5px;
}
.iapps-form-row label > * {
  display: inline-block;
  width: auto;
}
.iapps-form-row label > a {
  margin: 0 5px 0 0;
  color: #a6a6a6;
  font-size: 12px;
  font-weight: normal;
}
.iapps-form-row label > a:first-child {
  margin-left: 5px;
}
.iapps-form-row label > a:last-child {
  margin-right: 0;
}

.iapps-form-row-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.iapps-form-row-inline label {
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
}
.iapps-form-row-inline > * {
  flex-basis: 50%;
}

.iapps-input-group {
  display: flex;
}
.iapps-input-group .iapps-input-group-control {
  border-radius: 5px 0 0 5px !important;
}
.iapps-input-group > input[type=text] {
  margin-right: 10px;
}
.iapps-input-group > input[type=text].iapps-input-group-control {
  margin-right: 0;
}
.iapps-input-group .iapps-input-group-buttons {
  white-space: nowrap;
}
.iapps-input-group .iapps-input-group-buttons > * {
  margin-right: -4px;
  border-radius: 0;
}
.iapps-input-group .iapps-input-group-buttons > *:hover {
  position: relative;
  z-index: 1;
}
.iapps-input-group .iapps-input-group-buttons > span {
  display: inline-block;
  border: solid 1px #d2d2d2;
  padding: 10px;
  height: 37px;
}
.iapps-input-group .iapps-input-group-buttons > :last-child {
  margin-right: 0;
  border-radius: 0 5px 5px 0;
}
.iapps-input-group-modal {
  position: absolute;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  z-index: 2;
}

iapps-datetimepicker.ng-invalid .iapps-input-group-control,
iapps-file-upload.ng-invalid .iapps-input-group-control,
iapps-library-picker.ng-invalid .iapps-input-group-control,
iapps-picker.ng-invalid .iapps-input-group-control,
iapps-tree-picker.ng-invalid .iapps-input-group-control,
iapps-creditcard.ng-invalid .iapps-input-group-control,
iapps-variant-number.ng-invalid .iapps-input-group-control,
iapps-variant-select.ng-invalid .iapps-input-group-control,
iapps-variant-textarea.ng-invalid .iapps-input-group-control,
iapps-variant-textbox.ng-invalid .iapps-input-group-control {
  border-left-color: #df0000 !important;
}
iapps-datetimepicker.ng-invalid .iapps-input-group-control:focus,
iapps-file-upload.ng-invalid .iapps-input-group-control:focus,
iapps-library-picker.ng-invalid .iapps-input-group-control:focus,
iapps-picker.ng-invalid .iapps-input-group-control:focus,
iapps-tree-picker.ng-invalid .iapps-input-group-control:focus,
iapps-creditcard.ng-invalid .iapps-input-group-control:focus,
iapps-variant-number.ng-invalid .iapps-input-group-control:focus,
iapps-variant-select.ng-invalid .iapps-input-group-control:focus,
iapps-variant-textarea.ng-invalid .iapps-input-group-control:focus,
iapps-variant-textbox.ng-invalid .iapps-input-group-control:focus {
  border-color: #df0000 !important;
}
iapps-datetimepicker[required] .iapps-input-group-control,
iapps-file-upload[required] .iapps-input-group-control,
iapps-library-picker[required] .iapps-input-group-control,
iapps-picker[required] .iapps-input-group-control,
iapps-tree-picker[required] .iapps-input-group-control,
iapps-creditcard[required] .iapps-input-group-control,
iapps-variant-number[required] .iapps-input-group-control,
iapps-variant-select[required] .iapps-input-group-control,
iapps-variant-textarea[required] .iapps-input-group-control,
iapps-variant-textbox[required] .iapps-input-group-control {
  border-left-color: #7ac144 !important;
}
iapps-datetimepicker[required].ng-invalid .iapps-input-group-control,
iapps-file-upload[required].ng-invalid .iapps-input-group-control,
iapps-library-picker[required].ng-invalid .iapps-input-group-control,
iapps-picker[required].ng-invalid .iapps-input-group-control,
iapps-tree-picker[required].ng-invalid .iapps-input-group-control,
iapps-creditcard[required].ng-invalid .iapps-input-group-control,
iapps-variant-number[required].ng-invalid .iapps-input-group-control,
iapps-variant-select[required].ng-invalid .iapps-input-group-control,
iapps-variant-textarea[required].ng-invalid .iapps-input-group-control,
iapps-variant-textbox[required].ng-invalid .iapps-input-group-control {
  border-left-color: #df0000 !important;
}

.iapps-input-group-vertical {
  display: inline-block;
}
.iapps-input-group-vertical > * {
  display: block;
  margin: 0;
  border-radius: 0;
}
.iapps-input-group-vertical > :first-child {
  border-radius: 5px 5px 0 0;
}
.iapps-input-group-vertical > :last-child {
  border-radius: 0 0 5px 5px;
}

.iapps-date-picker {
  width: 284px;
  margin-left: -284px;
}
.iapps-date-picker-header {
  display: flex;
  padding: 10px;
  background: #333;
  color: #fff;
  line-height: 1;
}
.iapps-date-picker-header a {
  color: #fff;
}
.iapps-date-picker a.iapps-month-pagination {
  font-size: 16px;
  vertical-align: middle;
}
.iapps-date-picker a.iapps-month-pagination:hover {
  text-decoration: none;
}
.iapps-date-picker-month {
  flex-grow: 1;
  margin-top: 2px;
  font-weight: bold;
  text-align: center;
}
.iapps-date-picker table {
  margin-bottom: 0;
}
.iapps-date-picker table tbody td {
  text-align: center;
  cursor: pointer;
}
.iapps-date-picker table tbody td:hover {
  background: #d2d2d2 !important;
}

.iapps-time-picker {
  width: 256px;
  margin-left: -256px;
}
.iapps-time-picker-selector {
  display: flex;
}
.iapps-time-picker-selector select {
  margin: 0 5px;
  width: 70px;
}
.iapps-time-picker-selector .iapps-time-separator {
  padding-top: 8px;
}
.iapps-time-picker-selector > :first-child {
  margin-left: 0;
}
.iapps-time-picker-selector > :last-child {
  margin-right: 0;
}

h4 a {
  margin-left: 10px;
  font-size: 70%;
}

.iapps-coaching-text {
  display: block;
  margin-top: 5px;
  padding: 0 10px;
  color: #a6a6a6;
}

.iapps-form-loading {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.iapps-input-htmleditor {
  display: none;
}

.iapps-credit-card:after {
  content: "\e82c";
  display: inline-block;
  margin-left: 10px;
  font-family: "iapps-fontello";
}

.iapps-grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 600px;
}
.iapps-grid-fluid-height {
  height: auto !important;
}
.iapps-grid-fluid-height .iapps-grid-items {
  overflow-y: visible;
}

.iapps-grid-actions {
  flex-grow: 0;
}
.iapps-grid-actions .iapps-row {
  align-items: center;
  border-left: solid 1px #d2d2d2;
  border-right: solid 1px #d2d2d2;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 58px;
  background: #f8f8f8;
}
.iapps-grid-actions .iapps-row:first-child {
  border-top: solid 1px #d2d2d2;
}
.iapps-grid-actions .iapps-row:not(:last-child) {
  border-bottom: solid 1px #d2d2d2;
}
.iapps-grid-actions h3 {
  margin: 0;
}
.iapps-grid-actions button {
  margin-right: 5px;
}
.iapps-grid-actions :last-child {
  margin-right: 0;
}

.iapps-grid-search,
.iapps-grid-filtering {
  margin-left: auto;
  text-align: right;
}

.iapps-grid-selector {
  display: inline-block;
}

.iapps-grid-items {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  border: solid 1px #d2d2d2;
}
.iapps-grid-items .iapps-grid-no-items {
  margin: 0;
  padding: 20px;
  font-style: italic;
  text-align: center;
}
.iapps-grid-items table {
  margin-bottom: 0;
  border: none;
}

.iapps-grid-loading .iapps-grid-items {
  min-height: 120px;
}
.iapps-grid-loading .iapps-grid-items-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.8);
}

.iapps-grid-item {
  border-bottom: solid 1px #d2d2d2;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: #fff;
  cursor: pointer;
}
.iapps-grid-item:not(.iapps-grid-item-not-selectable):hover {
  background-color: #d2d2d2;
}
.iapps-grid-item-selected {
  background-color: #085796 !important;
  color: #fff !important;
}
.iapps-grid-item-selected a {
  color: #fff !important;
}
.iapps-grid-item-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.iapps-grid-item-disabled:hover {
  background-color: transparent !important;
}
.iapps-grid-item-inactive {
  opacity: 0.4;
}
.iapps-grid-item-title {
  display: block;
  font-size: 16px;
}
.iapps-grid-item-info {
  display: block;
}
.iapps-grid-item-info a {
  padding-left: 5px;
}
.iapps-grid-item-info a:hover {
  text-decoration: none;
}
.iapps-grid-item-info a:hover:before {
  font-weight: bold;
}
.iapps-grid-item-has-selector {
  display: flex;
}
.iapps-grid-item-has-selector .iapps-grid-item-selector {
  padding: 0 0 0 20px;
}
.iapps-grid-item-has-selector .iapps-row {
  flex: 1 1 0;
  padding-left: 0 !important;
}

#content {
  padding: 20px 0 40px 0;
  min-height: 600px;
}

.iapps-container {
  margin: 0 auto;
  width: 1280px;
  padding: 0 20px;
}
.iapps-container-fluid {
  width: auto;
  min-width: 1280px;
}

.iapps-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 0 10px;
  clear: both;
}
.iapps-row.iapps-row-no-horizontal-alignment {
  margin-left: 0;
  margin-right: 0;
}
.iapps-row.iapps-row-no-spacing {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.iapps-row.iapps-row-no-spacing > [class^=iapps-column-] {
  padding-left: 0;
  padding-right: 0;
}
.iapps-row.iapps-row-center-columns {
  justify-content: center;
}

[class^=iapps-column-] {
  padding: 0 10px;
}

.iapps-column-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.iapps-column-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.iapps-column-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.iapps-column-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.iapps-column-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.iapps-column-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.iapps-column-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.iapps-column-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.iapps-column-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.iapps-column-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.iapps-column-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.iapps-column-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.iapps-column-offset-1 {
  margin-left: 8.3333333333%;
}

.iapps-column-offset-2 {
  margin-left: 16.6666666667%;
}

.iapps-column-offset-3 {
  margin-left: 25%;
}

.iapps-column-offset-4 {
  margin-left: 33.3333333333%;
}

.iapps-column-offset-5 {
  margin-left: 41.6666666667%;
}

.iapps-column-offset-6 {
  margin-left: 50%;
}

.iapps-column-offset-7 {
  margin-left: 58.3333333333%;
}

.iapps-column-offset-8 {
  margin-left: 66.6666666667%;
}

.iapps-column-offset-9 {
  margin-left: 75%;
}

.iapps-column-offset-10 {
  margin-left: 83.3333333333%;
}

.iapps-column-offset-11 {
  margin-left: 91.6666666667%;
}

.iapps-column-1-of-5 {
  flex-basis: 20%;
  max-width: 20%;
}

.iapps-column-pull-right {
  margin-left: auto;
}

.iapps-margin {
  margin-bottom: 20px !important;
}

.iapps-margin-top {
  margin-top: 20px !important;
}

.iapps-margin-top-half {
  margin-top: 10px !important;
}

.iapps-margin-half {
  margin-bottom: 10px !important;
}

.iapps-no-margin {
  margin-bottom: 0 !important;
}

.iapps-no-border {
  border: none !important;
}
.iapps-no-border:hover, .iapps-no-border:focus {
  border: none !important;
}

.iapps-border {
  border: solid 1px #d2d2d2;
}

.iapps-border-bottom {
  border-bottom: solid 1px #d2d2d2;
}

.iapps-padding {
  padding: 20px;
}

.iapps-padding-vertical {
  padding-top: 20px;
  padding-bottom: 20px;
}

.iapps-padding-top {
  padding-top: 20px;
}

.iapps-padding-bottom {
  padding-bottom: 20px;
}

.iapps-padding-horizontal {
  padding-left: 20px;
  padding-right: 20px;
}

.iapps-padding-half {
  padding: 10px;
}

.iapps-padding-vertical-half {
  padding-top: 10px;
  padding-bottom: 10px;
}

.iapps-padding-top-half {
  padding-top: 10px;
}

.iapps-padding-bottom-half {
  padding-bottom: 10px;
}

.iapps-no-padding-bottom {
  padding-bottom: 0;
}

.iapps-align-left {
  text-align: left;
}

.iapps-align-center {
  text-align: center;
}

.iapps-align-right {
  text-align: right;
}
.iapps-align-right > :last-child:not(.iapps-row) {
  margin-right: 0 !important;
}

.iapps-vertical-align-top {
  vertical-align: top;
}

.iapps-vertical-align-middle {
  vertical-align: middle;
}

.iapps-vertical-align-bottom {
  vertical-align: bottom;
}

.iapps-width-full {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.iapps-no-wrap {
  white-space: nowrap;
}

.iapps-cursor-pointer {
  cursor: pointer;
}

.iapps-text-overflow {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[hidden] {
  display: none;
}

.iapps-hidden {
  display: none !important;
}

.iapps-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.iapps-disabled > * {
  opacity: 0.4;
  cursor: no-drop;
}

.iapps-cms-color {
  color: #085796 !important;
}

.iapps-commerce-color {
  color: #7ac144 !important;
}

.iapps-marketier-color {
  color: #f68932 !important;
}

.iapps-error-color {
  color: #df0000;
}

.iapps-warning-color {
  color: #f68932;
}

.iapps-bold-text {
  font-weight: bold;
}

.iapps-environment-dev {
  background: #129ff7;
}

.iapps-environment-stage {
  background: #f99a01;
}

.iapps-environment-prod {
  background: #df0000;
}

.iapps-grid-height-half {
  height: 400px;
}

.iapps-horizontal-scroll {
  overflow-x: auto;
}

.iapps-vertical-scroll {
  padding-right: 20px;
  overflow-y: scroll;
}

.iapps-upper-case {
  text-transform: uppercase;
}

.iapps-justify-right {
  display: flex;
  justify-content: right;
}

iframe {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.iapps-library .iapps-tree, .iapps-library .iapps-grid {
  margin-bottom: 0;
  height: 600px;
}

ol, ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
ol li, ul li {
  margin-bottom: 5px;
}

ol li {
  list-style: decimal;
}

ul li {
  list-style: disc;
}

ul.iapps-no-bullets, ol.iapps-no-bullets {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
ul.iapps-no-bullets > li, ol.iapps-no-bullets > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-no-bullets > li, ol.iapps-no-bullets > li {
  margin-bottom: 10px;
}

ul.iapps-vertical-list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
ul.iapps-vertical-list > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-vertical-list > li {
  border-bottom: dotted 1px #d2d2d2;
  padding: 10px 0;
}
ul.iapps-vertical-list > li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
ul.iapps-vertical-list.iapps-vertical-list-border {
  border: dotted 1px #d2d2d2;
}
ul.iapps-vertical-list.iapps-vertical-list-border > li {
  padding: 10px;
}

dl {
  margin-bottom: 20px;
  padding-left: 150px;
  overflow: hidden;
}
dl dt {
  float: left;
  margin: 0 0 20px -150px;
  padding-right: 20px;
  width: 150px;
  clear: left;
  font-weight: bold;
  text-align: right;
}
dl dd {
  float: right;
  margin-bottom: 20px;
  width: 100%;
}

.pac-container {
  z-index: 99999;
}

.iapps-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(51, 51, 51, 0.8);
  z-index: 60000;
}
.iapps-modal-wrapper--draggable {
  position: static;
  background: none;
}
.iapps-modal-wrapper--draggable .iapps-modal {
  z-index: 60000;
}

.iapps-modal {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  border: solid 1px #fff;
  background: #fff;
}
.iapps-modal > form {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}
.iapps-modal .iapps-modal-header {
  border-radius: 5px 5px 0 0;
  padding: 20px;
  background: #333;
  color: #fff;
  line-height: 1;
}
.iapps-modal .iapps-modal-header * {
  margin-bottom: 0;
}
.iapps-modal iapps-modal-content {
  flex-grow: 1;
}
.iapps-modal .iapps-modal-content {
  flex-grow: 1;
  max-height: 100%;
  padding: 20px;
  overflow: auto;
}
.iapps-modal .iapps-modal-content > :last-child {
  margin-bottom: 0;
}
.iapps-modal .iapps-modal-footer {
  border-top: solid 1px #d2d2d2;
  padding: 10px 20px;
  text-align: right;
}
.iapps-modal .iapps-modal-footer > :last-child {
  margin-right: 0;
}
.iapps-modal:hover {
  z-index: 60001;
}
.iapps-modal.iapps-modal-draggable {
  position: fixed;
}
.iapps-modal.iapps-modal-draggable .iapps-modal-header {
  cursor: move;
}
.iapps-modal.iapps-modal-opacity {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out 1s;
}
.iapps-modal.iapps-modal-opacity:hover {
  opacity: 1;
  transition-delay: 0s;
}

.iapps-pagination-info {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.iapps-pagination-buttons {
  display: inline-block;
  margin-right: 10px;
  font-size: 0;
  vertical-align: middle;
}
.iapps-pagination-buttons button {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.iapps-pagination-buttons button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.iapps-pagination-buttons button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.iapps-loading-spinner {
  display: inline-block;
  width: 101px;
  height: 101px;
}
.iapps-loading-spinner [class^=iapps-loading-spinner-] {
  float: left;
  border: solid 1px #fff;
  height: 48px;
  width: 48px;
  background: #d2d2d2;
}
.iapps-loading-spinner .iapps-loading-spinner-top-left {
  margin: 0 3px 3px 0;
  animation: iapps-loading-spinner-top-left 1s 0s infinite linear normal;
}
.iapps-loading-spinner .iapps-loading-spinner-top-right {
  margin: 0 0 3px 0;
  animation: iapps-loading-spinner-top-right 1s 0s infinite linear normal;
}
.iapps-loading-spinner .iapps-loading-spinner-bottom-right {
  animation: iapps-loading-spinner-bottom-right 1s 0s infinite linear normal;
}
.iapps-loading-spinner .iapps-loading-spinner-bottom-left {
  margin: 0 3px 0 0;
  clear: left;
  animation: iapps-loading-spinner-bottom-left 1s 0s infinite linear normal;
}
.iapps-loading-spinner.iapps-loading-spinner-small {
  height: 40px;
  width: 40px;
}
.iapps-loading-spinner.iapps-loading-spinner-small [class^=iapps-loading-spinner-] {
  margin: 0;
  height: 20px;
  width: 20px;
}

@keyframes iapps-loading-spinner-top-left {
  0% {
    background: #085796;
  }
  25% {
    background: #085796;
  }
  26% {
    background: #d2d2d2;
  }
}
@keyframes iapps-loading-spinner-top-right {
  0% {
    background: #d2d2d2;
  }
  25% {
    background: #d2d2d2;
  }
  26% {
    background: #f68932;
  }
  50% {
    background: #f68932;
  }
  51% {
    background: #d2d2d2;
  }
}
@keyframes iapps-loading-spinner-bottom-right {
  0% {
    background: #d2d2d2;
  }
  50% {
    background: #d2d2d2;
  }
  51% {
    background: #803f98;
  }
  75% {
    background: #803f98;
  }
  76% {
    background: #d2d2d2;
  }
}
@keyframes iapps-loading-spinner-bottom-left {
  0% {
    background: #d2d2d2;
  }
  75% {
    background: #d2d2d2;
  }
  76% {
    background: #7ac144;
  }
  100% {
    background: #7ac144;
  }
}
.iapps-progress-indicator {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.4);
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  background: #f8f8f8;
}
.iapps-progress-indicator-bar {
  height: 20px;
  border-radius: 0 5px 5px 0;
  background: #7ac144;
}
.iapps-progress-indicator-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

ol.iapps-step-indicator {
  margin: 0;
  padding: 0;
  margin: 0 0 20px 0;
  counter-reset: iapps-step;
}
ol.iapps-step-indicator > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.iapps-step-indicator > li {
  margin-bottom: 20px;
  counter-increment: iapps-step;
}
ol.iapps-step-indicator > li.iapps-step-active .iapps-step-title, ol.iapps-step-indicator > li.iapps-step-completed .iapps-step-title {
  color: #085796;
}
ol.iapps-step-indicator > li.iapps-step-active .iapps-step-title:before, ol.iapps-step-indicator > li.iapps-step-completed .iapps-step-title:before {
  border-color: #085796;
  background-color: #085796;
  color: #fff;
}
ol.iapps-step-indicator > li.iapps-step-active .iapps-step-title {
  font-weight: bold;
}
ol.iapps-step-indicator > li.iapps-step-active .iapps-step-title:before {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
}
ol.iapps-step-indicator > li.iapps-step-completed .iapps-step-title {
  font-style: italic;
}
ol.iapps-step-indicator > li.iapps-step-completed .iapps-step-title:before {
  content: "\e824";
  font-family: "iapps-fontello";
  font-weight: normal;
}
ol.iapps-step-indicator .iapps-step-title {
  font-size: 16px;
}
ol.iapps-step-indicator .iapps-step-title:before {
  content: counter(iapps-step);
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #d2d2d2;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background: #f8f8f8;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
ol.iapps-step-indicator a.iapps-step-title:hover:before {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
}

table {
  margin-bottom: 20px;
  border: solid 1px #d2d2d2;
  width: 100%;
}
table th, table td {
  position: relative;
  padding: 5px 10px;
  height: 29px;
  vertical-align: middle;
  background-clip: padding-box;
}
table th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
table thead tr {
  background-color: #d2d2d2;
}
table thead th {
  background-color: #d2d2d2;
}
table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}
table tfoot tr {
  border-top: solid 1px #d2d2d2;
  background-color: #f8f8f8;
}
table tfoot tr td {
  font-weight: bold;
}
table .iapps-text-overflow {
  position: absolute;
  top: 5px;
  left: 10px;
  right: 10px;
}

table.iapps-table-unformatted {
  border: none;
}
table.iapps-table-unformatted th, table.iapps-table-unformatted td {
  padding: 5px 0;
}
table.iapps-table-unformatted tbody th {
  font-weight: normal;
}
table.iapps-table-unformatted tbody tr {
  background-color: transparent !important;
}
table.iapps-table-unformatted tfoot tr {
  background-color: transparent !important;
}

table.iapps-table-scrollable thead, table.iapps-table-scrollable tbody, table.iapps-table-scrollable tfoot {
  display: block;
}
table.iapps-table-scrollable tbody {
  overflow-y: auto;
}
table.iapps-table-scrollable tr {
  display: block;
  overflow: hidden;
}
table.iapps-table-scrollable th, table.iapps-table-scrollable td {
  float: left;
  width: 100%;
}

table.iapps-table-selectable tbody tr {
  cursor: pointer;
}
table.iapps-table-selectable tbody tr:hover {
  background-color: #d2d2d2 !important;
}
table.iapps-table-selectable tbody tr:first-child {
  border-top: solid 1px #f8f8f8;
}
table.iapps-table-selectable tbody tr.iapps-row-selected {
  background-color: #085796 !important;
  color: #fff;
  border-top: solid 1px #085796;
}
table.iapps-table-selectable tbody tr.iapps-row-selected a, table.iapps-table-selectable tbody tr.iapps-row-selected button {
  color: #fff;
}

table.iapps-calendar thead th {
  text-align: center;
}
table.iapps-calendar tbody tr {
  background-color: #fff;
}
table.iapps-calendar tbody td {
  border: solid 1px #d2d2d2;
  vertical-align: top;
}
table.iapps-calendar tbody td.iapps-other-month {
  background-color: #f8f8f8;
}
table.iapps-calendar tbody td.iapps-today {
  background-color: #f68932;
}
table.iapps-calendar tbody td.iapps-selected-day {
  background-color: #d2d2d2;
}
table.iapps-calendar tbody td.iapps-disabled-day {
  opacity: 0.4;
  cursor: no-drop;
}
table.iapps-calendar tbody ul {
  margin: 0;
  padding: 0;
}
table.iapps-calendar tbody ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
table.iapps-calendar tbody ul > li {
  margin-bottom: 3px;
}
table.iapps-calendar th, table.iapps-calendar td {
  width: 14.28571%;
}
table.iapps-calendar .iapps-calendar-date {
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 3px 0;
  width: 20px;
  background-color: #d2d2d2;
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  text-align: center;
}

.iapps-calendar-item {
  display: block;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: #d2d2d2;
  color: #fff;
}

ul.iapps-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: solid 3px #085796;
}
ul.iapps-tabs > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-tabs > li {
  display: block;
  margin-right: 5px;
  border: solid 1px #d2d2d2;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  background: #fff;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
}
ul.iapps-tabs > li:hover {
  background-color: #f8f8f8;
}
ul.iapps-tabs > li.iapps-tab-selected {
  border-color: #085796;
  background-color: #085796 !important;
  color: #fff;
}
ul.iapps-tabs a {
  color: #fff;
}
ul.iapps-tabs > :last-child {
  margin-right: 0;
}

.iapps-tab-container ul.iapps-tabs {
  padding: 0 10px;
}
.iapps-tab-container .iapps-tab-content {
  border: solid 1px #d2d2d2;
  border-top: none;
  padding: 20px;
  overflow-y: auto;
}
.iapps-tab-container .iapps-tab-content > :last-child {
  margin-bottom: 0;
}
.iapps-tab-container:not(::last-child) {
  margin-bottom: 20px;
}

iapps-tab-item > :last-child {
  margin-bottom: 0;
}

.iapps-tooltip {
  display: block;
  position: fixed;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  background: rgba(51, 51, 51, 0.8);
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  z-index: 900;
}

.iapps-tree {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: solid 1px #d2d2d2;
  height: 600px;
}
.iapps-tree ul {
  display: none;
  margin: 0;
  padding: 0;
}
.iapps-tree ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iapps-tree ul li {
  position: relative;
  padding-left: 20px;
}
.iapps-tree ul li.iapps-tree-node-expanded > .iapps-tree-node-toggle:before {
  content: "\e82c";
}
.iapps-tree ul li.iapps-tree-node-expanded > ul {
  display: block;
}
.iapps-tree ul li.iapps-tree-node-selected > .iapps-tree-node-title {
  background: #085796 !important;
  color: #fff;
}
.iapps-tree ul li.iapps-tree-group-node > .iapps-tree-node-title, .iapps-tree ul li.iapps-tree-root-node > .iapps-tree-node-title {
  font-weight: bold;
}
.iapps-tree ul li.iapps-tree-node-invisible > .iapps-tree-node-title {
  color: #a6a6a6;
}
.iapps-tree ul li.iapps-tree-node-noaccess > .iapps-tree-node-title {
  cursor: no-drop;
  opacity: 0.4;
}
.iapps-tree ul li.iapps-tree-node-noaccess > .iapps-tree-node-title:hover {
  background: none;
}
.iapps-tree ul li.iapps-tree-node-disabled > .iapps-tree-node-title {
  cursor: default;
}
.iapps-tree ul li.iapps-tree-node-disabled > .iapps-tree-node-title:hover {
  background: none;
}
.iapps-tree .iapps-tree-node-toggle {
  position: absolute;
  top: -3px;
  left: 5px;
  padding: 5px 0;
  cursor: pointer;
}
.iapps-tree .iapps-tree-node-toggle:before {
  content: "\e818";
  font-family: "iapps-fontello";
  font-size: 16px;
}
.iapps-tree .iapps-tree-node-title {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
  cursor: pointer;
}
.iapps-tree .iapps-tree-node-title:hover {
  background-color: #d2d2d2;
}
.iapps-tree .iapps-tree-actions {
  flex-grow: 0;
}
.iapps-tree .iapps-tree-actions .iapps-row {
  align-items: center;
  border-bottom: solid 1px #d2d2d2;
  padding: 10px 0 !important;
  height: 58px;
  background: #f8f8f8;
}
.iapps-tree .iapps-tree-actions h3 {
  margin: 0;
}
.iapps-tree .iapps-tree-actions button {
  float: left;
  margin-right: 5px;
}
.iapps-tree .iapps-tree-actions button:after {
  content: none !important;
}
.iapps-tree .iapps-tree-items {
  position: relative;
  height: 100%;
  overflow: auto;
}
.iapps-tree .iapps-tree-items > ul {
  display: block;
  padding: 10px 20px;
  padding-left: 0;
}
.iapps-tree .iapps-tree-loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: center;
}

h1, .h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

h2, .h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

h3, .h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

h4, .h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

.iapps-subheading {
  font-weight: normal;
  font-size: 14px;
}
.iapps-subheading:before {
  content: " | ";
  color: #d2d2d2;
}

p {
  margin-bottom: 20px;
}

a {
  color: #085796;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

hr {
  margin: 0 0 20px 0;
  border: none;
  border-top: solid 1px #d2d2d2;
  height: 0;
}

pre {
  white-space: pre-wrap;
}

.iapps-image-editor {
  padding: 0 !important;
  overflow: hidden !important;
}
.iapps-image-editor .iapps-toolbox-container {
  background-color: #d2d2d2;
  color: #333;
}
.iapps-image-editor .iapps-toolbox-container > form {
  padding: 10px;
}
.iapps-image-editor .iapps-toolbox-container > form h4 {
  text-transform: uppercase;
}
.iapps-image-editor .iapps-toolbox-container ul.iapps-toolbox {
  margin: 0;
  padding: 0;
}
.iapps-image-editor .iapps-toolbox-container ul.iapps-toolbox > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iapps-image-editor .iapps-toolbox-container ul.iapps-toolbox > li {
  padding: 10px;
  cursor: pointer;
}
.iapps-image-editor .iapps-toolbox-container ul.iapps-toolbox > li:hover {
  background-color: #f8f8f8;
}
.iapps-image-editor .iapps-toolbox-container ul.iapps-toolbox > li:before {
  padding-right: 10px;
  width: 20px;
}
.iapps-image-editor .iapps-toolbox-container .iapps-button-image:before {
  padding-right: 10px;
  cursor: pointer;
}
.iapps-image-editor .iapps-imagearea-controls {
  background-color: #d2d2d2;
  color: #333;
  padding: 10px;
  margin: 0;
}
.iapps-image-editor .iapps-imagearea-container {
  padding: 10px !important;
  background-color: #f8f8f8;
  overflow: auto;
  border-bottom: solid 1px #f8f8f8;
}

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cropper-container img {
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
  overflow: hidden;
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}

.cropper-modal {
  background-color: #000;
  opacity: 0.5;
}

.cropper-view-box {
  display: block;
  height: 100%;
  outline-color: rgba(51, 153, 255, 0.75);
  outline: 1px solid #39f;
  overflow: hidden;
  width: 100%;
}

.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: 0.5;
  position: absolute;
}

.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: 33.3333333333%;
  left: 0;
  top: 33.3333333333%;
  width: 100%;
}

.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: 33.3333333333%;
  top: 0;
  width: 33.3333333333%;
}

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  width: 0;
}

.cropper-center:before,
.cropper-center:after {
  background-color: #eee;
  content: " ";
  display: block;
  position: absolute;
}

.cropper-center:before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}

.cropper-center:after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  display: block;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
}

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}

.cropper-line {
  background-color: #39f;
}

.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}

.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}

.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: 0.75;
  width: 5px;
}

.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}

.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}

.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}

.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}

.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}

.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}

.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}

.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}
@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}
@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: 0.75;
    width: 5px;
  }
}
.cropper-point.point-se:before {
  background-color: #39f;
  bottom: -50%;
  content: " ";
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}

.iapps-object-viewer__property {
  display: flex;
  flex-direction: row;
}
.iapps-object-viewer__property:not(:last-child) {
  margin-bottom: 10px;
}
.iapps-object-viewer__property__key {
  display: inline-block;
  padding: 0 10px 0 0;
  font-weight: bold;
  white-space: nowrap;
}
.iapps-object-viewer__property__preview {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a6a6a6;
}
.iapps-object-viewer__property--expandable > .iapps-object-viewer__property__key {
  color: #085796;
  cursor: pointer;
}
.iapps-object-viewer__property--expandable > .iapps-object-viewer__property__key:after {
  content: "\e818";
  display: inline-block;
  margin-left: 10px;
  font-family: "iapps-fontello";
  font-weight: normal;
  color: #333;
}
.iapps-object-viewer__property--expanded {
  flex-direction: column;
}
.iapps-object-viewer__property--expanded > .iapps-object-viewer__property__key {
  margin-bottom: 10px;
}
.iapps-object-viewer__property--expanded > .iapps-object-viewer__property__key:after {
  content: "\e82c";
}
.iapps-object-viewer__property--expanded > iapps-object-viewer {
  margin: 0 0 0 20px;
}

.iapps-widget {
  border: solid 1px #d2d2d2;
  margin: 20px 0;
}
.iapps-widget-toolbar {
  border-bottom: solid 1px #d2d2d2;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f8f8f8;
}
.iapps-widget-toolbar h5 {
  margin-bottom: 0;
}
.iapps-widget-content {
  padding: 20px 20px;
}
.iapps-widget .iapps-row {
  margin-left: 0;
  margin-right: 0;
}

#iapps-login .iapps-login-top {
  position: relative;
  padding: 40px 0;
  background: url("images/login-background.png");
}
#iapps-login .iapps-login-top .iapps-container {
  width: 1100px;
}
#iapps-login .iapps-login-form {
  margin-bottom: -80px !important;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border: solid 1px #d2d2d2;
  padding: 40px;
  min-height: 590px;
  background: #fff;
}
#iapps-login .iapps-sso-form .iapps-alert {
  margin: 50px 0px;
}
#iapps-login .iapps-sso-form .iapps-product-selector {
  margin-top: 100px !important;
}
#iapps-login .iapps-forgot-password {
  float: right;
  margin-top: 10px;
}
#iapps-login ul.iapps-product-selector {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 -20px !important;
  padding: 0 16px;
}
#iapps-login ul.iapps-product-selector > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#iapps-login ul.iapps-product-selector > li {
  padding: 0 2px;
}
#iapps-login ul.iapps-product-selector > li.iapps-selected img {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  opacity: 1;
}
#iapps-login ul.iapps-product-selector img {
  border: solid 1px #d2d2d2;
  opacity: 0.4;
  cursor: pointer;
}
#iapps-login ul.iapps-product-selector img:hover {
  border-color: #a6a6a6;
  opacity: 1;
}
#iapps-login .iapps-products {
  border-top: solid 1px #d2d2d2;
  padding: 60px 0 40px;
  background: #f8f8f8;
}
#iapps-login .iapps-product-info {
  display: flex;
  margin: 0 -10px;
}
#iapps-login .iapps-product-info > div {
  width: 20%;
  padding: 0 10px;
  text-align: center;
}
#iapps-login .iapps-product-info p:first-of-type {
  margin-top: 20px;
  border-top: solid 1px #d2d2d2;
  padding-top: 20px;
}

.iapps-marketier-dashboard-no-email-blasts {
  border: solid 1px #d2d2d2;
  padding: 20px;
  height: 176px;
  background: #f8f8f8 url("images/marketier-dashboard-email-blast-placeholder.png") no-repeat 268px 45px;
}
.iapps-marketier-dashboard-no-email-blasts p {
  margin-bottom: 45px;
}

.iapps-marketier-dashboard-calendar {
  margin: 0;
  width: auto;
}

.iapps-automation-calendar .iapps-automation-flow {
  background: #803f98 !important;
}

.iapps-automation-calendar .iapps-campaign-blackout-date {
  background: #990000 !important;
}

.iapps-automation-calendar .iapps-campaign-email {
  background: #f68932 !important;
}

.iapps-automation-calendar table.iapps-calendar td {
  height: 100px;
}

.iapps-automation-calendar table.iapps-calendar .iapps-calendar-item {
  width: 115px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.iapps-woorank-screenshot {
  background: url("images/woorank-screenshot-bg.svg") no-repeat;
  width: 250px;
  height: 200px;
  padding: 9px;
}
.iapps-woorank-progress {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.iapps-woorank-progress-wrapper h3 {
  font-weight: bold;
  color: #119ff7;
  margin-bottom: 20px;
}
.iapps-woorank-progress-wrapper .iapps-button {
  background: #119ff7;
  border-color: #119ff7;
  color: #fff;
  margin-top: 20px;
}
.iapps-woorank-progress-text {
  min-width: 80px;
}
.iapps-woorank-progress-bar {
  background: #f8f8f8;
  min-width: 200px;
  border-radius: 10px;
  height: 10px;
}
.iapps-woorank-progress-bar-state {
  background: #a6a6a6;
  border-radius: 10px;
  height: 10px;
}
.iapps-woorank-progress-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(closest-side, white 89%, transparent 90% 100%), conic-gradient(var(--progress-color) calc(var(--progress-value) * 1%), #f8f8f8 0);
  color: var(--progress-color);
  font-size: 48px;
}
.iapps-woorank-progress-circle::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage);
}
.iapps-woorank-progress-circle progress {
  visibility: hidden;
  width: 0;
  height: 0;
}

.iapps-admin-header {
  padding: 10px 0;
  background: #333;
  color: #fff;
  line-height: 1;
}
.iapps-admin-header .iapps-row {
  align-items: center;
}
.iapps-admin-header .iapps-logo {
  margin: -9px 15px -7px 0;
  vertical-align: middle;
}
.iapps-admin-header .iapps-header-title {
  font-size: 28px;
  vertical-align: middle;
}

ul.iapps-global-navigation {
  margin: 0;
  padding: 0;
  display: inline-flex;
}
ul.iapps-global-navigation > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-global-navigation > li > a {
  display: block;
  border: solid 1px #333;
  border-bottom: none;
  padding: 10px 20px 10px 10px;
  font-weight: bold;
  color: #fff;
}
ul.iapps-global-navigation > li > a:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #fff;
  height: 12px;
  width: 12px;
  background: #a6a6a6;
  vertical-align: top;
}
ul.iapps-global-navigation > li.iapps-expanded > a {
  position: relative;
  border-color: #d2d2d2;
  border-bottom: none;
  background: #f8f8f8;
  color: #333;
  text-decoration: none;
  z-index: 101;
}
ul.iapps-global-navigation > li.iapps-expanded .iapps-dropdown-menu-container {
  max-height: 600px;
}
ul.iapps-global-navigation > li.iapps-analyzer > a:before {
  background: #803f98;
}
ul.iapps-global-navigation > li.iapps-content-manager > a:before {
  background: #085796;
}
ul.iapps-global-navigation > li.iapps-commerce > a:before {
  background: #7ac144;
}
ul.iapps-global-navigation > li.iapps-insights > a:before {
  background: #803f98;
}
ul.iapps-global-navigation > li.iapps-marketier > a:before {
  background: #f68932;
}
ul.iapps-global-navigation > li.iapps-social > a:before {
  background: #3ab3cc;
}
ul.iapps-global-navigation .iapps-dropdown-menu-container {
  position: absolute;
  left: 50%;
  margin: -1px 0 0 -630px;
  width: 1260px;
  z-index: 100;
}
ul.iapps-global-navigation .iapps-dropdown-menu-columns {
  flex-wrap: wrap;
}

.iapps-product-navigation-bar {
  border-bottom: solid 1px #d2d2d2;
  background: #f8f8f8;
}
.iapps-product-navigation-bar .iapps-dropdown-menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  z-index: 1;
}
.iapps-product-navigation-bar li.iapps-expanded > .iapps-dropdown-menu-container {
  max-height: 600px;
}

ul.iapps-product-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 0 0 -20px;
}
ul.iapps-product-navigation > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-product-navigation > li {
  position: relative;
  z-index: 99;
}
ul.iapps-product-navigation > li > a, ul.iapps-product-navigation > li > span {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
}
ul.iapps-product-navigation > li > span {
  cursor: default;
}
ul.iapps-product-navigation > li.iapps-expanded > a, ul.iapps-product-navigation > li.iapps-expanded > span {
  position: relative;
  background: #d2d2d2;
  text-decoration: none;
  z-index: 1;
}

ul.iapps-utility-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 -20px 0 0;
  justify-content: flex-end;
}
ul.iapps-utility-navigation > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.iapps-utility-navigation > li {
  position: relative;
  z-index: 99;
}
ul.iapps-utility-navigation > li > a, ul.iapps-utility-navigation > li > span {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
}
ul.iapps-utility-navigation > li > span {
  cursor: default;
}
ul.iapps-utility-navigation > li.iapps-expanded > a, ul.iapps-utility-navigation > li.iapps-expanded > span {
  position: relative;
  background: #d2d2d2;
  text-decoration: none;
  z-index: 1;
}
ul.iapps-utility-navigation > li:last-child .iapps-dropdown-menu-container {
  left: auto;
  right: 0;
}

.iapps-current-environment {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff !important;
}

.iapps-site-selector {
  position: relative;
  z-index: 100;
  text-align: right;
}
.iapps-site-selector .iapps-current-site {
  display: inline-block;
  margin-right: -20px;
  border: solid 1px transparent;
  border-bottom: none;
  padding: 5px 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
}
.iapps-site-selector .iapps-site-selector-toggle {
  position: relative;
  cursor: pointer;
  padding-right: 40px;
}
.iapps-site-selector .iapps-site-selector-toggle:after {
  content: "\f107";
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "iapps-fontello";
  font-weight: normal;
}
.iapps-site-selector.iapps-active .iapps-current-site {
  position: relative;
  border-color: #d2d2d2;
  background: #f8f8f8;
  color: #333;
  z-index: 1;
}
.iapps-site-selector.iapps-active .iapps-dropdown-menu-container {
  max-height: 600px;
}
.iapps-site-selector .iapps-dropdown-menu-container {
  position: absolute;
  top: 33px;
  right: -20px;
  width: 300px;
}
.iapps-site-selector .iapps-dropdown-menu-site-filter .iapps-site-filter-notice {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}
.iapps-site-selector .iapps-dropdown-menu-site-filter ul {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}
.iapps-site-selector .iapps-dropdown-menu-site-filter a {
  white-space: normal;
}

.iapps-dropdown-menu-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in 0.1s;
}

.iapps-dropdown-menu {
  display: block;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  border: solid 1px #d2d2d2;
  padding: 20px;
  background: #f8f8f8;
  line-height: 1.5;
  color: #333;
  text-align: left;
}
.iapps-dropdown-menu-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.iapps-dropdown-menu-columns > * {
  margin: 0 20px 0 0 !important;
}
.iapps-dropdown-menu-columns > *:last-child {
  margin-right: 0 !important;
}
.iapps-dropdown-menu-section, .iapps-dropdown-menu-title {
  display: block;
  font-weight: bold;
  white-space: nowrap;
}
.iapps-dropdown-menu-section {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}
.iapps-dropdown-menu-title {
  margin-bottom: 10px;
  font-weight: bold;
}
.iapps-dropdown-menu ul {
  margin: 0;
  padding: 0;
}
.iapps-dropdown-menu ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iapps-dropdown-menu ul li {
  margin-bottom: 5px;
}
.iapps-dropdown-menu a {
  display: block;
  color: #333 !important;
  white-space: nowrap;
}
.iapps-dropdown-menu :last-child {
  margin-bottom: 0;
}

.iapps-dropdown-menu-search {
  width: 300px;
}
.iapps-dropdown-menu-search .iapps-find-and-replace {
  margin-top: 10px;
  text-align: right;
}

.iapps-admin-footer {
  border-top: solid 1px #d2d2d2;
  padding: 20px 0;
  background: #fff;
  color: #a6a6a6;
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: #333;
  background: none;
  text-shadow: 0 1px white;
  font-family: monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] > code[class*=language-] {
  display: block;
  margin: -40px 0 -38px !important;
}

pre[class*=language-] {
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  max-height: 350px;
  background: #f8f8f8;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #803f98;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #7ac144;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0deg, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #f68932;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  color: #333;
}

.sg-color {
  margin-bottom: 20px;
}
.sg-color .sg-color-fill {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
.sg-color .sg-color-fill span {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  background: #fff;
  line-height: 1;
}
.sg-color .sg-color-title {
  display: block;
  text-align: center;
}

.sg-icon {
  margin-bottom: 20px !important;
}
.sg-icon .sg-icon-example {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  font-size: 28px;
  text-align: center;
}
.sg-icon .sg-icon-title {
  display: block;
  text-align: center;
}

.sg-grid {
  padding: 20px;
  background: #f8f8f8;
}

.sg-grid-row {
  margin-top: 20px;
}

.sg-grid-column {
  display: block;
  padding: 10px;
  background: #085796;
  color: #fff;
  text-align: center;
}
.sg-grid-column.sg-grid-column-full-height {
  height: 100%;
}

.sg-modal {
  position: static !important;
}