<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ReferrersMaster.master.cs" Inherits="ReferrersMaster"
    MasterPageFile="~/ReportingRangeMaster.master" %>
<%@ MasterType TypeName="ReportingRangeMaster" %>
<asp:Content ID="head" ContentPlaceHolderID="cphHead" runat="server">
    <asp:ContentPlaceHolder ID="cphHead" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="referrersStatisticsContent" ContentPlaceHolderID="reportingContentHolder" runat="server" Visible="true">
    <div class="sub-navigation-bar">
        <asp:HyperLink ID="externalReferrersHpl" runat="server" NavigateUrl="~/Statistics/Referrers/ExternalReferrers.aspx" Text="<%$ Resources:GUIStrings, ExternalReferrers %>"></asp:HyperLink>
        <asp:HyperLink ID="searchReferrersHpl" runat="server" NavigateUrl="~/Statistics/Referrers/SearchReferrers.aspx" Text="<%$ Resources:GUIStrings, SearchReferrers %>"></asp:HyperLink>
    </div>
    <asp:contentplaceholder id="contentReferrersPlaceHolder" runat="server">
    </asp:contentplaceholder>
</asp:Content>