﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BLDProductLoad.aspx.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.BLDProductLoad" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
      <div></div>
    </form>
</body>
</html>
