﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MegaNav.ascx.cs" Inherits="Bridgeline.iAPPS.Pro.UI.PageParts.Controls.MegaNav" %>

<asp:Literal runat="server" ID="litMenu"></asp:Literal>