﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SelectedRefinments.ascx.cs" Inherits="Bridgeline.iAPPS.Pro.Page_Template_Library.Parts.Controls.SelectedRefinments" %>

                        <asp:PlaceHolder ID="plSelectedRefinment" runat="server">
                            <p>
                                <asp:Repeater ID="rptSelectedRefinment" runat="server">
                                    <ItemTemplate>
                                         <asp:LinkButton ID="lbSelectedRefinment" runat="server"  CssClass="tag is-closeable" OnCommand="lbSelectedRefinment_Command"></asp:LinkButton>
                                        
                                    </ItemTemplate>
                                </asp:Repeater>
                            </p>
                        </asp:PlaceHolder>