.formBody {
    clear: both;
}
.formRow {
    padding: 5px 0px 5px 0px;
    clear: both;
    font-size: 12px;
    font-family: Arial;
}
.labelItems, label {
    float: left;
    width: 130px;
    padding: 2px 10px 2px 0;
    text-align: right;
    color: #666;
}
.formRow input {
    border-color: #859EC7 #D4D9E1 #D4D9E1 #859EC7;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    display: block;
    margin-bottom: 10px;
    padding: 1px 0 1px 4px;
    width: 210px;
}
.formRow textarea {
    border-color: #859EC7 #D4D9E1 #D4D9E1 #859EC7;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    display: block;
    margin-bottom: 10px;
    width: 210px;
    padding: 1px 0px 1px 4px;
}
.formRow select {
    border-color: #859EC7 #D4D9E1 #D4D9E1 #859EC7;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    display: block;
    margin-bottom: 10px;
    width: 212px;
    height: 20px;
}
.formRow div {
    float: left;
    width: 400px;
}
.formRow div span {
    display: block;
    clear: both;
}
.formRow div span input {
    float: left;
    display: inline;
    margin-bottom: 0px;
    padding: 0px;
    width: auto;
    border: 0;
}
.formRow div span label {
    float: left;
    width: auto;
}
.formRow div input, .formRow div img {
    float: left;
}
.formRow div img {
    margin-left: 5px;
    margin-top: 2px;
}
div.formFooter {
    clear: both;
    text-align: center;
    margin-top: 15px;
    margin-left: 140px;
}
div.formSubmit {
    border-color: #859EC7;
    border-style: solid;
    border-width: 1px;
    color: #102A5C;
    cursor: pointer;
    font-family: "Trebuchet MS";
    font-size: 1em;
    font-weight: bold;
    padding: 3px 10px;
    width: auto !important;
    float: left;
    background-color: #D4D9E1;
}
div.formSubmit a {
    text-decoration: none;
}
.hiddenElement {
    display: none;
}
