@import "../../../Angular/src/scss/General/_includes.scss";
@import "../../../Angular/src/scss/Components/_buttons.scss";

.tox {
    font-family: inherit;

    &-tinymce {
        border: solid 1px $color-gray-medium !important;
        border-radius: $border-radius !important;
    }

    .tox {
        &-editor-container {
            background-color: $color-gray-light;
        }

        &-editor-header {
            box-shadow: none !important;
            border-bottom: solid 1px #e3e3e3 !important;
            background-color: $color-gray-light !important;
        }

        &-toolbar {
            background-color: transparent;

            &-overlord {
                background-color: transparent;
            }
        }

        &-statusbar {
            background-color: transparent;
        }

        &-toolbar__group {
            padding: 0 3px 0 3px;
        }

        &-button {
            @include iapps-button-primary();

            &:hover {
                background: $color-orange;
                border-color: $color-gray-dark;
            }

            &--secondary, &--naked, &[title='Close'] {
                @include iapps-button();

                &:hover {
                    background: $color-white;
                }
            }

            &--icon, &--icon[title='Close'] {
                border: none;
                height: auto;
                padding: 0;
            }

            font-family: inherit;
        }

        &-tbtn {

            &--bespoke {
                width: 80px;
                box-shadow: 0 0 0 1px #f0f0f0 inset;
            }

            &[title^='Save'] {
                @include iapps-button-primary();

                &:hover {
                    background: $color-orange;
                    border-color: $color-gray-dark;
                }
            }

            &[title^='Cancel'] {
                @include iapps-button();

                &:hover {
                    background: $color-white;
                }
            }

            &[title^='Save'], &[title^='Cancel'] {
                height: 28px;
                padding: 0 2px 0 2px;
                margin: 0 6px 0 0;

                &:hover {
                    box-shadow: $shadow-outer;
                }
            }

            &:hover, &:active {
                background: #e3e3e3;
            }
        }

        &-dialog__title, &-textfield {
            font-family: inherit;
        }

        &-form__group {
            margin-bottom: $padding;
        }

        &-collection__item--active {
            background: #e3e3e3 !important;
        }
    }

    &.tox-tinymce-inline {
        border-radius: 0 !important;
        z-index: 59999 !important;
        margin-top: -2px;
        border: 0 !important;
        width: auto !important;

        .tox-editor-header {
            border-radius: 0 !important;
            border: solid 1px $color-gray-medium !important;
            background-color: #f0f0f0;
        }
    }
}

body.tox-dialog__disable-scroll {
    overflow: visible !important;
}

.tox-tinymce-aux {
    z-index: 999999 !important;
}

.CodeMirror-hints {
    z-index: 999999 !important;
}

.tox-editor-dock-fadeout {
    opacity: 1 !important;
    visibility: visible !important;
}


