﻿@import "../../../Angular/src/scss/General/_includes.scss";
@import "../../../Angular/src/scss/Components/_scrollbars.scss";

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-align: left;
}

body.iapps-editor-body {
    padding: 10px;
    width: auto;

    > *:first-child:not(ol):not(ul) {
        padding: 0;
    }
}

body.iapps-editor-body {

    table {
        border-collapse: collapse;

        td {
            border: solid 1px $color-gray-medium;
        }
    }

    table:not([border]),
    table:not([border]) caption,
    table:not([border]) td,
    table:not([border]) th,
    table[border="0"],
    table[border="0"] caption,
    table[border="0"] td,
    table[border="0"] th,
    table[style*="border-width: 0px"],
    table[style*="border-width: 0px"] caption,
    table[style*="border-width: 0px"] td,
    table[style*="border-width: 0px"] th {
        border: dashed 1px $color-gray-medium;
        border-width: 1px !important;
    }
}
