.picker
{
	background-color: #FFFFFF;
	border: solid 1px #859ec7;
	font-size: 1.0em;
	font-family:"Trebuchet MS";
	cursor: pointer;
	color:#666666;
	padding-left:1px;
}

.calendar_button
{
	border: none;
	cursor: pointer;
	width: 28px;
	height: 25px;
}

.title
{
	font-weight: bold;
	color:#4f6280;
	background-color: #cfe3fe;
	background-image:url(images/calendar-header-bg.gif);
	background-repeat:repeat-x;
	background-position:left top;
	border:solid 1px #a6b7d3;
}

.day
{
	width: 25px;
	cursor: pointer;
	text-align: center;
	background-color:#f2f2fa;
	border:solid 1px #fff;
}

.dayhover
{
	width: 25px;
	cursor: pointer;
	text-align: center;
	text-decoration: underline;
	border:solid 1px #F6F6F6;
}

.dayheader
{
	width: 25px;
	text-align: center;
	font-weight: bold;
	background-color: #f6f6fe;
	background-image:url(images/calendar-day-header-bg.gif);
	background-repeat:repeat-x;
	background-position:left top;
	color:#4f6280;
}

.othermonthday
{
	color: #999999;
}

.outofrangeday
{
	visibility: hidden;
}

.selectedday
{
	width: 25px;
	background-color: #fcdb34;
	color: #000000;
	border:solid 1px #dfeaff;
	font-weight: bold;
}

.calendar
{
	border:solid 1px #4095a9;
	border-collapse: collapse;
	background-color: #98aef9;
	background-image:url(images/calendar-bg.gif);
	background-repeat:repeat-x;
	background-position:left top;
	cursor: default;
	padding:5px;
}

.month
{
	background-color: #F6F6F6;
	margin:0 5px 5px 5px;
}

.nextprev
{
	cursor: pointer;
	height: 25px;
	vertical-align: center;
	padding: 0px 5px 0px 5px;
}

.selector
{
	width: 14px;
	cursor: pointer;
	text-align: left;
	vertical-align: center;
	background-color: #FFFFFF;
}
