﻿/*********************************general styles for sub-container*************************************************/

.floatLeft {
    float: left;
}
.clearBoth {
    clear: both;
}
.floatLeftClearBoth {
    float: left;
    clear: both;
}
.tabledContent {
    float: left;
    clear: both;
    display: block;
    margin: 0 !important;
    padding: 0 10px 0 0 !important;
}
.tabledFormLabel {
    display: block;
    width: 10.8em;
    text-align: right;
    font-weight: bold;
    color: #5f7296;
    padding: 0;
    margin: 0;
}
.tabledSubLabel {
    display: block;
    width: 10.8em;
    text-align: right;
    color: #5f7296;
    float: left;
    margin: 0;
    font-size: 0.97em;
    line-height: 1.2em;
    padding-left: 0.3em;
}

div.userAdministration div.boxContent div.boxSubContainer {
    width: 959px;
    display: inline;
    clear: both;
    float: left;
    margin: 4px 4px 4px 4px;
    border: solid 1px #8EA5CE;
    background-color: #fff;
}

div.userAdministration div.boxContent div.boxSubContainer div.boxSubHeader, div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageHeader, div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageHeader {
    width: 100%;
    display: table;
    background-image: url(images/subheader-bg.gif);
    background-repeat: repeat-x;
    background-color: #d1e9ff;
    color: #fff;
    height: 20px;
    min-height: 20px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageHeader, div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageHeader {
    background-image: none;
    background-color: #fff;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubHeader h3 {
    padding: 1px 0 1px 9px;
    color: #0c2a68;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
div.userAdministration div.boxContent div.AltboxSubContainer {
    width: 967px;
    padding: 0;
    margin: 0;
}

div.userAdministration div.AddNewUserContainer div.boxSubContent div.altactionButtonContainer, div.userAdministration div.AddNewWBUser div.boxSubContent div.altactionButtonContainer {
    width: 960px !important;
}

div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn, div.userAdministration div.boxContent div.formColumn, div.ManageWorkflow div.formColumn {
    clear: both;
    float: left;
    padding: 3px 0 10px 0;
}

div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.leftformColumn {
    width: 410px;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.RightformColumn {
    clear: none;
    width: 400px;
}

div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels, div.userAdministration div.boxContent div.formColumn label.labels {
    margin-bottom: 3px;
    display: block;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels input.textBoxes, div.userAdministration div.boxContent div.formColumn label.labels input.textBoxes, div.wrapper1 div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.formColumn label.labels input.textBoxes {
    width: 260px;
    background-color: #F7FAFF;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels textarea, div.userAdministration div.boxContent div.formColumn label.labels textarea {
    width: 260px;
    background-color: #F7FAFF;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels input.radio {
    background-color: #F7FAFF;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels select, div.userAdministration div.boxContent div.formColumn label.labels select, div.wrapper1 div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.formColumn label.labels select {
    width: 260px;
    background-color: #F7FAFF;
    visibility: visible !important;
}

div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.actionButtonContainer, div.userAdministration div.boxContent div.actionButtonContainer, div.wrapper div.outerWrapper div.copySite div.paddedContentContainer div.actionButtonContainer, div.siteWrapper div.boxContent div.actionButtonContainer, div.ManageWorkflow div.boxContent div.actionButtonContainer, div.publicationWrapper div.boxContent div.actionButtonContainer {
    background-image: url(images/bluefooter.gif);
    background-repeat: repeat-x;
    max-height: 38px;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 7px;
    width: 962px;
    margin: 0;
}
div.siteWrapper div.boxContent div.actionButtonContainer {
    width: 953px;
}
div.ManageWorkflow div.boxContent div.boxSubContainer div.actionButtonContainer {
    width: 952px;
}
div.rssContainer div.boxContent div.actionButtonContainer {
    width: 739px;
}

div.ManageWorkflow div.actionButtonContainer label.lbllightBlueFooterContainer span.SaveWorkflow {
    padding-right: 10px;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.actionButtonContainer input.secondButton, div.userAdministration div.boxContent div.actionButtonContainer input.secondButton, div.siteWrapper div.boxContent div.actionButtonContainer input.secondButton, div.wrapper div.outerWrapper div.copySite div.paddedContentContainer div.actionButtonContainer input.secondButton, div.ManageWorkflow div.boxContent div.actionButtonContainer input.secondButton, div.publicationWrapper div.boxContent div.actionButtonContainer input.secondButton {
    margin-left: 10px;
}


/******************************end of general styles for sub-container**********************/
/**************************start of styles for add new user**********************************/
div.userAdministration div.boxContent div.AddNewUserContainer div.boxSubContent, div.userAdministration div.boxContent div.AddNewWBUser div.boxSubContent {
    background-color: #dbeeff;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent span.formLabels a, div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent span.formLabels a:visited, div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent span.formLabels a:hover {
    text-decoration: none;
    font-weight: normal;
    text-align: right;
    float: right;
    color: #5f7296;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent span.formLabels a:hover {
    text-decoration: underline;
}
div.userAdministration div.boxContent div.AddNewUserContainer div.boxSubContent div.formColumnBottomLess {
    margin-bottom: 0;
    padding-bottom: 0;
}
span.reqFields {
    display: block;
    clear: both;
    color: #5f7296;
    margin: 0;
    padding: 3px 0 0 9px;
    width: 90%;
    text-align: left;
}
span.reqFields strong {
    color: #c96600;
}
div.AddNewWBUser div.boxSubContent span.reqFields {
    padding-top: 10px;
    margin-left: 9px;
}
div.AddNewWBUser div.boxSubContent span.tabledSubLabel {
    width: 8.7em;
    font-size: 0.98em;
    padding-left: 2.2em;
    text-align: center;
}
div.AddNewUserContainer div.boxSubContent span.reqFields {
    margin-top: 10px;
}
div.selectedUser div.contentContainer span.reqFields {
    margin-left: 6px;
}
div.AddNewWBUser div.formColumn {
    margin-top: 10px;
}
div.AddNewUserContainer span.rbUserType {
    margin-top: 8px;
}
div.AddNewUserContainer img.calendar_button {
    margin-bottom: -7px;
    margin-left: 1px;
}
div.AddNewUserContainer strong, div.AddNewWBUser strong, div.menuProperties div.headerContainer h5 strong, div.ManageWorkflow strong {
    color: #c96600;
}
div.userAdministration div.boxContent div.AddNewWBUser div.boxSubContent div.formColumn img.calendar_button {
    margin-bottom: -7px;
    margin-left: 3px;
}
div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.AddNewUserContainer div.boxSubContent div.userGroupSection {
    margin: 0 10px 14px 13px;
}
div.AddNewUserContainer div.boxSubContent div.userGroupSection div.listBoxContainer div.columns {
    padding: 0 4px 0 4px;
    float: left;
}
div.AddNewUserContainer div.boxSubContent div.userGroupSection div.listBoxContainer div.imageColumns {
    padding: 60px 4px 0px 4px;
    float: left;
    display: block;
}

div.AddNewUserContainer div.boxSubContent div.userGroupSection div.listBoxContainer div.imageColumns img {
    display: block;
    clear: both;
    padding-bottom: 3px;
}

div.AddNewUserContainer div.boxSubContent div.userGroupSection div.listBoxContainer div.imageColumns img.actionImage {
    cursor: pointer;
}

div.AddNewUserContainer div.boxSubContent div.userGroupSection div.listBoxContainer div.imageColumns img.arrowImage {
    margin-top: -5px;
}

div.AddNewUserContainer div.boxSubContent div.userGroupSection div.listBoxContainer div.columns label span {
    padding: 3px 0 3px 0;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    font-weight: bold;
    color: #5f7296;
}

div.AddNewUserContainer div.boxSubContent div.userGroupSection p {
    padding: 2px 4px 2px 6px;
    clear: both;
    margin: 0;
    border-bottom: solid 1px #b8bfc5;
}

div.AddNewUserContainer div.boxSubContent div.userGroupSection p a {
    color: #5f7296;
    text-decoration: none;
}

div.AddNewUserContainer div.boxSubContent div.userGroupSection p a:hover, div.userAdministration div.selectedUser div.rightColumn label.labels a:hover {
    color: #5f7296;
    text-decoration: underline;
}

/*********end of styles for add new user**********************************************************/
/**************************start of styles for copy site******************************************/


div.wrapper div.outerWrapper {
    margin-left: 10px;
}
div.wrapper div.outerWrapper div.copySite {
    border-top: 0;
}
div.wrapper div.outerWrapper div.copySite div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.subContainerMargin {
    margin-bottom: 0;
}
div.copySite div.siteStep2 div.section2, div.siteWrapper div.siteStep2 div.section2 {
    margin-right: -3px;
}
div.wrapper div.outerWrapper div.copySite div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.subContainerBottomMargin, div.wrapper1 div.outerWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.subContainerBottomMargin {
    border: solid 1px #8EA5CE;
    width: 950px;
    margin: 0 0 4px 0;
    clear: both;
    display: block;
    padding: 0;
    float: left; /*color:#656565; */
}
div.wrapper div.outerWrapper div.copySite span.rbComplete {
    margin-top: 5px;
}
div.wrapper1 div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.lightBlueFooterContainer div.workflowFooter span.saveWorkflow .textFont, div.wrapper1 div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.actionButtonContainer div.workflowFooter span.saveWorkflow .textFont {
    width: 267px;
    font-weight: normal;
    font-size: 1em;
    color: #666666;
    margin: 0;
    padding: 2px 0 3px 7px;
}
div.wrapper div.outerWrapper div.copySite div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubContent div.siteStep2 div.whiteSpace label.italictext {
    font-style: normal;
}
div.wrapper div.outerWrapper div.copySite div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubContent input.textBoxes, div.wrapper div.outerWrapper div.copySite div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubContent textarea {
    background-color: #F7FBFF;
}
div.wrapper div.outerWrapper div.copySite div.paddedContentContainer div.CopySiteFooter {
    width: 953px;
}
div.copySite span.reqFields {
    margin-bottom: 3px;
}

/**************************end of styles for copy site******************************************/

/************************** start of styles for manageList***************************/
div.ManageList div.boxShadow div.boxContainer div.paddingContainer {
    background-image: url(images/manageList-bg.gif) !important;
    background-color: #7199E3;
}

div.wrapper div.userAdministration div.boxShadow div.boxContainer div.boxHeader h3.twoLineHeader {
    padding: 1px 0 0 9px;
}
div.wrapper div.userAdministration div.boxShadow div.boxContainer div.boxHeader span.secondHeader {
    clear: both;
    float: left;
    display: block;
    margin-top: 0;
    text-indent: 9px;
    padding-bottom: 7px;
}
div.wrapper div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxListStructure span.secondHeader {
    clear: both;
    float: left;
    display: block;
    margin-top: 0;
    text-indent: 9px;
    padding: 0;
    color: #3F557E;
    width: 99%;
}

div.wrapper div.userAdministration div.boxShadow div.boxContainer div.boxHeader span a, div.wrapper div.userAdministration div.boxShadow div.boxContainer div.boxHeader span a:hover, div.wrapper div.userAdministration div.boxShadow div.boxContainer div.boxHeader span a:visited {
    color: #fff;
}

div.ManageList div.boxListStructure {
    display: inline;
    clear: none;
    float: left;
    margin: 0;
    border: solid 1px #8EA5CE;
    background-image: url(images/popupContainer-bg.gif);
    background-repeat: repeat-x;
}
div.ManageList div.boxListStructure div.boxListStructureHeader {
    display: block;
    background-color: #DBEBFB;
    height: 42px;
    min-height: 42px;
}
div.ManageList div.boxListStructure div.boxListStructureHeader h4, div.rssContainer div.boxListStructureHeader h4 {
    padding: 7px 0 0 9px;
    color: #3F557E;
}
div.ManageList div.boxListStructure div.boxListStructureContent {
    margin: 0;
    padding: 0;
}
div.ManageList div.LeftBoxListStructure, div.rssContainer div.LeftBoxListStructure {
    width: 204px;
}
div.ManageList div.RightBoxListStructure {
    width: 760px;
    float: left;
    margin-left: 3px;
    border: 0;
}
div.ManageList div.RightBoxListStructure div.boxContent {
    width: 760px;
}
div.ManageList div.RightBoxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildTwo {
    float: left;
    clear: none;
    display: block;
    width: 324px;
    margin: 0 0 4px 0;
}
div.ManageList div.RightBoxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildTwo span {
    color: #5f7296;
}

div.ManageList div.RightBoxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildTwo div.formColumn {
    display: inline;
    margin: 4px;
}
div.ManageList div.LeftBoxListStructure div.boxListStructureContent div.formColumn, div.rssContainer div.LeftBoxListStructure div.boxListStructureContent div.formColumn {
    margin: 4px;
    margin-top: 0;
}
div.ManageList div.RightBoxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildTwo div.actionButtonContainer {
    width: 317px;
}

div.ManageList div.LeftBoxListStructure div.boxListStructureContent div.formColumn input.textBoxes, div.rssContainer div.LeftBoxListStructure div.boxListStructureContent div.formColumn input.textBoxes {
    width: 192px;
}

div.ManageList div.boxListStructure div.boxListStructureContent div.SearchGridContainer, div.rssContainer div.boxListStructureContent div.SearchGridContainer {
    display: block;
    margin-top: 4px;
}
div.ManageList div.RightBoxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildTwo div.SearchGridContainer {
    display: table;
    width: 315px;
}

div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.boxSubContainer {
    width: 420px;
}

div.ManageList div.subSpanLinkToMenu {
    margin-top: -5px;
    margin-left: 117px;
    height: 38px;
    width: 265px;
    overflow: auto;
}
div.ManageList div.subSpanIcon {
    height: 19px;
    width: 265px;
    overflow: auto;
}
div.ManageList a.linksubSpanLinkToMenu {
    color: #666; /*text-decoration:none;	*/
}

div.ManageList a.linksubSpanLinkToMenu:hover {
    text-decoration: underline;
}
div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.PropertiesContainer {
    margin-top: 0;
    margin-bottom: 0;
}

div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.FilterContainer {
    margin-top: 0;
}
/*div.ManageList  div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne
div.FilterContainer div.boxSubContent div.formColumn
{
	margin-bottom:10px;
	border:1px solid red;
	padding-bottom:0 !important;
}*/
div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.FilterContainer div.boxSubContent div.formColumn, div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.DisplayContainer div.boxSubContent div.formColumn {
    margin-top: 10px;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels span.ManageListLabels {
    width: 107px;
}
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn span.PublishDateLabels {
    width: 75px;
    color: #5f7296;
    margin-left: 10px;
    font-weight: bold;
    text-align: right;
    float: left;
    margin-top: 2px;
}
div.ManageList div.boxListStructure div.boxListStructureContent div.ListStructureChildOne div.boxSubContent div.formColumn label.labels span.tabledContent span.blankShow {
    width: 7.5em;
    padding-left: 2.2em;
}

div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.FilterContainer img.calenderImg {
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}
div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.FilterContainer .rbFilter {
    padding-right: 3px;
}

div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn input.rbtextBoxes {
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    color: #666;
    background-color: #f7fbff;
    border-top: solid 1px #859ec7;
    border-left: solid 1px #859ec7;
    border-bottom: solid 1px #d4d9e1;
    border-right: solid 1px #d4d9e1;
}
div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.FilterContainer label.altRadioLabel, div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.FilterContainer label.altRadioLabelPadding {
    margin-top: 6px;
    display: block;
}
div.ManageList div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne div.FilterContainer div.actionButtonContainer {
    width: 413px;
}
/*div.ManageList label.noneRadioLabel
{
	margin-top:2px !important;
	
}	
div.ManageList label.noneRSSRadioLabel
{
	margin-top:5px;	
}*/

/** end of styles for manageList ***/
/** start of styles for Compare Pages ***/

div.userAdministration div.boxContent div.ComparePages {
    clear: none;
    width: 474px;
}

div.userAdministration div.boxContent div.ComparePages div.boxSubContent div.ComparePanelContainer div.ComparePanel {
    overflow: auto;
    float: left;
    width: 464px;
    height: 350px;
    border-top: 1px solid #8EA5CE;
    border-left: 1px solid #8EA5CE;
    border-bottom: 1px solid #D8D9DE;
    border-right: 1px solid #D8D9DE;
    background-color: #F7FAFF;
    display: block;
}
div.userAdministration div.boxContent div.ComparePages div.boxSubContent div.ComparePanelContainer {
    padding-left: 4px;
    padding-right: 4px;
}
div.userAdministration div.boxContent div.ComparePages div.boxSubContent div.ComparePanelContainer div.ComparePanel h5 {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    margin: 0;
}
div.userAdministration div.boxContent div.ComparePages div.boxSubContent div.ComparePanelContainer div.ComparePanel p {
    clear: both;
    margin: 0;
    padding-left: 12px;
    padding-bottom: 15px;
    padding-right: 12px;
    padding-top: 0;
    font-size: 11px;
}
div.userAdministration div.boxContent div.ComparePages div.boxSubContent div.ComparePanelContainer div.ComparePanel1 {
    margin-top: 5px;
    margin-bottom: 6px;
}

div.userAdministration div.boxContent div.ComparePages div.boxSubContent div.ComparePanelContainer div.ComparePanel2 {
    height: 262px;
    margin-bottom: 5px;
}
div.userAdministration div.boxContent div.lightBlueFooterComparePageOne {
    float: left;
    width: 474px;
}
div.userAdministration div.boxContent div.lightBlueFooterComparePageTwo {
    float: right;
    width: 474px;
}

div.userAdministration div.boxContent div.lightBlueFooterComparePageTwo input.button {
    margin-left: 10px;
}
/** end of styles for Compare Pages ***/

/**	start of styles for Create New Workflow **/

div.ManageWorkflow div.boxContent div.ExistingWorkflowGrid {
    display: inline;
    float: left;
    clear: both;
    margin: 3px 0 0 4px;
}
div.ManageWorkflow div.workflowSeqContainer input.textBoxes {
    width: 265px;
}

div.ManageWorkflow div.CreateNewWorkflowContainer {
    margin-top: 0;
}
div.ManageWorkflow div.EditWorkflowContainer {
    margin-top: 30px;
}
div.ManageWorkflow div.CreateNewWorkflow div.PaddingRadiolabels {
    padding-left: 10px;
}
div.ManageWorkflow div.workflowSeqContainer {
    background-image: url(images/usersGroups-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    border: solid 1px #8EA5CE;
    display: inline;
    margin: 4px;
    clear: both;
    float: left;
    width: 949px;
}

div.ManageWorkflow div.workflowSeqContainer div.workflowSequence {
    width: 280px;
    display: inline;
    margin-bottom: 4px;
    padding-left: 4px;
    float: left;
}
div.ManageWorkflow div.workflowSeqContainer div.workflowSequence div.gridContent {
    display: block;
    float: left;
}

div.ManageWorkflow div.workflowSeqContainer div.workflowSequence div.gridContent div.approvePublishTabs {
    width: 280px;
    margin-left: -4px;
    padding: 0px;
    float: left;
    height: 20px;
    min-height: 24px;
}
div.ManageWorkflow div.workflowSeqContainer div.workflowSequence div.gridContent div.approverPublisherContent {
    float: left;
    width: 280px;
    top: 1px !important;
    top: -1px;
    z-index: 97;
    padding-top: 0px;
    position: relative;
    clear: both;
}
div.TabContainer {
    display: block;
    width: 235px;
    margin-left: 6px;
}
div.TabsActiveDeactiveGroups {
    margin-left: -4px;
    display: block;
    min-height: 26px;
    height: 21px;
    float: left;
}

div.TabContent {
    z-index: 97;
    margin-top: 0px;
    padding-bottom: 4px;
    display: block;
    float: left;
    width: 238px;
    color: #666666;
}
div.ManageWorkflow div.workflowSeqContainer div.rightSequence {
    width: 600px;
    float: left;
    padding-left: 0;
    display: inline;
    clear: none;
}
div.ManageWorkflow div.workflowSeqContainer div.rightSequence div.rightContent {
    clear: both; /*float:left;*/
}

div.ManageWorkflow div.workflowSeqContainer div.rightSequence div.rightContent span.bottomPadding {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    display: block;
}
div.ManageWorkflow div.workflowSeqContainer div.rightSequence div.rightContent span.bottomPadding input.textBoxes {
    margin-left: 3px;
    margin-right: 3px;
}


/**	end of styles for Create New Workflow **/
/**	start of styles for edit Workflow **/

div.ManageWorkflow div.arrows, div.rssChannelsContainer div.arrows {
    display: inline;
    width: 29px;
    float: left;
    padding-top: 140px;
    margin: 0;
    text-align: center;
    margin-left: 3px;
}
div.ManageWorkflow div.lastArrows {
    margin-left: 0;
}
div.ManageWorkflow div.arrows img.arrowRight, div.rssChannelsContainer div.arrows img.arrowRight {
    margin: 0;
    padding-top: 2px;
    vertical-align: bottom;
    display: block;
    float: left;
    cursor: pointer;
}
div.ManageWorkflow h5.twoLineHeader {
    margin-top: 35px;
}
div.SubmitWF h5.twoLineHeader {
    margin-top: 18px;
}
div.ManageWorkflow span.secondHeader {
    clear: both;
    float: left;
    display: block;
    margin-top: 0;
    padding-bottom: 7px;
    width: 99%;
}
div.ManageWorkflow div.workflowSeqContainer h5, div.ManageWorkflow div.workflowSeqContainer span.secondHeader {
    color: #3F557E;
}
/**	end of styles for edit Workflow **/

/**	start of styles for submit Workflow **/
div.SubmitWF div.workflowSeqContainer {
    width: 662px;
}
div.SubmitWF div.workflowSeqContainer div.workflowSequence {
    width: 273px;
}
div.SubmitWF div.workflowSeqContainer div.workflowSequence div.gridContent div.approvePublishTabs {
    width: 270px;
}
div.SubmitWF div.workflowSeqContainer div.workflowSequence div.gridContent div.approverPublisherContent {
    width: 273px;
}
div.SubmitWF div.workflowSeqContainer div.rightSequence {
    width: 300px;
}

/**	end of styles for submit Workflow **/

/**styles for add new user**/
div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels input.textBoxesMarginTop {
    margin-bottom: 10px;
}

/**end of styles for add new user**/
/**styles for Edit Page Properties**/

div.PageProperties div.boxContent div.formColumn {
    margin-top: 4px;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.PageProperties div.boxContent div.formColumn label.labels span.formLabels {
    width: 12.8em;
}
div.PageProperties div.boxContent div.boxSubContainer div.boxSubContent div.formColumn {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
}
div.PageProperties div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels span.formLabels, div.PageProperties div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels span.tabledContent span.tabledFormLabel {
    width: 12.2em;
    color: #6A6968;
}
div.PageProperties div.leftformColumn label.labels, div.PageProperties div.RightformColumn label.labels {
    padding-top: 5px;
}
div.PageProperties div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels span.tabledContent span.tabledSubLabel {
    width: 7.7em;
    padding-left: 7.5em;
    padding-right: 0.0em;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.8em;
}
div.PageProperties div.boxContent div.boxSubContainer div.boxSubContent div.leftformColumn {
    width: 410px;
}
div.PageProperties div.boxContent div.boxSubContainer div.boxSubContent div.RightformColumn {
    clear: none;
    width: 510px;
}
div.userAdministration div.boxContent div.formColumn label.labels span.tabledContent span.GreytabledFormLabel {
    color: #6A6968;
}
div.userAdministration div.boxContent div.formColumn label.labels span.tabledContent span.BlacktabledSubLabel {
    color: #68686A;
}
span.BluetabledFormLabel {
    color: #5f7296 !important;
}
div.userAdministration div.boxContent div.formColumn label.labels span.tabledContent span.BluetabledSubLabel, div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels span.tabledContent span.BluetabledSubLabel {
    color: #5f7296;
}
/**end of styles for Edit Page Properties**/
/********start of Advanced Search ********/
div.AdvancedSearch span.labels {
    float: left;
    clear: both;
}

div.AdvancedSearch span.labels label.formLabels {
    margin-top: 5px;
    padding-left: 4px;
}

div.AdvancedSearch span.labels input.textBoxes {
    margin-top: 3px;
}

div.AdvancedSearch div.boxContent div.formColumn label.labels span.formLabels {
    width: 11.2em;
}

div.AdvancedSearch div.boxContent div.formColumn label.labels span.widerFormLabel {
    width: 11.6em;
}

div.AdvancedSearch div.boxContent div.formColumn {
    /*margin-top:17px; */
    margin-bottom: 0;
}
div.AdvancedSearch div.boxContent div.boxSubContent div.formColumn {
    margin-top: 13px;
}
div.AdvancedSearch div.boxContent div.boxSubContent div.formColumn label.TableContent {
    display: inline;
    clear: none;
    float: left;
}

div.AdvancedSearch div.boxContent div.boxSubContent div.formColumn span.tabledContent {
    width: 121px;
    display: block;
    float: left;
}

div.AdvancedSearch div.boxContent div.boxSubContent div.formColumn label.TableContent span.tabledContent span.TypeLabel {
    width: 6.8em;
}

div.AdvancedSearch div.boxContent div.boxSubContent div.formColumn label.TableContent span.tabledContent span.TypeSubLabel {
    width: 5.8em;
    padding-left: 1.2em;
}

div.AdvancedSearch div.boxContent div.boxSubContent div.formColumn span.marginTop {
    margin-top: 10px;
}

div.AdvancedSearch span.AltbetweenFields {
    margin-top: 5px;
}

span.AltbetweenFields {
    color: #5f7296;
    float: left;
    padding-left: 6px;
    padding-right: 8px;
}
span.betweenFields {
    margin-left: 1px;
    margin-right: 1px;
    width: 18px;
}
img.Img2marginLeft {
    margin-left: 8px !important;
}


/********end of Advanced Search ********/
/*** styles for Edit Menu Item Properties********/
div.userAdministration div.boxContent div.AdvancedSearch div.boxSubContent div.formColumn span.radioLabel, div.userAdministration div.boxContent div.AdvancedSearch div.boxSubContent div.formColumn label.labels input.checkbox {
    width: 11.2em;
    text-align: left;
    font-weight: bold;
    color: #5f7296;
}
/*** end of styles for Edit Menu Item Properties********/
/**start of styles for 	modify website user***********/
div.userAdministration div.boxContent div.selectedUser div.contentContainer div.formColumn label.labels img.expCalendar_button {
    margin-left: 1px;
    margin-bottom: -7px;
}
/**end of styles for modify website user***********/
/******************start of styles for tree*********************************/
div.contentSection div.boxSubContainer div.TreeSection, div.ManageWorkflow div.TreeSection {
    float: left;
    border: 1px solid #666666;
}
div.contentSection div.boxSubContainer div.TreeSection div.TreeHeader, div.ManageWorkflow div.TreeSection div.TreeHeader {
    display: block;
    float: left;
    background-repeat: repeat-x;
    background-image: url(../../App_Themes/General/images/grid-header-bg.gif);
}

div.contentSection div.boxSubContainer div.TreeSection div.TreeHeader a.expanded, div.contentSection div.boxSubContainer div.TreeSection div.TreeHeader a.expanded:hover, div.contentSection div.boxSubContainer div.TreeSection div.TreeHeader a.expanded:visited, div.ManageWorkflow div.TreeSection div.TreeHeader a.expanded, div.ManageWorkflow div.TreeSection div.TreeHeader a.expanded:hover, div.ManageWorkflow div.TreeSection div.TreeHeader a.expanded:visited {
    float: right;
    color: #627697;
    text-decoration: none;
    background-image: url(images/plus.gif);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 20px;
    padding-right: 5px;
    padding-left: 20px;
}
div.contentSection div.boxSubContainer div.TreeSection div.TreeHeader a.collapsed, div.contentSection div.boxSubContainer div.TreeSection div.TreeHeader a.collapsed:hover, div.contentSection div.boxSubContainer div.TreeSection div.TreeHeader a.collapsed:visited, div.ManageWorkflow div.TreeSection div.TreeHeader a.collapsed, div.ManageWorkflow div.TreeSection div.TreeHeader a.collapsed:hover, div.ManageWorkflow div.TreeSection div.TreeHeader a.collapsed:visited {
    float: right;
    color: #627697;
    text-decoration: none;
    background-image: url(images/minus.gif);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 5px;
}
div.contentSection div.boxSubContainer div.TreeSection div.treeViewContainer div.ManageWorkflow div.TreeSection div.treeViewContainer {
    clear: both;
    width: 100%;
    float: left;
}

/*******************************start of for managelistTree*************************************************/
div.ManageList div.boxSubContainer div.ManageListFilterTree {
    margin-bottom: 10px;
}
div.ManageList div.boxSubContainer div.ManageListFilterTree div.TreeHeader {
    width: 239px;
}
div.ManageList div.boxSubContainer div.ManageListFilterTree div.treeViewContainer {
    height: 125px;
    width: 239px;
}

/*******************************end of for managelistTree*************************************************/
/*******************************start of Advanced Search Tree*************************************************/
div.ManageWorkflow div.AdvancedSearchTree {
    display: inline;
    clear: none;
    width: 285px;
    margin: 4px;
    margin-left: 0;
}
div.ManageWorkflow div.AdvancedSearchTree div.TreeHeader {
    width: 285px;
}

div.ManageWorkflow div.AdvancedSearchTree div.treeViewContainer {
    height: 318px;
    width: 285px;
}
div.ManageWorkflow div.AdvancedSearchTree div.treeViewContainer .mdTreeViewMargin {
    height: 308px;
    width: 284px;
}

/*******************************end of  Advanced Search Tree*************************************************/
/*******************************start of EditPagePropIndexTree menu Tree*************************************************/
div.contentSection div.boxSubContainer div.formColumn div.EditPagePropIndexTree {
    width: 359px;
    background-color: #F7FAFF;
    border-top: 1px solid #8EA5CE;
    border-left: 1px solid #8EA5CE;
    border-bottom: 1px solid #D8D9DE;
    border-right: 1px solid #D8D9DE;
}
div.contentSection div.boxSubContainer div.formColumn div.EditPagePropIndexTree div.treeViewContainer {
    height: 198px;
    width: 359px;
}
/*******************************end of EditPagePropIndexTree menu Tree*************************************************/

/******************end of styles for tree**********************************/
/***********************styles for labels*********************************/
div.userAdministration div.boxContent div.formColumn label.labels span.BlueformLabels, div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels span.BlueformLabels {
    color: #5f7296;
}

div.userAdministration div.boxContent div.formColumn label.labels span.BlackformLabels, div.userAdministration div.boxContent div.boxSubContainer div.boxSubContent div.formColumn label.labels span.BlackformLabels {
    color: #6A6968;
}
div.userAdministration div.boxContent div.selectedUser div.contentContainer div.formColumn label.labels span.tabledSubLabel {
    font-size: 0.95em;
    text-align: center;
    width: 10.7em;
    padding-left: 0.5em;
}

/***********************styles for labels*********************************/

/** Styles for View Group Definitions Start **/
div.viewGroupDefinition {
    padding-left: 10px;
}

div.viewGroupDefinition div.boxContainer {
    width: 985px;
}

div.viewGroupDefinition div.boxHeader a {
    float: right;
    color: #fff;
    font-weight: bold;
    margin: 5px;
}

div.viewGroupDefinition div.boxContent {
    width: 975px;
}

div.viewGroupDefinition div.boxContent h5 {
    float: none;
    padding: 0;
    margin: 10px 10px 0 10px;
}

div.viewGroupDefinition div.boxContent p {
    padding: 0;
    margin: 0 10px 10px 10px;
}
/** Styles for View Group Definitions End **/