﻿/** General Styles Start **/
body, html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
    font-size: 67.5%;
    color: #666;
    background-color: #f1f1f1;
}

body.adminBasePage {
    background-image: none;
    background-color: #fff;
}

input.textBoxes, select, textarea {
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    color: #666;
    background-color: #f7fbff;
    border-top: solid 1px #859ec7;
    border-left: solid 1px #859ec7;
    border-bottom: solid 1px #d4d9e1;
    border-right: solid 1px #d4d9e1;
}

input.disabledText {
    background-color: #f1f1f1 !important;
}

input.textBoxes, textarea {
    padding-left: 2px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    float: left;
}

h3, h4, h5 {
    font-family: "Trebuchet MS";
    font-size: 1.1em;
    font-weight: bold;
}

div.clearFix {
    font-size: 0;
    clear: both;
    line-height: 0;
}

div.grayBg {
    background-color: #f7f7f7;
    width: 100%;
}

div.contentSection, div.header, div.headerUserInformation {
    width: 1003px;
    margin-left: auto;
    margin-right: auto;
}
div.wrapper {
    padding-top: 20px;
    width: 100%;
    min-width: 1003px;
}
/* Help box styles STARTS */
div.help-box {
    border-top: solid 1px #b6cadf;
    border-left: solid 1px #b6cadf;
    border-radius: 3px 0 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
}
div.help-box a {
    display: block;
    background: #edf4fd url('images/icon-help.png') no-repeat 10px center;
    padding: 10px 15px 10px 35px;
    color: #3970a8;
}
body.popupBody div.help-box {
    border: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
}
body.popupBody div.help-box a {
    display: block;
    background: #edf4fd url('images/icon-help.png') no-repeat 10px center;
    padding: 10px 15px 10px 25px;
    border-left: solid 1px #b6cadf;
    border-bottom: solid 1px #b6cadf;
    border-radius: 0 0 0 3px;
    text-indent: -99999px;
}

/* Global button styles */
.button, .primarybutton, a.button, a.primarybutton {
    font-size: 13px;
    color: #54677d !important;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    display: inline-block;
    border: solid 1px #d6d8d9;
    background: #ebeced url('/iapps_images/grid-item-button.png') repeat-x left bottom;
    text-decoration: none;
    font-family: Arial;
    margin-top: 0;
    line-height: 18px;
}
.primarybutton, a.primarybutton {
    background: #f79242 url('/iapps_images/grid-button.png') repeat-x left bottom;
    border: solid 1px #cd752f;
    color: #fff !important;
}
a.primarybutton, a.button {
    line-height: 18px;
}
/* Help box styles ENDS */
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.goButton {
    background-image: url(images/go-btn.gif);
    background-repeat: no-repeat;
    background-position: left top;
    border: 0;
    height: 22px;
    width: 39px;
}

.goButtonHover {
    background-image: url(images/go-btn-hover.gif);
    background-repeat: no-repeat;
    height: 22px;
    width: 39px;
    border: 0;
    cursor: pointer;
}

div.validationControl {
    position: absolute;
    z-index: 99999;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
}
.pointer {
    cursor: pointer;
}

label.formLabels, span.formLabels {
    float: left;
    margin: 3px 10px 0 0;
    width: 10.8em;
    text-align: right;
    font-weight: bold;
    color: #5f7296;
}

span.reqFieldIndicator {
    color: #5f7296;
    font-weight: normal;
}

span.instructions strong, label.formLabels strong, span.formLabels strong, span.reqFieldIndicator strong {
    color: #c96600;
}

a.anchors, .anchors {
    color: #666;
}

/** Styles for the shadow container **/
div.boxShadow {
    float: left;
    background: url(images/full-shadow.png) no-repeat bottom right;
    margin: 0 0 0 -5px;
    padding-right: 3px;
}

div.boxShadow div.boxContainer {
    background: url(images/shadow-inverse2.png) no-repeat left top !important;
    padding: 0px 7px 6px 0px;
    float: left;
}

div.boxContainer div.boxHeader {
    border: solid 1px #10A9C5;
    border-bottom: 0;
    display: table;
    background-image: url(images/box-header-bg.gif);
    background-repeat: repeat-x;
    background-color: #a8c3f0;
    color: #fff;
    width: 100%;
}
div.boxHeader h3, div.boxHeader h4, div.boxHeader h5 {
    padding: 5px 0 5px 10px;
}

div.boxContainer div.paddingContainer {
    padding: 0 4px 4px 4px;
    border: solid 1px #10A9C5;
    border-top: 0;
    background-image: url(images/paddingImage.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #a1c1fa;
}

div.boxContainer div.paddingContainer div.boxContent {
    background-image: url(images/grid-footer-bg.gif);
    background-position: left;
    background-repeat: repeat-y;
    background-color: #fff;
    border: solid 1px #a1a1a1;
}

/** Styles for the shadow container **/

/** General Styles End **/

/** Header Styles Start **/
div.headerWrapper {
    width: 100%;
    min-width: 1003px;
    background-image: url(images/header-bg-new.gif);
    background-repeat: repeat-x;
}

div.header {
    font-size: 1.1em;
    height: 4.2em;
}

div.rightHeader {
    float: right;
}

div.header h1 {
    float: left;
    margin: 0;
    padding: 0;
}

div.header div.globalNav {
    float: left;
    display: inline;
    padding: 10px 2px 0 0px;
}
/** Search Section Styles Start **/

div.header div.searchSeparator {
    margin: 0 0 0 0px;
    float: left;
    background-image: url(images/search-separator.gif);
    background-repeat: repeat-y;
    background-position: left top;
    width: 2px;
    height: 4.2em;
}

div.header div.searchContainer {
    float: left;
    display: inline;
    width: 183px;
    margin-bottom: -3px;
    margin-left: 2px;
}

div.header div.searchContainer div.searchBox {
    text-align: left;
    float: left;
    clear: right;
}

div.header div.searchContainer img {
    float: left;
    margin-top: 13px;
    margin-right: 10px;
}

div.header div.searchContainer input.textBoxes {
    float: left;
    margin-top: 10px;
    width: 104px;
    height: 17px;
    line-height: normal;
}

div.header div.searchContainer input.arrowButton0 {
    float: left;
    margin-top: 9px;
    margin-left: 6px;
}

div.header div.searchContainer input.arrowButton0Hover {
    float: left;
    margin-top: 9px;
    margin-left: 6px;
}

div.header div.searchContainer a, div.header div.searchContainer a:active, div.header div.searchContainer a:visited, div.header div.searchContainer a:hover {
    text-decoration: none;
    color: #3f557e;
    font-size: 0.9em;
    clear: both;
    float: left;
    margin-left: 3.5em;
    width: 8.0em;
}

div.header div.searchContainer a:hover {
    text-decoration: underline;
}

/** Search Section Styles End **/
/** Header Styles End **/

/** User Information Section Styles Start **/
div.userInformationWrapper {
    background-image: url(images/userinfo-bg-new.gif);
    background-position: left top;
    background-repeat: repeat-x;
    width: 100%;
    min-width: 1003px;
    padding-bottom: 2px; /*border-top: solid 1px #a3a3a3;*/
}

div.headerUserInformation {
    padding-top: 1px;
    clear: both;
    display: table;
    line-height: 2.3em;
}

div.headerUserInformation h2 {
    font-size: 1.3em;
    color: #666666;
    float: left;
    padding-left: 13px;
}

div.headerUserInformation div.userInfo {
    float: right;
    padding: 0 20px 0 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
}

div.headerUserInformation div.userInfo h2 {
    font-size: 1.1em;
    font-weight: normal;
}

div.headerUserInformation div.userInfo span {
    float: left;
    background-image: url(images/arrow.gif);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 25px;
}

div.headerUserInformation div.userInfo span.noImage {
    background-image: none;
    padding-left: 0;
    padding-right: 14px;
    float: left;
    color: #666;
    background-image: url(images/userinfo-separator.gif);
    background-repeat: repeat-y;
    background-position: right center;
}

div.headerUserInformation div.userInfo span.siteMessage {
    color: #cc6600;
    background-image: none;
}

div.headerUserInformation div.userInfo span.colored {
    color: #cc6600;
}

div.headerUserInformation div.userInfo span.coloredNoImage {
    color: #cc6600;
    background-image: none;
}

div.headerUserInformation div.userInfo span a, div.headerUserInformation div.userInfo span a:visited {
    color: #666;
    text-decoration: none;
}

div.headerUserInformation div.userInfo span a:hover {
    text-decoration: underline;
}
/** User Information Section Styles End **/

/** Message Section Styles Start **/
div.wrapper div.messageContainer {
    border: solid 1px #ff0000;
    display: block;
    padding: 10px 10px 0 30px;
    color: #ff0000;
    background-image: url(images/RedInfo.gif);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 953px;
    margin-left: auto;
    margin-right: auto;
}

span.errorMessage, span.successMessage {
    font-weight: bold;
    font-size: larger;
    color: #ff0000;
}

span.successMessage {
    color: Green;
}
/** Message Section Styles End **/

/** Footer Styles Start **/
div.footerWrapper {
    clear: both;
    width: 100%;
    min-width: 1003px;
    margin-top: 20px;
    border-top: solid 1px #ccc;
    display: block;
    visibility: hidden;
}

div.footer {
    width: 1003px;
    border-top: 0;
    margin-left: auto;
    margin-right: auto;
}

div.footerImages {
    float: right;
}

span.logo2 {
    padding: 7px 14px 0 14px;
}

span.logo1 {
    padding: 10px 0 0 14px;
    height: 35px;
    display: block;
    float: right;
}

/** Footer Styles End **/

/** Styles for Manage Site Structure Starts **/
div.siteStructure {
    top: -2px;
    position: relative;
    z-index: 97;
    padding-top: 15px;
    padding-left: 10px;
    border-top: solid 1px #acc2eb;
    width: 983px;
}

div.siteStructure div.boxContainer {
    width: 978px;
}

div.siteStructure div.boxContent {
    width: 958px;
    padding: 5px;
    float: left;
}

div.siteStructure div.boxContent div.floatRight {
    width: 19%;
}

div.siteStructure div.boxContent p, div.siteStructure div.boxContent p {
    margin: 0;
    padding: 5px 0 5px 0;
}

div.siteStructure div.floatRight select {
    float: left;
    height: 20px;
}

div.siteStructure div.floatRight input.arrowButton0 {
    float: left;
    margin-left: 10px;
}

div.siteStructure div.floatRight input.arrowButton0Hover {
    float: left;
    margin-left: 10px;
}

div.siteStructure div.treeViewContainer {
    width: 956px;
    height: 410px;
    overflow: auto;
    border-right: solid 1px #859ec7;
    border-left: solid 1px #859ec7;
    border-bottom: solid 1px #859ec7;
    padding-bottom: 10px;
}

div.siteStructure div.treeHeader {
    width: 956px;
    display: table;
    background-image: url(images/grid-header-bg.gif);
    border-right: solid 1px #859ec7;
    border-left: solid 1px #859ec7;
    border-top: solid 1px #859ec7;
    background-repeat: repeat-x;
    color: #627697;
    margin-top: 10px;
}

div.siteStructure div.treeHeader h5 {
    line-height: 20px;
    padding-left: 8px;
}

/** Styles for Manage Site Structure End **/

/** Styles for the Search Result Page Start **/
div.searchResults {
    width: 988px;
    padding-left: 15px;
}

div.searchResults div.boxContainer {
    width: 978px;
}

div.searchResults div.boxHeader {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.searchResults div.boxHeader h5 input.textBoxes {
    font-weight: normal;
    width: 260px;
}

div.searchResults div.paddingContainer {
    width: 970px;
}

div.searchResults div.boxContent {
    width: 958px;
    padding: 5px;
    float: left;
    background-image: url(images/userdetail-bg.gif);
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #fff;
    border-bottom: 0 !important;
}

div.searchResults div.leftContentSection {
    float: left;
    width: 240px;
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    border: solid 1px #97abc6;
    padding: 5px;
}

div.searchResults div.leftContentSection h5 {
    padding: 7px 0 11px 0;
}

div.searchResults div.treeHeader {
    width: 238px;
    display: table;
    background-image: url(images/grid-header-bg.gif);
    background-repeat: repeat-x;
    color: #627697;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    height: 1.9em;
}

div.searchResults div.treeViewContainer {
    display: block;
    width: 238px;
    height: 340px;
    overflow: auto;
    border-bottom: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

div.searchResults div.leftContentSection h5 {
    clear: both;
    float: none;
    width: 100%;
}

div.searchResults div.rightContentSection {
    margin-left: 10px;
    width: 694px;
    float: left;
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    border: solid 1px #97abc6;
}

div.searchResults div.rightContentSection div.gridContainer {
    float: left;
    width: 682px;
}

div.searchResults div.gridContainer div.searchContainer {
    margin-top: 6px;
    padding-top: 6px;
    padding-bottom: 10px;
    color: #3f557e;
    float: left;
}

div.searchResults div.searchContainer h5, div.searchResults div.leftContentSection h5 {
    color: #3f557e;
    padding-left: 5px;
}

div.searchResults div.leftContentSection h5 {
    width: 235px;
}

div.searchResults div.searchContainer div.pagingInfo {
    float: right;
    margin: 0;
}

div.searchResults div.pagingInfo span {
    float: left;
    padding: 3px 1px 0 1px;
}

div.searchResults div.pagingInfo select {
    margin-left: 3px;
}

div.searchResults div.actionButtonContainer, div.imageSearchResult div.actionButtonContainer {
    clear: both;
    background-image: url(images/bluefooter.gif);
    background-repeat: repeat-x;
    max-height: 38px;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 7px;
    margin: 0;
    display: table;
    width: 961px !important;
    border: solid 1px #a1a1a1;
    border-top: 0;
}

div.searchResults div.actionButtonContainer input.primarybutton, div.imageSearchResult div.actionButtonContainer input.primarybutton {
    margin-right: 10px;
}
/** Styles for the Search Result Page End **/
/** Styles for Search Image Results Starts **/
div.imageSearchResult {
    display: table;
    width: 975px;
    padding-left: 16px;
    padding-top: 20px;
}

div.imageSearchResult div.boxContainer {
    width: 970px;
}

div.imageSearchResult div.boxHeader {
    float: left;
    width: 970px;
}

div.imageSearchResult div.paddingContainer {
    width: 962px;
    clear: both;
    display: block;
    margin: 0;
}

div.imageSearchResult div.boxContent {
    padding: 0;
    margin: 0;
    border-bottom: 0 !important;
}

div.imageSearchResult div.searchHeading p {
    padding-left: 1.0em;
    float: left;
    margin: 0;
    width: 47%;
    background-color: #fff;
}

div.imageSearchResult div.searchHeading p span.boldFont {
    font-weight: bold;
}

div.imageSearchResult div.searchHeading p#notification {
    text-align: right;
}

div.imageSearchResult div.actionButtonContainer {
    width: 951px !important;
}
/** Styles for Search Image Results End **/
/** Styles for Control Center With Shadow Boxes Start **/
/** Styles for Workflow Section Start **/
div.contentSection div#leftContentSection {
    float: left;
    display: block;
    display: table;
    width: 686px;
    padding: 0 0 0 10px;
}

div.contentSection div#leftContentSection div.dummySnap {
    width: 656px;
    padding: 0 0 0 10px;
    height: 20px;
}

div.contentSection div#leftContentSection div.topShadowBox, div.contentSection div#rightContentSection div.topShadowBox {
    width: 686px;
    display: table;
    background-image: url(images/header-shadow.png);
    background-position: right top;
    background-repeat: repeat-y;
}

div.contentSection div.topShadowBox div.headerContainer {
    width: 678px;
    display: table;
    background-image: url(images/box-header-bg.gif);
    background-repeat: repeat-x;
    background-color: #a8c3f0;
    border-right: solid 1px #10a9c5;
    border-top: solid 1px #10a9c5;
    border-left: solid 1px #10a9c5;
    padding-top: 8px;
    font-size: 1.1em;
    font-family: "Trebuchet MS";
}

div.contentSection div#leftContentSection div.tabContainer, div.contentSection div#rightContentSection div.tabContainer {
    padding-left: 1px;
}

div.contentSection div#leftContentSection div.dragBox, div.contentSection div#rightContentSection div.dragBox {
    float: left;
    width: 655px;
    display: table;
    padding-bottom: 7px;
    cursor: move;
}

div.contentSection div#leftContentSection div.toggleBox, div.contentSection div#rightContentSection div.toggleBox {
    float: right;
    width: 23px;
    display: table;
    padding-bottom: 7px;
    cursor: pointer;
}
div.contentSection div#leftContentSection div.headerContainer h3, div.contentSection div#rightContentSection div.headerContainer h3 {
    padding-left: 9px;
    color: #fff;
}

div.contentSection div#leftContentSection div.topShadowBox div.headerContainer span, div.contentSection div#rightContentSection div.topShadowBox div.headerContainer span {
    float: left;
    padding-left: 5px;
    color: #fff;
}

div.contentSection div#leftContentSection div.contentShadowBox, div.contentSection div#rightContentSection div.contentShadowBox {
    width: 687px;
    display: table;
    background-image: url(images/mid-shadow-w-gap.png);
    background-position: right top;
    background-repeat: repeat-y;
}

div.contentSection div#leftContentSection div.contentBox, div.contentSection div#rightContentSection div.contentBox {
    width: 668px;
    display: table;
    border-left: solid 1px #10a9c5;
    border-right: solid 1px #10a9c5;
    background-image: url(images/paddingImage.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #a1c1fa;
    padding: 0 5px 0 5px;
}

div.contentSection div#leftContentSection div.contentBox div.gridContainer, div.contentSection div#rightContentSection div.contentBox div.gridContainer, div.viewEditPermissions div.userGroupSection div.gridContainer, div.viewEditPermissions div.customObjectSection div.gridContainer {
    border-left: solid 1px #97abc6;
    border-top: solid 1px #97abc6;
    border-right: solid 1px #97abc6;
    border-bottom: solid 1px #a4b2c7;
    background-color: #fff;
    background-image: url(images/grid-footer-bg.gif);
    background-repeat: repeat-y;
    width: 666px;
    float: left;
}

div.viewEditPermissions div.userGroupSection div.gridContainer {
    width: 300px;
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
}
div.viewEditPermissions div.userGroupSection div.libraryTreeOuter {
    width: 300px;
}
div.viewEditPermissions div.libraryTreeOuter div.TreeHeading {
    line-height: 1.0em;
}
div.viewEditPermissions div.libraryTreeOuter div.TreeHeading h5 {
    padding-bottom: 0;
}
div.viewEditPermissions div.customObjectSection div.gridContainer {
    padding-top: 9px;
    width: 630px;
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
}

div.contentSection div#leftContentSection div.contentBox div.searchContainer, div.viewEditPermissions div.userGroupSection div.searchContainer {
    padding: 5px 4px 5px 0px;
    float: left;
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
}

div.contentSection div#leftContentSection div.gridContainer div.searchContainer input.text, div.viewEditPermissions div.userGroupSection div.searchContainer input.text {
    width: 268px;
    color: #666;
    font-size: 1.0em;
    height: 16px;
}

div.contentSection div#leftContentSection div.searchContainer input.text, div.viewEditPermissions div.userGroupSection div.searchContainer input.text {
    float: left;
}

div.contentSection div#leftContentSection div.searchContainer input.text, div.viewEditPermissions div.userGroupSection div.searchContainer input.text {
    margin-left: 5px;
}

div.viewEditPermissions div.userGroupSection div.searchContainer input.text {
    width: 100px;
}

div.contentSection div#leftContentSection div.pagingInfo, div.viewEditPermissions div.userGroupSection div.searchContainer div.pagingInfo {
    float: right;
    color: #3c5077;
    line-height: 20px;
}

div.viewEditPermissions div.userGroupSection div.searchContainer div.pagingInfo {
    line-height: 22px;
}

div.contentSection div#leftContentSection div.pagingInfo span, div.viewEditPermissions div.userGroupSection div.searchContainer div.pagingInfo span {
    float: left;
    padding: 0 2px 0 2px;
}

div.contentSection div#leftContentSection div.pagingInfo select, div.viewEditPermissions div.userGroupSection div.searchContainer div.pagingInfo select {
    margin-left: 3px;
    float: left;
    visibility: visible !important;
}

div.contentSection div#leftContentSection div.bottomShadowBox, div.contentSection div#rightContentSection div.bottomShadowBox {
    width: 680px;
    height: 12px;
    display: table;
    margin-left: 6px;
    margin-top: -2px;
    background-image: url(images/footer-shadow-med.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

div.contentSection div#leftContentSection div.bottomShadowBoxGap {
    margin-top: 0;
}

div.contentSection div#leftContentSection div.bottomShadowBox div.gridFooterContainer, div.contentSection div#rightContentSection div.bottomShadowBox div.gridFooterContainer {
    width: 678px;
    height: 5px;
    position: relative;
    margin-left: -6px;
    background-color: #a1c1fa;
    border-left: solid 1px #10a9c5;
    border-bottom: solid 1px #10a9c5;
    border-right: solid 1px #10a9c5;
    font-size: 0;
}

/** Styles for Workflow Section End **/

/** Styles for Quick Upload Section Start **/
body.upload {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

body.upload form#frmUploadForm {
    padding: 0;
    margin: 0;
}

div.iframeContainer {
    padding-left: 5px;
    float: left;
    width: 325px;
}

div.multiUpload {
    text-align: right;
    padding-top: 10px;
}

div.multiUpload input.primarybutton, div.multiUpload input.button {
    margin: 0 10px 0 0;
}

h5.uploadHeading {
    color: #102a5c;
    padding: 2px 0 8px 5px;
}

div.contentSection div#leftContentSection div.treeContainer {
    display: block;
    width: 331px;
    border-right: solid 1px #97abc6;
    overflow: auto;
    padding-bottom: 10px;
}

div.contentSection div#leftContentSection div.treeHeader {
    width: 331px;
    display: table;
    background-image: url(images/grid-header-bg.gif);
    border-right: solid 1px #97abc6;
    background-repeat: repeat-x;
    color: #627697;
}

div.contentSection div#leftContentSection a.expanded, div.contentSection div#leftContentSection a.expanded:hover, div.contentSection div#leftContentSection a.expanded:visited, div.siteStructure a.expanded, div.siteStructure a.expanded:hover, div.siteStructure a.expanded:visited, div.searchResults a.expanded, div.searchResults a.expanded:hover, div.searchResults a.expanded:visited, div.libraryTreeOuter div.TreeHeading a.expanded, div.libraryTreeOuter div.TreeHeading a.expanded:hover, div.libraryTreeOuter div.TreeHeading a.expanded:visited {
    float: right;
    color: #627697;
    text-decoration: none;
    background-image: url(images/plus.gif);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 5px;
}

div.contentSection div#leftContentSection a.collapsed, div.contentSection div#leftContentSection a.collapsed:hover, div.contentSection div#leftContentSection a.collapsed:visited, div.siteStructure a.collapsed, div.siteStructure a.collapsed:hover, div.siteStructure a.collapsed:visited, div.searchResults a.collapsed, div.searchResults a.collapsed:hover, div.searchResults a.collapsed:visited, div.libraryTreeOuter div.TreeHeading a.collapsed:visited, div.libraryTreeOuter div.TreeHeading a.collapsed, div.libraryTreeOuter div.TreeHeading a.collapsed:hover {
    float: right;
    color: #627697;
    text-decoration: none;
    background-image: url(images/minus.gif);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 5px;
}

div.contentSection div#leftContentSection div.treeHeader {
    padding-top: 0px;
}

div.contentSection div#leftContentSection div.treeHeader h5 {
    line-height: 20px;
    padding-left: 8px;
}

div.contentSection div#leftContentSection div.leftSnapSection, div.contentSection div#leftContentSection div.rightSnapSection {
    float: left;
    display: table;
    width: 50%;
}
/** Styles for Quick Upload Section End **/

/** Styles for Add a Page Form Section End **/
div.contentSection div#leftContentSection div.rightSnapSection label {
    padding: 0.5em 0 0.5em 0;
    display: block;
}

div.contentSection div#leftContentSection div.rightSnapSection span.buttonRow {
    display: block;
    text-align: right;
    margin-top: 1.0em;
    margin-bottom: 0.8em;
}

div.contentSection div#leftContentSection div.rightSnapSection label.firstRow {
    margin-top: 1.7em;
}

div.contentSection div#leftContentSection div.rightSnapSection label input.textBoxes, div.contentSection div#leftContentSection div.rightSnapSection label textarea.textBoxes {
    width: 185px;
}

div.contentSection div#leftContentSection div.rightSnapSection label select {
    width: 189px;
    visibility: visible !important;
}

div.contentSection div#leftContentSection div.rightSnapSection label textarea {
    height: 68px;
}

div.contentSection div#leftContentSection div.rightSnapSection label select.fixedHeight {
    height: 54px;
}

div.contentSection div#leftContentSection div.rightSnapSection span input.editor {
    color: #2f3f5e;
    font-size: 1.0em;
    font-family: "Trebuchet MS";
    font-weight: bold;
    margin-right: 15px;
}

div.contentSection div#leftContentSection div.rightSnapSection span input.quickAdd {
    color: #2f3f5e;
    font-size: 1.0em;
    font-family: "Trebuchet MS";
    font-weight: bold;
    margin-right: 0.8em;
    margin-left: 0.5em;
}

div.contentSection div#leftContentSection div.rightSnapSection span.reqFieldIndicator {
    padding-left: 5px;
}

div.contentSection div#leftContentSection div.quickUploadTree {
    height: 338px !important;
}

div.contentSection div#leftContentSection div.addPageTree {
    height: 323px !important;
}
/** Styles for Add a Page Form Section End **/

/** Styles for Add a User Section Start **/
div.contentSection div#rightContentSection {
    width: 284px;
    float: left;
    padding-left: 15px;
}

div.contentSection div#rightContentSection div.topShadowBox {
    width: 284px;
}

div.contentSection div#rightContentSection div.headerContainer {
    width: 276px;
}

div.contentSection div#rightContentSection div.dragBox {
    width: 253px;
}

div.contentSection div#rightContentSection div.toggleBox {
    width: 23px;
}

div.contentSection div#rightContentSection div.contentShadowBox {
    width: 285px;
    background-image: url(images/mid-shadow-wo-gap.png);
    background-position: right top;
    background-repeat: repeat-y;
}

div.contentSection div#rightContentSection div.contentShadowBoxNoGap {
    background-image: url(images/mid-shadow-w-gap.png);
}

div.contentSection div#rightContentSection div.contentBox {
    width: 266px;
}

div.contentSection div#rightContentSection div.contentBox div.gridContainer {
    width: 264px;
    border: solid 1px #a1a1a1;
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
}

div.contentSection div#rightContentSection div.bottomShadowBox {
    width: 278px;
    margin-top: 0;
    background-image: url(images/footer-shadow-small.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

div#rightContentSection div.contentShadowBoxNoGap div.contentBox div.gridContainer, div#leftContentSection div.contentShadowBox div.contentBox div.gridTopPadding {
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    padding-top: 4px;
}

div.contentSection div#rightContentSection div.recentlyPublishedFooter {
    margin-top: -2px;
}

div.contentSection div#rightContentSection div.bottomShadowBox div.gridFooterContainer {
    width: 276px;
    margin-top: 0;
}

div.contentSection div#rightContentSection div.gridContainer label.first {
    padding-top: 10px;
}

div.contentSection div#rightContentSection div.gridContainer label {
    padding-bottom: 3px;
    display: block;
}

div.contentSection div#rightContentSection div.gridContainer label span.formLabels {
    width: 115px;
}

div.contentSection div#rightContentSection div.gridContainer span.buttonRow {
    text-align: right;
    padding-top: 1.5em;
    margin-bottom: 1.4em;
    display: block;
}

div.contentSection div#rightContentSection div.gridContainer label input.textBoxes {
    width: 124px;
}

div.contentSection div#rightContentSection div.gridContainer label select {
    border: inset 1px #859ec7;
    width: 130px;
    visibility: visible !important;
}

div.contentSection div#rightContentSection div.gridContainer span input.adduser {
    color: #2f3f5e;
    font-size: 1.0em;
    font-family: "Trebuchet MS";
    font-weight: bold;
}

div.contentSection div#rightContentSection div.gridContainer span input.reset {
    color: #2f3f5e;
    font-size: 1.0em;
    font-family: "Trebuchet MS";
    font-weight: bold;
    margin-right: 0.9em;
    margin-left: 0.5em;
}

/** Styles for Add a User Section End **/

/** Styles for netEditor Installation Information Start **/
div.contentSection div#rightContentSection ul.installationInfo {
    padding: 0.5em 1.0em 0.5em 1.0em;
    width: 240px;
    display: table;
}

div.contentSection div#rightContentSection ul.installationInfo li {
    padding: 0.2em 0 0.2em 0;
    float: left;
    display: table-row;
    width: 100%;
    clear: both;
}

div.contentSection div#rightContentSection li span.floatLeft {
    float: left;
    display: table-cell;
}

div.contentSection div#rightContentSection li span.floatRight {
    float: right;
    display: table-cell;
    text-align: right;
}

div.contentSection div#rightContentSection span.floatRight a {
    text-decoration: none;
    color: #6699ff;
}

div.contentSection div#rightContentSection span.floatRight a:hover {
    text-decoration: underline;
}

/** Styles for netEditor Installation Information Ends **/

/** Styles for Quick Actions Start **/

div.contentSection div#rightContentSection ul.quickActionsList {
    padding-left: 10px;
    width: 243px;
}

div.contentSection div#rightContentSection ul.quickActionsList li {
    padding: 5px 0 5px 20px;
    width: 223px;
}
div.contentSection div#rightContentSection li.siteSwitch {
    background-image: url(images/switch-site.gif);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: solid 1px #e5e5e5;
}

div.contentSection div#rightContentSection li.siteSwitch label {
    text-align: left;
    padding-top: 3px;
    float: left;
    display: block;
    margin: 0;
    width: 80px;
}

div.contentSection div#rightContentSection li.siteSwitch select {
    width: 135px;
    visibility: visible !important;
}

div.contentSection div#rightContentSection li.userLink {
    background-image: url(images/add-new-user.gif);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #fff;
}

div.contentSection div#rightContentSection li.groupLink {
    background-image: url(images/add-new-group.gif);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #fff;
}

div.contentSection div#rightContentSection li.siteLink {
    background-image: url(images/create-site.gif);
    background-repeat: no-repeat;
    background-position: left center;
    border-top: solid 1px #fff;
}

div.contentSection div#rightContentSection ul.quickActionsList a {
    text-decoration: none;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    color: #6699ff;
}

div.contentSection div#rightContentSection ul.quickActionsList a:hover {
    text-decoration: underline;
}

/** Styles for Quick Actions End **/
/** Styles for Modify Delete User Start **/
div.currentPermissionsPopup {
    display: none;
    position: absolute;
    border: solid 1px #4c78dd;
    width: 300px;
    background-color: #fff;
    background-image: url(images/small-gradient-bg.gif);
    background-color: #fff;
    background-repeat: repeat-y;
    z-index: 999;
}

div.currentPermissionsPopup h5 {
    display: block;
    float: none;
    margin: 0;
    padding: 3px 10px 3px 10px;
    background-color: #99b7ed;
    color: #fff;
}

div.currentPermissionsPopup ul {
    color: #4e6592;
    margin: 0 10px 0 10px;
}

div.currentPermissionsPopup li {
    margin: 3px 0 3px 0;
}

div.currentPermissionsPopup div.actionRow {
    text-align: right;
}

div.currentPermissionsPopup div.actionRow input.primarybutton {
    margin: 5px 5px 5px 0;
}

div.userAdministration {
    width: 984px;
    margin-left: 16px;
}

div.userAdministration div.boxContainer {
    width: 980px;
}

div.userAdministration div.boxHeader {
    padding-top: 10px;
    font-size: 1.1em;
}

div.userAdministration div.paddingContainer {
    width: 972px;
    position: relative;
    margin-top: -2px;
}

div.userAdministration div.boxContent {
    background-image: url(images/userdetail-bg.gif);
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #fff;
    float: left;
    width: 969px;
}

div.userAdministration div.userSectionLinks {
    background-image: url(images/user-link-separator.gif);
    background-repeat: no-repeat;
    background-position: 11px center;
    background-color: #cbe0f8;
    padding: 6px;
    padding-left: 17px;
}

div.userAdministration div.userSectionLinks a, div.userAdministration div.userSectionLinks a:hover, div.userAdministration div.userSectionLinks a:visited, div.userAdministration div.userSectionLinks a.active, div.userAdministration div.userSectionLinks a.active:hover, div.userAdministration div.userSectionLinks a.active:visited {
    background-image: url(images/user-link-separator.gif);
    background-repeat: no-repeat;
    background-position: right center;
    color: #666;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 18px;
    font-weight: bold;
}

div.userAdministration div.userSectionLinks a:hover {
    text-decoration: underline;
}

div.userAdministration div.userSectionLinks a.current, div.userAdministration div.userSectionLinks a.current:hover, div.userAdministration div.userSectionLinks a.current:visited {
    color: #2c3f67;
    text-decoration: none;
}

div.userAdministration div.userSectionLinks a.active, div.userAdministration div.userSectionLinks a.active:hover, div.userAdministration div.userSectionLinks a.active:visited {
    color: #293d63;
}

div.userAdministration div.userListing, div.userAdministration div.selectedUser {
    border-top: solid 1px #839ecd;
    width: 969px;
    float: left;
    background-color: #fff;
}

div.userAdministration div.selectedUser {
    border: solid 1px #839ecd;
    width: 947px;
}

div.userAdministration div.userListing div.sectionHeader, div.viewEditPermissions div.sectionHeader {
    background-image: url(images/subheader-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #d2ecff;
    padding: 5px 0 5px 11px;
    color: #273b5e;
}

div.userAdministration div.selectedUser div.sectionHeader {
    background-image: none;
    background-color: #fff;
    padding: 5px 0 3px 5px;
}

div.userAdministration div.selectedUser div.sectionHeader h5 {
    float: none;
}

div.userAdministration div.userListing div.contentContainer {
    display: block;
    width: 944px;
    background-color: #fff;
}

div.userAdministration div.selectedUser div.contentContainer {
    display: block;
    display: table;
    background-color: #dbeeff;
    width: 947px;
    padding-bottom: 5px;
    padding-top: 5px;
}
div.userAdministration div.selectedUser div.boxSubContent {
    padding-bottom: 5px;
    padding-top: 5px;
}
div.userAdministration div.userListing div.gridContainer {
    border-top: solid 1px #87a0c8;
    border-left: solid 1px #87a0c8;
    border-right: solid 1px #87a0c8;
    width: 949px;
    margin-left: 4px;
    padding: 0 5px 5px 5px;
    float: left;
    margin-top: -2px;
}

div.userAdministration div.userListing div.searchContainer {
    width: 947px;
    padding-top: 10px;
    height: 2.8em;
}

div.userAdministration div.userListing div.searchContainer input.textBoxes {
    width: 270px;
    float: left;
    margin-left: 6px;
}

div.userAdministration div.userListing div.pagingInfo {
    float: right;
    color: #3e5179;
}

div.userAdministration div.pagingInfo span {
    float: left;
    margin-top: 3px;
}

/*div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.selectedUser div.contentContainer div.formColumn, div.userAdministration div.selectedUser div.rightColumn
{
	float: left;
	padding: 3px 0 10px 0;
	width: 470px;
}*/
div.userAdministration div.selectedUser div.leftformColumn {
    width: 470px;
}
div.userAdministration div.selectedUser div.RightformColumn {
    clear: none;
    width: 470px;
}

div.userAdministration div.selectedUser div.formColumn label.labels, div.userAdministration div.selectedUser div.RightformColumn label.labels, div.userAdministration div.selectedUser div.formColumn span.labels {
    margin-bottom: 3px !important;
    display: block;
}

div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.selectedUser div.formColumn label.labels span.formLabels, div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.selectedUser div.formColumn label.labels span.widerLabels, div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.selectedUser div.RightformColumn label.labels span.widerLabels, div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.selectedUser div.formColumn span.labels span.formLabels {
    float: left;
    margin: 3px 10px 0 0;
    width: 10.8em;
    text-align: right;
    font-weight: bold;
    color: #5f7296;
}

div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.selectedUser div.formColumn label.labels span.widerLabels, div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.selectedUser div.RightformColumn label.labels span.widerLabels {
    width: 180px;
}

div.userAdministration div.userListing div.formColumn label.labels img, div.userAdministration div.selectedUser div.formColumn label.labels img {
    margin-left: 5px;
    margin-top: -3px;
}

div.userAdministration div.selectedUser label.labels p {
    float: left;
    width: 17.7em;
}

div.userAdministration div.selectedUser div.RightformColumn a, div.userAdministration div.selectedUser div.RightformColumn a:visited, div.userAdministration div.selectedUser div.RightformColumn a:hover {
    text-decoration: none;
    font-weight: normal;
    text-align: right;
    float: right;
    color: #5f7296;
}

div.userAdministration div.selectedUser input.textBoxes {
    width: 260px;
    background-color: #f7faff;
}

div.userAdministration div.selectedUser div.formColumn span.formLabels {
    margin-top: -6px;
    font-weight: normal;
}

div.userAdministration div.selectedUser strong {
    color: #c96600;
}

div.userAdministration div.selectedUser div.RightformColumn select {
    width: 264px;
}

div.userAdministration div.userListing div.userGroupSection, div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.boxSubContainer div.userGroupSection {
    display: table;
    width: 935px;
    margin: 0 5px 0 5px;
    background-color: #ebebeb;
    border: solid 1px #d1d1d1;
}

div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.boxSubContainer div.userGroupSection {
    clear: both;
    width: 935px;
}

div.userAdministration div.userListing div.userGroupSection div.headerContainer, div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.boxSubContainer div.userGroupSection div.headerContainer {
    font-size: 1.0em;
    color: #5f7296;
    padding: 3px 5px 0px 5px;
    background-image: url(images/add-permission-bg.gif);
    background-repeat: repeat-x;
    display: table;
    border-bottom: solid 1px #fff;
    width: 925px;
}

div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.boxSubContainer div.userGroupSection div.headerContainer {
    width: 923px;
}

div.userAdministration div.userListing div.userGroupSection div.headerContainer h5, div.userAdministration div.userListing div.userGroupSection div.headerContainer span, div.userAdministration div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.boxSubContainer div.userGroupSection div.headerContainer h5 {
    border: 0;
    width: auto;
    padding: 0 0 0 2px;
    background-image: url(images/add-permission-bg.gif);
    background-repeat: repeat-x;
}

div.userAdministration div.userListing div.userGroupSection div.listBoxContainer {
    float: left;
    width: 929px;
    padding-left: 3px;
}

div.userAdministration div.userListing div.userGroupSection div.listBoxContainer div.columns, div.userAdministration div.userListing div.userGroupSection div.listBoxContainer div.imageColumns {
    padding: 0 4px 0 4px;
    float: left;
}

div.userAdministration div.listBoxContainer div.columns select {
    width: 287px;
    float: left;
}

div.userAdministration div.selectedUser div.userGroupSection div.listBoxContainer div.imageColumns {
    padding-top: 60px;
}

div.userAdministration div.selectedUser div.userGroupSection div.listBoxContainer div.imageColumns img {
    display: block;
    clear: both;
    padding-bottom: 3px;
}

div.userAdministration div.selectedUser div.userGroupSection div.listBoxContainer div.imageColumns img.actionImage {
    cursor: pointer;
}

div.userAdministration div.selectedUser div.userGroupSection div.listBoxContainer div.imageColumns img.arrowImage {
    margin-top: -5px;
}

div.userAdministration div.selectedUser div.userGroupSection div.listBoxContainer div.columns label span {
    padding: 3px 0 3px 0;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    font-weight: bold;
    color: #5f7296;
}

div.userAdministration div.selectedUser div.userGroupSection p {
    padding: 2px 4px 2px 6px;
    clear: both;
    margin: 0;
    border-bottom: solid 1px #b8bfc5;
    width: 925px;
}

div.userAdministration div.selectedUser div.userGroupSection p a {
    color: #5f7296;
    text-decoration: none;
}

div.userAdministration div.selectedUser div.userGroupSection p a:hover, div.userAdministration div.selectedUser div.RightformColumn a:hover {
    color: #5f7296;
    text-decoration: underline;
}

div.userAdministration div.userListing div.userGroupSection div.buttonRow {
    display: table;
    width: 933px;
    padding: 6px 0 5px 0;
    background-color: #dbdbdb;
    border: solid 1px #e0e0e0;
    text-align: right;
}

div.userAdministration div.userListing div.buttonRow input.addPermission {
    margin-right: 58px;
}

div.userAdministration div.userListing div.buttonRow input.cancelPermission {
    margin-right: 9px;
}

div.userAdministration div.userListing div.buttonRow input.customPermission {
    margin-right: 4px;
}

div.userAdministration div.userListing div.savebtnRow {
    padding: 7px 0 7px 0;
    display: block;
    width: 949px;
    text-align: right;
    background-color: #d4e8ff;
    margin-left: 4px;
    clear: both;
    border-left: solid 1px #87a0c8;
    border-right: solid 1px #87a0c8;
    border-bottom: solid 1px #87a0c8;
    margin-bottom: 3px;
    padding-right: 10px;
}

div.userAdministration div.userListing div.savebtnRow input.cancelPermission {
    margin-left: 15px;
}
/** Styles for Modify Delete User End **/
/** Styles for Control Center With Shadow Boxes End **/
/** Styles for View/Edit Permission Start **/

div.boxShadow div.paddingContainer {
    float: left;
}

div.userAdministration div.boxShadow div.boxContainer div.viewEditPermissions div.userGroupSection {
    width: 310px;
    padding-left: 5px;
    float: left;
}

div.viewEditPermissions div.userGroupSection div.gridContainer div.searchContainer {
    padding-left: 0;
    padding-right: 5px;
}

div.viewEditPermissions div.userGroupSection div.gridContainer div.searchContainer input.text {
    padding-left: 2px;
}


div.viewEditPermissions div.userGroupSection h5, div.viewEditPermissions div.customObjectSection h5 {
    color: #102a5c;
    padding: 5px 0 10px 5px;
}

div.viewEditPermissions div.customObjectSection {
    margin-left: 4px;
    float: left;
}

div.viewEditPermissions div.customObjectSection h5 {
    width: 98%;
    clear: both;
}

div.viewEditPermissions div.gridContainer {
    background-image: url(images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #fff;
}

div.viewEditPermissions div.customObjectSection div.gridContainer {
    width: 640px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

div.viewEditPermissions div.customObjectSection div.permissionsLink {
    padding: 0 4px 10px 0;
    text-align: right;
}

div.viewEditPermissions div.customObjectSection a, div.viewEditPermissions div.customObjectSection a:hover, div.viewEditPermissions div.customObjectSection a:visited, div.viewEditPermissions div.customObjectSection a:active {
    color: #3c5077;
    text-decoration: none;
}

div.viewEditPermissions div.customObjectSection a:hover {
    text-decoration: underline;
}

div.viewEditPermissions div.customObjectSection div.applyPermission {
    background-image: url(images/permissions-gray-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
    padding: 7px 5px 7px 0;
    margin: 4px 0 0 0;
    text-align: right;
    display: block;
    width: 635px;
}

div.viewEditPermissions div.buttonRow {
    float: left;
    width: 959px;
    clear: both;
    text-align: right;
    background-image: url(images/permission-btnrow-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
    padding: 4px 10px 4px 0px;
    margin: 7px 0 0 0;
}

div.viewEditPermissions input.button {
    margin-right: 10px;
}

div.viewEditPermissions div.firstHeading {
    padding-bottom: 4px;
}

/** Styles for View/Edit Permission End **/

/** Styles for Login Page Start **/
div.login, div.error {
    width: 400px;
    margin: 130px auto 0 auto;
}

div.login div.boxContainer, div.error div.boxContainer {
    width: 400px;
}

div.login div.boxContent, div.error div.boxContent {
    padding: 10px;
    width: 370px;
}

div.loginBox {
    width: 355px;
}

div.loginBox div.boxContainer {
    width: 355px;
}

div.loginBox div.boxContent {
    width: 325px;
}

div.loginBox span.actionRow {
    text-align: right;
    display: block;
    width: 320px;
}

div.loginBox span.actionRow input.primarybutton {
    margin: 5px 0;
}

div.login p {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
}

div.login label.formRow, div.login span.formRow {
    display: block;
    padding-top: 5px;
}

div.login label.leftAligned {
    text-align: left;
    width: 70px;
}

div.login a, div.login a:visited {
    text-decoration: none;
    color: #666;
}

div.login a:hover {
    text-decoration: underline;
}

div.changePassword label.formLabels {
    width: 140px;
}

div.changePassword span.lastRow, div.login span.lastRow {
    text-align: right;
}

div.changePassword span.lastRow input, div.login span.lastRow input {
    margin-right: 7px;
}

div.changePassword div.changePasswordSuccess {
    width: 380px;
}

div.changePasswordSuccess span.formRow {
    padding: 10px;
}

div.changePasswordSuccess span.lastRow {
    padding-bottom: 0;
}
/** Styles for Login Page End **/

/** Styles for User Administration Start **/
div.userAdmin {
    width: 800px;
    margin: 0 auto 0 auto;
    padding-top: 130px;
    display: block;
}

div.userAdmin div.boxShadow {
    margin-right: 40px;
    float: left;
}

div.userAdmin div.lastShadowContainer {
    margin-right: 0;
}

div.userAdmin div.boxContainer {
    width: 235px;
}

div.userAdmin div.paddingContainer {
    width: 227px;
}

div.userAdmin div.boxContent {
    padding: 5px;
}

div.userAdmin ul li {
    padding: 5px 0 5px 10px;
}

div.userAdmin li a, div.userAdmin li a:visited, div.userAdmin li a:active {
    text-decoration: none;
    color: #666666;
}

div.userAdmin li a:hover {
    text-decoration: underline;
    color: #000000;
}
/** Styles for User Administration End **/
/** Styles for Edit Menu Item Properties Start **/
div.menuProperties div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.boxSubContainer div.userGroupSection {
    width: 948px;
}

div.menuProperties div.boxShadow div.boxContainer div.paddingContainer div.boxContent div.boxSubContainer div.userGroupSection div.headerContainer {
    width: 938px;
}

div.menuProperties div.boxSubHeader {
    margin-bottom: 5px;
}

div.menuProperties div.userGroupSection div.listBoxContainer {
    padding-top: 10px;
    float: left;
    width: 948px;
    padding-bottom: 5px;
}

div.menuProperties div.listBoxContainer span.labels {
    display: block;
    width: 100%;
    clear: both;
}

div.menuProperties div.listBoxContainer span.labels img {
    display: inline;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
}

div.menuProperties div.listBoxContainer .radioLabel {
    width: 120px;
    padding: 2px 0 2px 0;
}

div.menuProperties div.listBoxContainer input.textBoxes {
    width: 240px;
    float: left;
}

div.menuProperties div.boxSubContainer label.labels span.checkboxes, div.menuProperties div.boxSubContainer span.labels span.checkboxes {
    margin-left: 123px;
}

div.menuProperties span.tabledSpan {
    width: 120px;
}

div.menuProperties span.tabledFormLabel {
    color: #666;
}

div.menuProperties div.listBoxContainer label.labels select {
    width: 243px;
}

div.menuProperties div.listBoxContainer label.labels span.formLabels {
    color: #666;
    width: 120px;
}

div.menuProperties div.bottomPadding {
    padding-bottom: 5px;
}

div.menuProperties div.leftColumn {
    width: 495px !important;
}

div.fileInputs {
    clear: both;
    margin: 5px 0 5px 0;
    width: 378px;
}

div.fileInputs span.labels {
    font-style: italic;
    padding-left: 10px;
    display: block;
}

div.realFileInput {
    position: relative;
    text-align: right;
}

div.realFileInput .fileUpload {
    position: relative;
    z-index: 99;
    filter: alpha(opacity:0);
    opacity: 0;
    cursor: pointer;
    margin-right: 20px;
}

div.fakeFile {
    float: left;
    position: absolute;
    top: 0;
    left: 128px;
    z-index: 1;
}

div.fakeFile input.textBoxes {
    cursor: pointer;
    margin: 1px 5px 0 0;
}

div.fakeFile input.button {
    cursor: pointer;
}
/** Styles for Edit Menu Item Properties End **/
/** Styles for Context Menu User Controls Start **/
div.contextMenuContainer {
    border: solid 1px #cc6600;
    background-image: url(images/cmUserControl-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #546688;
    padding: 3px;
    width: 497px;
}

div.connectPages {
    width: 350px;
}

div.containerList {
    width: 206px;
}

div.contentTemplates {
    width: 385px;
}

div.contentTemplates div.contextMenuContent label.labels span.formLabels {
    width: 155px;
}

div.containerList select {
    width: 194px;
}

div.contextMenuContainer div.contextMenuContent {
    border: solid 1px #aaaaaa;
    background-image: url(images/small-gradient-bg.gif);
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: left top;
    padding: 5px;
}

div.contextMenuContainer div.contextMenuContent label.labels {
    display: block;
    clear: both;
    padding: 2px 0 2px 0;
}

div.contextMenuContainer div.contextMenuContent label.lastRow {
    text-align: right;
    padding: 10px 10px 5px 0;
}

div.contextMenuContainer div.contextMenuContent label.labels input.textBoxes {
    width: 195px;
}

div.contextMenuContainer div.contextMenuContent label.labels .radioButtonWrapper {
    display: block;
    float: left;
}

div.contextMenuContainer div.contextMenuContent label.labels textArea {
    width: 345px;
}

div.contextMenuContainer div.contextMenuContent label.labels select {
    width: 200px;
}

div.contextMenuContainer div.contextMenuContent label.labels span.formLabels span {
    font-weight: normal;
}

div.contextMenuContainer div.contextMenuContent label.lastRow input.button {
    margin-left: 10px;
}

div.contextMenuContent div.actionButtonRow {
    padding-top: 7px;
    text-align: right;
}

div.contextMenuContent div.actionButtonPadding {
    padding-right: 5px;
}

.alpha-shadow {
    float: left;
    background: url(images/full-shadow.png) no-repeat bottom right;
    margin: 10px 0 0 10px !important;
    margin: 10px 0 0 5px;
}

.alpha-shadow div {
    background: url(images/shadow-inverse2.png) no-repeat left top !important;
    padding: 0px 8px 7px 0px;
}

.alpha-shadow img {
    border: 1px solid #a9a9a9;
    padding: 4px;
    display: block;
}

input.disabled {
    color: #a1a1a1;
}
/** Styles for Context Menu User Controls End **/

/** Styles for General Error Page Starts **/
div.error div.boxContent {
    text-align: center;
}
div.error p {
    padding: 4.0em 0 4.0em 0;
}

div.error a, div.error a:visited {
    color: #6699ff;
    text-decoration: none;
}

div.error a:hover {
    text-decoration: underline;
}
/** Styles for General Error Page End **/

/** Styles for Hyperlink Manager Start **/
div.hyperlinkManager {
    display: block;
    padding: 50px 0 0 0;
    width: 800px;
    background-image: url(images/small-gradient-bg.gif);
    background-repeat: repeat-y;
    background-color: #fff;
}

div.hyperlinkManager div.paddings {
    border: solid 1px red;
}
div.hyperlinkManager span.formRow {
    display: block;
    padding: 2px 0 2px 0;
    clear: both;
}

div.hyperlinkManager .radioButtonWidth {
    display: block;
    width: 120px;
    float: left;
}

div.hyperlinkManager span.popupDimension {
    float: right;
    display: block;
    padding-right: 70px;
}

div.hyperlinkManager span.popupDimension label, div.hyperlinkManager span.popupDimension input.textBoxes {
    display: block;
    padding: 0 5px 0 5px;
    float: left;
}

div.hyperlinkManager span.popupDimension label {
    padding-top: 2px;
}

div.hyperlinkManager div.footerContent {
    background-image: url(images/bluefooter.gif);
    background-repeat: repeat-x;
    max-height: 38px;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 7px;
    margin: 50px 0 0 0;
    display: block;
    clear: both;
}
/** Styles for Hyperlink Manager End **/

/** Styles for the Configuration Section start **/
div.configuration input.textBoxes {
    float: left;
    width: 268px;
    margin-left: 6px;
}
/** Styles for the Configuration Section start **/

.tooltip {
    position: absolute;
    border: solid 1px #ccc;
    padding: 10px;
    min-height: 20px;
    color: blue;
    background-color: white;
}

/* Float clear style */
.clear-fix:after, .form-row:after, .site-settings .formRow:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear-fix, .form-row, .site-settings .formRow {
    display: inline-block;
}
html[xmlns] .clear-fix, html[xmlns] .form-row, html[xmlns] .site-settings .formRow:after {
    display: block;
}
* html .clear-fix, * html .form-row, * html .site-settings .formRow:after {
    height: 1%;
}

/* Popup Styles STARTS */
div.iapps-modal {
    background-color: #ffffff;
    float: left;
    min-height: 200px;
    min-width: 350px;
}
div.modal-header {
    background-color: #333;
    padding: 10px 25px;
}
div.modal-header h2 {
    width: 100%;
    font-size: 15px;
    float: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
}
div.modal-header a, div.modal-header a:hover, div.modal-header a:active, div.modal-header a:visited {
    float: right;
    padding: 5px;
    height: 9px;
    width: 9px;
    background: transparent url('images/close.gif') no-repeat center center;
    text-indent: -9999px;
}
div.modal-header a:hover {
    background: #ddecf7 url('images/close-hover.gif') no-repeat center center;
    border: solid 1px #79b7e7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 4px;
}
div.modal-content {
    padding: 25px;
    min-height: 100px;
    background-color: #fff;
}
div.modal-footer {
    border-top: solid 1px #d2d2d2;
    padding: 15px 25px;
    text-align: right;
}
div.modal-footer input[type=button], div.modal-footer input[type=submit] {
    margin-left: 5px;
}
div.iAPPSPopupOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background: #a8a8a8;
}