﻿/* Global Navigation Styles Start */
.TopGroup
{
	cursor: pointer;
}

.MenuGroup
{
	background-image: url(images/top-menu-bg.gif);
	background-repeat:repeat-y;
	border: solid 1px #8193b9;
	cursor: default;
	background-color:#e3f1fc;
	width:144px;
}

.TopMenuItem
{
	border: 0;
	cursor: pointer;
	background-image:url(images/header-bg-new.gif);
	background-repeat:repeat-x;
	padding: 0 0.1em 0 0.1em;
}

.TopMenuItemHover
{
	border: 0;
	cursor: pointer;
}

.MenuItem
{
	color: #656668;
	font-family: "Trebuchet MS";
	font-size: 1.1em;
	cursor: pointer;
	height:22px;
}

.MenuItemHover
{
	background-color: #E6E6E6;
	font-family: "Trebuchet MS";
	font-size: 1.1em;
	background-image:url(images/top-item-hover.gif);
	background-repeat:repeat-y;
	cursor: pointer;
	height:22px;
}

.MenuBreak
{
	background-image: url(images/break_bg.gif);
	width: 100%;
	height: 1px;
	margin-left:17px;
}
/** Global Navigation Styles End **/