﻿
div.historyContent,
div.pageArchiveContent
{
    width:984px;
    margin-left:16px;
}
div.historyContent div.boxShadow div.boxContainer,
div.pageArchiveContent div.boxShadow div.boxContainer
{
	width:980px;
	display:block;
}
div.historyContent div.boxShadow div.boxContainer div.boxHeader,
div.pageArchiveContent div.boxShadow div.boxContainer div.boxHeader
{
   padding:10px 0px 10px 10px;
   width:970px;
}
div.historyContent div.boxShadow div.boxContainer div.boxHeader h3,
div.pageArchiveContent div.boxShadow div.boxContainer div.boxHeader h3
{
	padding:0px;
	margin:0px;
	font-weight:bold;
}
div.historyContent div.boxShadow div.boxContainer div.boxHeader h3 span.header,
div.pageArchiveContent div.boxShadow div.boxContainer div.boxHeader h3 span.header
{
	font-weight:bold;
	padding-right:8px;
}
div.historyContent div.boxShadow div.boxContainer div.boxHeader h3 span,
div.pageArchiveContent div.boxShadow div.boxContainer div.boxHeader h3 span
{
	font-weight:normal;
}
div.pageArchiveContent div.boxShadow div.boxContainer div.paddingContainer div.boxContent,
div.historyContent div.boxShadow div.boxContainer div.paddingContainer div.boxContent
{
    width:970px;
}
div.boxContent div.historyGrid
{
	border-bottom:solid 1px #ccc;
	border-top:solid 1px #ccc;
}
div.historyContent div.boxShadow div.boxContainer div.paddingContainer
div.boxContent div.selectContent
{
    color:#596e9d;
    margin:5px;
}
 
div.pageArchiveContent div.boxShadow div.boxContainer div.paddingContainer div.historyFooter,
div.historyContent div.boxShadow div.boxContainer div.paddingContainer div.historyFooter
{
    background-image:url(images/bluefooter.gif);
    background-repeat:repeat-x;
    width:963px;
    max-height:39px;
    text-align:right;
    padding:7px 7px 5px 0px;
    margin:0px;
}
div.historyContent div.historyFooter input.button
{
    width: 200px;
}
