﻿/*div.popupGridTopGrid
{
	font-size:1.1em;
	color:#3F557E;
	padding:5px;
	width:650px;
	height:26px;
}
div.popupGridTopGrid h4
{
	display:block;
	float:left;
	font-weight:bold;
	padding:7px 0 0 0;
}
div.popupGridTopGrid div.popupgridCombo
{
	display:block;
	float:right;
	font-weight:normal;
	vertical-align:middle;
	
}
div.popupGridInnerStyle
{
	font-size:1.1em;
	color:#3F557E;
	padding:5px 0 5px 0;
	width:650px;
}


.insertfileLibrary
{
    clear:both;
	margin:0 4px 2px 4px;
	width:235px;
	background-color:#ffffff;   
}
.insertfileLibrary div.blueBorder
{
    float:left;
    border:1px solid #869FC8;
    position:relative;
    top:-2px;
    width:239px;    
}
div.bigImagePopUp
{
	padding: 8px 0 0 8px;
	margin-bottom:8px;
	float: left;
	background-color:Transparent;
}
div.bigImagePopUp .imageStyle
{
    display:table;
	padding:0;
	margin:0;	
}
div.rightBigImagePopup
{   
    display: block;
	float: left;
	color: #3F557E;
	font-family: Trebuchet MS;
	font-weight: normal;
	font-size: 1.0em;
}

div.rightBigImagePopup h5
{
   display:block;
   padding-left:13px;
   padding-top:13px;
   padding-bottom:20px;
   font-family: Trebuchet MS;
   font-weight: bold;
   font-size: 1.2em; 
}
.labelStyle
{
    vertical-align:top;
    margin-right:4px;
    width:100px;
}
.thumbnailHeader
{
    margin:10px 0px 0px 20px;
    color: #3F557E;
    font-family: Trebuchet MS;
	font-weight: normal;
	font-size: 1.0em;
}
div.insertImageLibrary .rightBigImagePopup div.selectImageControl
{
    float:left;
    display:block;
    margin:0px;
    padding-left:13px;
    padding-right:20px;
    padding-bottom:25px;
}
.rightBigImagePopup div.selectImageControl div.selectLabel
{
    display:block;
    float:left;
}
.rightBigImagePopup div.selectImageControl select 
{
   margin-left:8px;
   float:left;
   display:block;
   height:20px;
   padding:0px; 
}
.rightBigImagePopup div.ImageSearchControlPadding
{
    border:0px;
    padding:0px;
    padding-left:13px;
    padding-bottom:25px;
}
.rightBigImagePopup div.ImageSearchControlPadding div.ImageSearchButtonMargin
{
    margin-left:8px;
}*/
/***** Popup Tree Styles ********/
/*div.popupLibraryBoxShadow h4.popupTreeTitle
{
    clear:both;
	display:block;
	font-size:1.1em;
	font-weight:bold;
	color:#3F557E;
	padding:12px 0 19px 6px;
}
div.popupLibraryBoxShadow div.popupTreeContainer
{
    clear:both;
	margin:0 4px 4px 4px;
	border:solid 1px #A1A1A1;
	width:239px;
	background-color:#ffffff;
}
div.popupTreeContainer div.popupTreeHeading
{    
	background-image: url(images/mdTreeHeaderBgGrad.gif);
	background-repeat: repeat-x;
	height: 20px;
	/*line-height: 2.0em;
	margin: 0;
	font-family: Trebuchet MS;
	font-size: 11px;
}
div.popupTreeHeading h5
{
	display: block;
	float: left;
	font-family: Trebuchet MS;
	font-size: 1.0em;
	font-weight: bold;
	padding-left: 1.0em;
}
div.popupLibraryBoxShadow div.subContent div.popupTreeHeading span,
div.popupLibraryBoxShadow div.popupGrid div.popupTreeHeading span
{
	color:#627697;
	display:block;
	float:right;
	padding:0px;
	cursor:pointer;
}
div.popupTreeHeading span img
{
	margin:0;
	padding:0;
	float:left;
	font-size: 1.0em;
}
div.popupTreeHeading span a,div.popupTreeHeading span a:hover,div.popupTreeHeading span a:active
{
	margin:0;
	margin-top:3px;
	padding:0 5px 0 0;
	float:left;
	color:#627697;
	text-decoration:none;
}*/
/******End Popup Tree Styles ********/ 

div.popupLibraryBoxShadow img.arrowButton0,div.popupLibraryBoxShadow img.arrowButton0Hover
{
    padding:0px;
    padding-left:4px;
}
div.rightBigImagePopup
{   
    display: block;
	float: left;
	color: #3F557E;
	font-family: Trebuchet MS;
	font-weight: normal;
	font-size: 1.0em;
}

div.rightBigImagePopup h5
{
   display:block;
   padding-left:13px;
   padding-top:13px;
   padding-bottom:20px;
   font-family: Trebuchet MS;
   font-weight: bold;
   font-size: 1.2em; 
}
div.popupLibraryBoxShadow h4.popupTreeTitle
{
    clear:both;
	display:block;
	font-size:1.1em;
	font-weight:bold;
	color:#3F557E;
	padding:12px 0 19px 6px;
}
.rightBigImagePopup div.selectImageControl div.selectLabel
{
    display:block;
    float:left;
}
.rightBigImagePopup div.selectImageControl select 
{
   margin-left:8px;
   float:left;
   display:block;
   height:20px;
   padding:0px; 
}
.rightBigImagePopup div.ImageSearchControlPadding
{
    border:0px;
    padding:0px;
    padding-left:13px;
    padding-bottom:25px;
}
.rightBigImagePopup div.ImageSearchControlPadding div.ImageSearchButtonMargin
{
    margin-left:8px;
}
