.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #efefef;
border:0;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background-color:#ffffff;
width: 10px;
left: 0;
top: 0;
z-index: 900000;
visibility: hidden;
border:0;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=40);
opacity: 0.4;
}
#dhtmlIframe
{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background-color:#ffffff;
width: 10px;
left: 0;
z-index: 800000;
visibility: hidden;
border:0;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=40);
opacity: 0.4;
}
