﻿
/* Feeds Css */
div.wrapper div.contentSection div.ManageList div.boxShadow div.boxContainer div.paddingContainer div.RightBoxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildTwo div.nopadding
{
	padding:0px;
}
div.wrapper div.contentSection div.ManageList div.boxShadow div.boxContainer div.paddingContainer div.RightBoxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildTwo div.nopadding div.SearchGridContainer
{	
	padding-bottom:10px;
}

div.boxContent div.boxListStructure
{
	padding-bottom:4px;
	display:block;
}
div.rssContainer
{
	display:block;
}
div.userAdministration div.boxShadow div.boxContainer div.noboxPadding
{
	padding:0px;
}
div.displayTable
{
	display:table;
}
div.userAdministration div.paddingContainer div.RightBoxListStructure div.boxContent div.formColumn label.subLabelLinkToMenu a.subSpanLinkToMenu
{
	color:#666;
	margin-left:140px;
	font-size:0.96em;
	text-decoration:none;
}
div.userAdministration div.paddingContainer div.RightBoxListStructure div.boxContent div.formColumn label.subLabelLinkToMenu a.subSpanLinkToMenu:hover
{
	text-decoration:underline;
}
a.anchorTag
{
	float: left;
	color: #666666;
	margin-bottom: 0px;
	margin-left: 2px;
}
span.maxSize
{
	clear: both;
	float: none;
	display: block;
	margin: 0px;
	margin-left: 118px;	
	
}
span.maxImageSize
{
	clear: both;
	float: none;	
	margin: 0px;
	margin-left: 118px;	
	
}
.betweenFields
{
	padding:0px 2px 0px 2px;
}
div.userAdministration div.ManageListRight
{
	width: 758px;
	display: block;
	margin-left:4px;
	float:left;
	padding:0px;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.boxListStructureHeader
{
	clear:both;
	width:100%;
	display:table;   
    background-color:#DBEBFB;    	
	height:35px;
	min-height:35px;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.boxListStructureContent 
{
	width: 752px;
	height:auto;
	clear:both;
	padding-left:5px;
	display:table;
	margin:0px 0px 4px 0px;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.boxListStructureContent div.boxSubContainer
{
	display: block;
	width: 746px;
	margin:0px;
	border: solid 1px #8EA5CE;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer
{
	display: block;
	clear: both;
	width: 746px;	
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer label
{
	display: block;
	width: 700px;
	padding-top: 4px;
	margin-bottom: 4px;
	clear: both;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer label.extraPadding
{
	padding-bottom:5px;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer div.indexContainer
{
	width:740px;
	clear: both;
	display: block;
	/*height: 6em;
	min-height: 6.5em;*/
	padding:5px 0px 0px 0px;
	margin-bottom:5px;	
	
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer div.indexContainer label.indexLabel
{
	width: 350px;
	display: table-cell;
	margin-bottom: 0px;
	padding-top: 0px;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer div.indexContainer label.publishtimeLabel
{
	width: 350px;
	display: block;
	float: right;
	padding-top: 0px;
	margin-top: -70px;
	
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer div.indexContainer label.indexLabel span a
{
	color: #5f7296;
	font-weight:normal;
	text-decoration:none;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer div.indexContainer label.indexLabel span a:hover
{
	text-decoration:underline;
}
div.userAdministration div.ManageListRight div.boxRssStructure div.propertiesContainer div.rssChannelsContainer
{
	border: solid 1px #8EA5CE;
	margin-left: 4px;
	margin-bottom:4px;
	width: 736px;
	clear: both;
	display: block;	
	padding-bottom:10px;
}
div.userAdministration div.propertiesContainer div.rssChannelsContainer div.boxSubContent
{
	width: 736px;
	display: block;
	clear: both;
}
div.userAdministration div.propertiesContainer div.rssChannelsContainer div.boxSubContent div.workflowContainer
{
	clear: both;
	display:block;
	overflow:hidden;
	padding:0;
	width: 718px;
	margin-left: 8px;	
	
}
div.userAdministration div.propertiesContainer div.rssChannelsContainer div.boxSubContent div.workflowContainer div.arrows
{	padding:0;
	padding-top:70px;
	/*margin-left:1px;
	width:25px;
	border:1px solid red;*/
}
div.userAdministration div.propertiesContainer div.rssChannelsContainer div.boxSubContent div.workflowContainer div.workflowSequence
{
	width:338px;
	margin:0px;
	padding-bottom: 4px;
	margin-bottom:0;
	float:left;
}

div.userAdministration div.paddingContainer div.boxContent div.containerPaddingBottom
{
	padding-bottom: 4px;
	display: block;
}
div.userAdministration div.propertiesContainer div.actionContainer
{
	width: 746px;
	text-align:right;
	margin-top: 2px;
}
/* Page Archive */
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.boxContent
{
	padding: 0px;
}
div.actionContainer
{
	width: 960px;
	display: table;
	height: 38px;
	min-height: 38px;
	background-image: url(images/bluefooter.gif);
	background-repeat: repeat-x;
	background-position: left;
	clear: both;
	margin: 0px;
	padding-bottom: 2px;
}


div.ManageList span.deSelectIcon
{
	float:right;
	margin-right:35px;
}
span.noteAdded
{
	clear:both;padding:0;
	padding-left:40px;
margin-top:3px;
display:block;
color:#3F557E; 
width:88%;


}

div.ManageRss  div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne
div.FilterContainer div.boxSubContent div.formColumn,
div.ManageRss  div.boxListStructure div.boxContent div.boxListStructureContent div.ListStructureChildOne
div.DisplayContainer div.boxSubContent div.formColumn
{
	padding-top:10px;
	margin-top:0px;			
}

div.boxRssStructure div.boxListStructureContent div.boxSubContainer div.rssChannelsContainer div.boxSubContent p
{
	padding:0px;
	margin:8px 0px 10px 0px;
	display:block;
	float:left;
}