﻿div#bar
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	background-image: url(images/toolbar-bg.gif);
	background-repeat: repeat-x;
}

div#bar div.bottomBorder
{
	border-bottom: solid 1px #7b91b8;
}

div#autohide
{
	clear: both;
	margin-left: 49%;
}

div#autohide img
{
	cursor:pointer;
}

.ToolbarTopGroup
{
	cursor: default;
	background-image: url(images/toolbar-bg.gif);
	background-repeat: repeat-x;
	background-color:#fff;
}

.ToolbarMenuGroup
{
	background-color: #fff;
	background-image: url(images/cm-left-bg.gif);
	background-repeat: repeat-y;
	background-position: left;
	border:solid 1px #7b91b8;
	cursor: default;
}

.ToolbarTopMenuItem
{
	border: 0;
	cursor: pointer;
	padding: 0 0.1em 0 0.1em;
	font-family: Arial;
	font-weight: bold;
	font-size: 1.1em;
	color: #3f557e;
}

.ToolbarTopMenuItemHover
{
	border: 0;
	cursor: pointer;
	padding: 0 0.1em 0 0.1em;
	font-family: Arial;
	font-weight: bold;
	font-size: 1.1em;
	color: #3f557e;
}

.ToolbarMenuItem
{
	color: #666;
	font-family: "Trebuchet MS";
	font-size: 1.1em;
	cursor: pointer;
}

.ToolbarMenuItemHover
{
	background-color: #E6E6E6;
	font-family: "Trebuchet MS";
	font-size: 1.1em;
	cursor: pointer;
}

.ToolbarMenuBreak
{
	background-image: url(images/break.gif);
	width: 100%;
	height: 1px;
	margin-left: 18px;
}

.ToolbarVerticalMenuBreak
{
	background-image: url(images/toolbar-menu-break.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 23px;
}

.StartSpace
{
	width: 10px;
	height: 23px;
}

.BigGap
{
	width: 220px;
	height: 23px;
}

.SiteEditorText
{
	font-family:"Trebuchet MS";
	font-size:1.2em;
	font-weight:bold;
	color:#666;
}