﻿
/* Submit Workflow */
div.workflowWrapper
{
	width:980px;
	padding:0px;	
	padding-left:16px;
	margin:-5px 0px 0px 0px;	
	float:left;
	clear:both;
	height:auto;
	display:block;
}
div.workflowWrapper div.boxShadow div.publicationWrapper
{
	width:979px;
	float:left;
	display:block;
	height:auto;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.boxHeader h3
{
	width:950px;
	padding:8px 0px 7px 12px;
	margin:0px;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.boxHeader h3 span
{
	font-weight: normal;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer
{
	float:left;
	display:block;
	width:969px;	
	margin:0px;
	height:auto;
	padding:0px;}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn
{
	width:675px;
	padding:5px 0px 0px 4px;
	margin:0px 4px 0px 0px;
	height:auto;
	float:left;
	display:block;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer
{
	width:671px;
	clear:both; 
    margin-bottom:5px;
    display:block;
    border:solid 1px #8EA5CE;
    padding:0px;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubHeader,
div.boxSubContainer div.boxSubHeader
{
	display:table;
    background-image:url(images/subheader-bg.gif);
    background-repeat:repeat-x;
    background-color:#d1e9ff;
    color:#fff;    
	width:670px;
	height:20px;
	min-height:20px;
	float:left;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubHeader h5,
div.boxSubContainer div.boxSubHeader h5
{
    padding:1px 0 1px 9px;
     color:#0c2a68;   
    
 }
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent
{
	background-color:#fff;
	width:668px;
	color:#596e9d;
	display:block;
	clear:both;	
	padding-bottom:0px;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.publishDate
{
	display:table;
	width:665px;
	margin:0px;
	padding:8px 0px 10px 0px;
	clear:both;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.publishDate *
{
	vertical-align:middle;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.publishDate img.marginLeftTop
{	
	padding:0px;
	position:relative;
	margin:0px 0px 0px 3px;
}

div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.publishDate .selectDate
{
	width:104px;
	padding-left:3px;
	margin:0px 0px 0px 0px;
	position:relative;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.publishDate label.publishDate
{
	width:100px;
	position:relative;
}

div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.publishDate .timeWidth
{
	width:100px;	
	margin:0px 25px 0px 30px;
	position:relative;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.publishDate span.paddingTop
{
	padding:0px;
	float:left;
	position:relative;
	margin-left:0px;	
}
.assignedWorkflow
{
	width:272px;
	float:left;
}
.textboxWithMarginLeft
{
	width:268px;
	margin:0px 3px 0px 0px;
	float:left;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent span.selectWorkflow,
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent p
{
	padding:0px;
	margin:8px 0px 0px 0px;
	display:block;
	float:left;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent span.selectWorkflow label.formLabels,
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent p label.formLabels,
div.boxRssStructure div.boxListStructureContent div.boxSubContainer div.rssChannelsContainer div.boxSubContent p label.formLabels
{
	clear:both;
	text-align:right;
	width:135px;
	margin:0px;	
	padding:0px 9px 0px 0px;	
}
div.boxRssStructure div.boxListStructureContent div.boxSubContainer div.rssChannelsContainer div.boxSubContent p label.formLabels
{
	width:148px;
	padding-left:6px;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent p span,
div.boxRssStructure div.boxListStructureContent div.boxSubContainer div.rssChannelsContainer div.boxSubContent p span
{
	width:290px;
	float:left;
	margin:0px;
	padding:0px;
	display:inline-block;
	
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent p span .floatleft,
div.boxRssStructure div.boxListStructureContent div.boxSubContainer div.rssChannelsContainer div.boxSubContent p span .floatleft
{
	float:left;
	display:inline-block;
}
div.boxSubContainer div.boxSubContent div.workflowContainer,
div.boxSubContainer div.boxSubContent div.moreWorkflowContainerWidth
{
	color:#666666;
	width:666px;
	display:block;
	height:auto;
	clear:both;
	padding:0px 0px 10px 4px;
	margin:0px;
}
div.boxSubContainer div.boxSubContent div.moreWorkflowContainerWidth
{
	
	width: 656px;
	margin-left:2px;
	height: 250px;
}

div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence,
div.boxSubContainer div.boxSubContent div.moreWorkflowContainerWidth div.workflowSequence
{
	width:288px;
	background-image:url(images/usersGroups-bg.gif);
	background-repeat:repeat-x;
	background-color:#fff;
	border:solid 1px #8EA5CE;
	display:block;
	height:auto;
	margin:20px 0px 0px 0px;
	padding-left:4px;	
	float:left;
	
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence
{
	width:656px;
}
div.boxSubContainer div.boxSubContent div.moreWorkflowContainerWidth div.workflowSequence
{
	width:652px;
	clear:both;
	padding-bottom:4px;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence h5.workflowHeader,
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.moreWidth h5
{
	padding:6px 0px 5px 0px;
	padding-bottom:5px;
	float:left;
	width:45%;
	margin:0px;
	color:#445989;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence h5.workflowHeader,
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence h5
{
	padding:6px 0px 10px 5px;
	width:90%;
	color:#445989;
}

div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.gridContent,
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.moreWidth
{
	width:273px;
	display: block;
	float:left;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.moreWidth
{
	width:328px;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.moreWidth span
{
	color:#445989;
}

div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.workflowRightColumn
{	
	width:280px;
	margin-top:5px;
	padding:0px;
	height:auto;
	color:#666666;
	position:relative;top:0px;
	display:inline;float:left;
	border:solid 1px #8EA5CE;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.workflowRightColumn div.boxSubHeader
{
	width:280px;
	padding:0px;
	margin:0px;
}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.workflowRightColumn div.boxSubContent
{
	width:280px;
}
label.bottomPadding
{
	padding-top:3px;
	padding-bottom:4px;
	display:block;
}
label.bottomPadding span
{
	margin:0px;
	padding:0px 7px 0px 5px;
	display:inline-block;
}
/*div.boxSubContainer div.boxSubContent div.workflowContainer div.moreWidth 
{
	width:338px;
	float:left;
}*/
div.boxSubContainer div.boxSubContent div.workflowContainer div.gridContent div.morePaddingtop
{
	margin-top:6px !important;
	margin-top:8px;
	display:block;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.gridContent div.approvePublishTabs
{
	width: 270px; 
	margin-top:8px;
	margin-left:-4px;
	padding:0px;
	float:left;
	height:20px;
	min-height:24px;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.gridContent div.approverPublisherContent,
div.boxSubContainer div.boxSubContent div.workflowContainer div.moreWidth div.approverPublisherContent,
div.boxSubContainer div.boxSubContent div.moreWorkflowContainerWidth div.workflowSequence div.approverPublisherContent
{
	float:left;	
	width:270px;
	display:block;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.moreWidth div.approverPublisherContent
{
	padding-top:4px;
	clear:both;
}
div.boxSubContainer div.boxSubContent div.workflowContainer div.workflowSequence div.gridContent div.approverPublisherContent
{
top:1px !important;
top: -1px;
z-index: 97; 
padding-top:0px;
position: relative; 
padding-bottom: 7px;
}
div.boxSubContainer div.boxSubContent div.moreWorkflowContainerWidth div.workflowSequence div.approverPublisherContent
{
	width:650px;
}
.chkpadding
{
	padding-left:5px;
	padding-right:0px;
	display:inline-block;
}
.chkpaddingRight
{
	display:inline-block;
}
.chkpaddingRight label
{
	margin-left:6px;	
}
div.workflowWrapper div.boxSubContainer div.boxSubContent div.workflowContainer div.arrows
{
	padding-top:120px;
}
.noRightMargin
{
	margin-right:0px;
}
div.boxShadow div.publicationWrapper div.publishContent p
{
	display:block;
	float:left;
	width:100%;
	position:relative;
	clear:both;
}
div.boxShadow div.publicationWrapper div.publishContent p label
{
	float:left;
	clear:both;
	width:155px;
	margin-left:0px;	
	padding:2px 0px 2px 0px;	
}
div.boxSubContainer div.boxSubContent div.workflowContainer span.saveWorkflow
{
	width:500px;
	clear: both;
	display:block;
	padding:14px 0px 0px 12px;
	margin:0px;
	font-weight:normal;
}
div.boxSubContainer div.boxSubContent div.workflowContainer span.saveWorkflow .textFont
{
	width:267px;
	font-weight:normal;
	color:#666666;
}
div.boxSubContainer div.boxSubContent div.workflowContainer span.saveWorkflow label
{
	width:112px;margin:0px;
	color:#596e9d;
	margin-right:14px;
	padding:0px;
	display:inline-block;
	}
div.workflowWrapper div.boxShadow div.publicationWrapper div.paddingContainer div.publishContainer div.leftColumn div.boxSubContainer div.boxSubContent div.actionButtonContainer
{
	width: 664px;
	 margin-top:4px;
	/*text-align:right;*/
}
.paddingBottom
{
	padding:0px 0px 10px 0px;
}


