﻿body { color: #41474e; font-family: Arial, sans-serif; line-height: 1; text-align: left; }
h1 { margin: 0 0 15px 0; font-size: 26px; font-weight: normal; color: #41474e; line-height: 32px; }
h2 { margin: 0 0 15px 0; font-size: 20px; font-weight: normal; color: #41474e; line-height: 25px; }
h3 { margin: 0 0 15px 0; font-size: 18px; font-weight: normal; color: #41474e; line-height: 22px; }
h4 { margin: 0 0 10px 0; font-size: 16px; font-weight: normal; color: #41474e; line-height: 20px; }
p { margin: 0; }
a { color: #00789f; text-decoration: none; }
img { margin: 0; border: 0; }
body.preheader { background: #f3f4f5; font-size: 10px; line-height: 12px; }
body.promo { background: #e7e9eb; font-size: 16px; line-height: 24px; }
body.content { background: #ffffff; font-size: 14px; line-height: 21px; }
body.content p { margin-bottom: 20px; }
body.content p:last-child { margin-bottom: 0; }
body.sidebar { font-size: 12px; line-height: 18px; }
body.footer { background: #f3f4f5; font-size: 10px; color: #b4b9c0; line-height: 15px; text-align: center; }
body.footer p { margin-bottom: 5px; }
body.footer p:last-child { margin: 0; }
body.footer a { color: #b4b9c0; }
