﻿h1 { margin: 0 0 15px 0; font-size: 26px; font-weight: normal; color: #41474e; line-height: 32px; }
h2 { margin: 0 0 15px 0; font-size: 20px; font-weight: normal; color: #41474e; line-height: 25px; }
h3 { margin: 0 0 15px 0; font-size: 18px; font-weight: normal; color: #41474e; line-height: 22px; }
h4 { margin: 0 0 10px 0; font-size: 16px; font-weight: normal; color: #41474e; line-height: 20px; }