﻿@model Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.SiteListing
@{
    Layout = System.Configuration.ConfigurationManager.AppSettings.Get("Layout.HomeSiteList");
}
@{
    ViewBag.Title = "Sites";
}
@section viewscripts
{
    <script type="text/javascript">
        $(function () {
            $("#divSites").gridActions({ objList: $("#divSites"), type: "list" });
            $("#divSites").gridActions("callback");
        });

        function Grid_Callback(sender, eventArgs) {
            var doCallback = true;
            var selectedItemId = gridActionsJson.SelectedItems.first();
            switch (gridActionsJson.Action) {
                case "JumpToCMS":
                    doCallback = false;
                    RedirectBySiteWithToken("cms", selectedItemId);
                    break;
                case "JumpToSite":
                    doCallback = false;
                    JumpToFrontPageBySite(selectedItemId);
                    break;
                case "SubmitSitemaps":
                    doCallback = false;
                    var urlValue = '@Url.Action("SubmitSitemaps", "SitemapSubmission")';
                    window.location.href = urlValue;
                    break;
                case "Export":
                    doCallback = false;
                    var seconds = new Date().getTime() / 1000;
                    var urlValue = '@Url.Action("ExportToCsv", "SiteListing", new { id = "sitelisting-grid" })';
                    urlValue = urlValue + '?ts=' + seconds;
                    window.open(urlValue);
                    break;
            }

            if (typeof Extensions_Grid_Callback == "function") {
                doCallback = Extensions_Grid_Callback("divSites", eventArgs);
            }

            if (doCallback) {
                $("#divSites").gridActions("mvcCallback", "@Url.Action("GridAction_Callback", "SiteListing")", "#divSites", {
                    complete: function () { }
                });
            }
        }

        function Grid_ItemSelect(sender, eventArgs) {
            var siteId = gridActionsJson.SelectedItems.first();
        }

    </script>
}
<div id="divSites" class="extension-grid">
    @Html.Action("DynamicActionFromPartialView", "ChildAction", new { actionName = "sitelisting-grid" })
</div>





