﻿@model Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.IDisplayMessage

@if (Model.HasDisplayMessage)
{
    <div class="messageContainer clear-fix">
        <div class="errorMessage @Model.ClassName">
            <div class="msg-close-handle" onclick="$(this).parents('.messageContainer').slideUp();"></div>
            @Model.Message
        </div>
    </div>
}