﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Bridgeline.iAPPS.Resources.GUIStrings.iAPPSSocial: @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/styles/iapps")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/jqueryui")
    @Scripts.Render("~/scripts/kendo")
    @Scripts.Render("~/scripts/iapps")
    @Scripts.Render("~/iapps-callback-mapping.js")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            //setup ajax error handling
            $.ajaxSetup({
                error: function (data, status, error) {
                    //alert('in error post');
                    //debugger;
                    var responseData = data.responseJSON;
                    if (responseData && typeof (responseData.success) != 'undefined' && !responseData.success) {
                        alert(responseData.message);
                    }
                    CanceliAppsAdminPopup(false);
                    CloseiAppsLoadingPanel();
                }
            });
        });
    </script>


</head>
<body id="body" class="popupBody">
    @using (Html.BeginForm())
    {
        <div class="iapps-modal @ViewBag.CssClass">
            <div class="modal-header clear-fix">
                <h2>
                    @RenderSection("PopupHeading", required: false)
                </h2>
                <div class="right-column" id="iapps_help">
                </div>
            </div>
            <div class="modal-breadcrumb clear-fix" style="display: none;"></div>
            <div class="modal-content resizeable clear-fix">
                @RenderBody()
                <input type="hidden" id="hdnPopupActionsDTO" />
            </div>
            <div class="modal-footer clear-fix" id="popupFooter">
                @RenderSection("PopupFooter", required: false)
                <script type="text/javascript">
                    $(function () {
                        popupActionsJson = parent.popupActionsJson;
                        $("#hdnPopupActionsDTO").val(JSON.stringify(popupActionsJson));
                        $("#popupFooter input.cancel-button").on("click", function (e) {
                            CanceliAppsAdminPopup();
                            return false;
                        });
                    });
                </script>
            </div>
        </div>
    }
    <script type="text/javascript">
        @Html.Action("RenderPopupDTO", "General")
    </script>
</body>
</html>
