﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard: @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script>
        @Html.Action("DynamicActionFromPartialView", "ChildAction", new { actionName = "admin.renderscripts" })
    </script>
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/jqueryui")
    @Scripts.Render("~/scripts/kendo")
    @Scripts.Render("~/scripts/iapps")
    @Scripts.Render("~/scripts/local")
    @Scripts.Render("~/angular/script/iapps-angular-shims.min.js")
    @Scripts.Render("~/angular/script/iapps-angular-deps.min.js")
    @Scripts.Render("~/iapps-callback-mapping.js")
    
    @RenderSection("scripts", required: false)
    @Styles.Render("~/App_Themes/General/iapps")
    @Styles.Render("~/styles/local")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        $(function () {
            //setup ajax error handling
            $.ajaxSetup({
                error: function (data, status, error) {
                    //alert('in error post');
                    //debugger;
                    var responseData = data.responseJSON;
                    if (responseData && typeof (responseData.success) != 'undefined' && !responseData.success) {
                        alert(responseData.message);
                    }
                    CanceliAppsAdminPopup(false);
                    CloseiAppsLoadingPanel();
                }
            });
        });
    </script>
</head>
<body>
    <div style="position: relative; min-height: 100%;">
        <iapps-header-app></iapps-header-app>
        <div class="wrapper clear-fix" id="wrapper">
            <!-- Content Section Starts -->
            <div class="contentSection clear-fix" runat="server" id="contentSection">
                @Html.Action("DynamicActionFromPartialView", "ChildAction", new { actionName = "admin.display.message" })
                @RenderBody()
            </div>
            <!-- Content Section Ends -->
        </div>
        <!-- Footer Starts -->
        <div class="footerWrapper" id="footerWrapper">
            <div class="footer" id="footer">
                <div class="leftFooter">
                    @Html.Raw(String.Format(Bridgeline.iAPPS.Resources.GUIStrings.Copy1BridgelineDigital, "v" + Bridgeline.iAppsCMS.Web.GeneralUtility.GetCurrentVersionNumber(), DateTime.Now.Year))
                </div>
                <div class="rightFooter">
                    <img src="@Url.Content("~/App_Themes/General/images/bridgeline-logo.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.BridgelineDigital" />
                </div>
            </div>
        </div>
        <!-- Footer Ends -->
        <div id="iAppsDialogHolder"><!-- To Load Dialog --></div>
    </div>
    <script type="text/javascript">
        window["formName"] = "<%=frmMain.ClientID%>";
        @Html.Action("DynamicActionFromPartialView", "ChildAction", new { actionName = "admin.renderpopupdto" })
    </script>
    <div class="iapps-reset">
        <iapps-legacy></iapps-legacy>
    </div>
    <script type="text/javascript">
        @Html.Raw(Bridgeline.Framework.UI.Angular.AngularUtility.GetAngularGlobals())
    </script>
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/angular/script/iapps-header.min.js")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/angular/script/iapps-legacy.min.js")
</body>
</html>