﻿@{
    Layout = System.Configuration.ConfigurationManager.AppSettings.Get("Layout.StandardPage");
}
@section scripts
{
    @RenderSection("viewscripts", required: false)

}
@section styles
{
    @Styles.Render("~/styles/kendo")
    @Styles.Render("~/styles/kendoDataViz")

    @RenderSection("viewsstyles", required: false)
}

@Html.Action("DynamicActionFromPartialView", "ChildAction", new { actionName = "dashboard.select.list.filters" })
<div class="iapps-dashboard">
    @Html.Action("DynamicActionFromPartialView", "ChildAction", new { actionName = "dashboard.tabs" })
    <div class="iapps-dashboard-tab-content clear-fix">
        @Html.Action("DynamicActionFromPartialView", "ChildAction", new { actionName = "dashboard.tab.icon.nav" })
        @RenderBody()
    </div>
</div>

