﻿@model IEnumerable<Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.INamedNavigationItem>

<ul class="iapps-tabs clear-fix">
@foreach (Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.INamedNavigationItem item in Model) 
{
    <li id="@item.ID" 
        @foreach (System.Collections.Generic.KeyValuePair<string, string> kvp in item.HtmlAttributes) 
        {
            @Html.Raw(item.GetFormattedHtmlAttribute(kvp))
        }        
    ><span><a href="@item.NavigationUrl">@item.Caption</a></span></li>
 }
</ul>
<div class="iapps-tab-border"><!--Tab border--></div>
