﻿@model Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.DataTableAdminGrid
@if (Model.Data != null)
{
    <script type="text/javascript">
            @Html.Raw(Model.DefaultGridActionsDtoScriptObject)
    </script>
    <div class="grid-actions" gridId="@Model.GridID" gridActionsMethodName="@Model.GridActionsSessionMethodName" gridControllerName="@Model.GridControllerName" >
        @Html.Action("RenderGridActions", Model.GridControllerName, new { gridName = Model.GridName, pageName = Model.PageName, gridChildActionID = Model.GridID, gridXmlFilePath = Model.GridActionsXmlFilePath, gridXslFilePath = Model.GridActionsXslFilePath })
    </div>
    int i = 0;
    int colCount = 0;
    <div class="grid-section grid collection-table">
        <table class="extension-grid">
            <colgroup>
            @foreach (System.Data.DataColumn dc in Model.DisplayColumns)
            {
                <col class="@Model.GetColumnCssClass(dc.ColumnName)" @Html.Raw(Model.GetColumnWidth(dc.ColumnName)) />
            }
            </colgroup>
            <thead>
                <tr>
                    @foreach (System.Data.DataColumn dc in Model.DisplayColumns)
                    {
                        <th>@Html.Raw(Model.HeaderColumnToString(dc))</th>
                    }
                </tr>
            </thead>
            @if (Model.DisplayRows == true)
            {
                <tbody>
                    @if (Model.Data.Rows.Count > 0)
                    {
                        foreach (System.Data.DataRow dr in Model.Data.Rows)
                        {
                            i++;
                            colCount = 0;
                            <tr class="collection-row grid-item iapps-row " objectid="@Convert.ToString(dr[Model.IDColumnName])" >
                                @foreach (System.Data.DataColumn dc in Model.DisplayColumns)
                                {
                                    colCount = colCount + 1;
                                    <td>
                                        @Html.Raw(Model.DataRowColumnValueToString(dr, dc))
                                        @if (colCount == 1)
                                        {
                                            foreach (System.Data.DataColumn hdc in Model.HiddenColumns)
                                            {
                                                @Html.Raw(Model.DataRowHiddenColumnValueToString(dr, hdc))
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="empty-grid-row">
                            <td colspan="100">
                                No items found.
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
}