﻿@model Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.ISelectListFilters
@if (Model.Count() > 0)
{
    <script type="text/javascript">
        function changeFilter(selectObject) {
            ShowiAppsLoadingPanel();

            var filterName = encodeURIComponent(selectObject.name);
            var filterNameValue = filterName.concat("=", selectObject.value);
            var url = stripQueryStringAndHashFromPath(window.location.toString());
            url = url.concat('?', filterNameValue);
            return url;
        }

        function clearFilter(parameterName, parameterValue) {
            var parameterNameValue = parameterName.concat("=", parameterValue);
            var url = stripQueryStringAndHashFromPath(window.location.toString());
            url = url.concat('?', parameterNameValue);
            return url;
        }

        function stripQueryStringAndHashFromPath(url) {
            return url.split("?")[0].split("#")[0];
        }

        function DisableFilters() {
            $(".filter-controls select").each(function () {
                $(this).kendoComboBox({ enabled: false });
            });

            $(".filter-refresh").prop("@Model.ClearFilterEventName", null);
        }

        $(function () {
            $(".filter-controls select").each(function () {
                var $this = $(this);
                $(this).kendoComboBox({
                    filter: "contains",
                    change: function (e) {
                        if (this.selectedIndex != -1 ) {
                            window.location = changeFilter($this[0]);
                        }
                    }
                });
            });

            $(".filter-control").on("focus click", ".k-input", function () {
                $(this).val("");
            });

        });
    </script> 
    <div class="filter-section clear-fix">
        <label class="filter-label">
            Filters
        </label>
        <div class="filter-controls">
            @foreach (Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.ISelectListFilter item in Model)
            {
                <span class="filter-control">
                    @Html.DropDownList(item.ID, item.SelectListItems, item.HtmlAttributes)
                </span>
            }
        </div>
        <a class="filter-refresh" id="lnkSelectListFilterRefresh" href="#" title="@Model.ClearFilterIconTitle" @Model.ClearFilterEventName="@Model.ClearFilterEventValue">
            <img src="@Model.ClearFilterIconImage" />
        </a>
    </div>
    <div class="clear-fix">
        <!-- Clear float-->
    </div>
}
