﻿@model Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.ITabNavigationIcons
@if (Model.HasNavigation() == true)
{
    <div class="navigation-bar clear-fix ">
        <div class="navigation-links">
            @foreach (Bridgeline.iAPPS.Admin.Extensions.Web.Core.Models.INamedNavigationItem item in Model)
            {
                <a class="@item.HtmlAttributes["class"]"  href ="@item.NavigationUrl">
                    @item.Caption
                </a>
            }
        </div>
    </div>
}


